@font-face {
  font-family: RalewayLight;
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/RalewayLight.ttf) format("truetype");
}

@font-face {
  font-family: RalewayRegular;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/RalewayRegular.ttf) format("truetype");
}

@font-face {
  font-family: RalewayMedium;
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/RalewayMedium.ttf) format("truetype");
}

@font-face {
  font-family: RalewaySemiBold;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/RalewaySemiBold.ttf) format("truetype");
}

@font-face {
  font-family: RalewayBold;
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/RalewayBold.ttf) format("truetype");
}

@font-face {
  font-family: MagistralC;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/MagistralC.otf) format("opentype");
}

@font-face {
  font-family: MagistralCBold;
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/MagistralCBold.otf) format("opentype");
}

html {
  font-size: 16px;
}

.main_header {
  margin-bottom: 0rem;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(42, 57, 79, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(42, 57, 79, 0.1);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.box_logo {
  padding-top: 15px;
  padding-bottom: 9px;
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu_list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu_item {
  list-style: none;
  font-size: 1rem;
  padding-left: 2rem;
  padding-top: 1.5625rem;
}

.menu_item :hover {
  color: #EB8F08;
}

.link_WithArrowSecond,
.link_WithArrow {
  position: relative;
  padding-right: 1.5rem;
}

.link_WithArrowSecond:before,
.link_WithArrow:before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  background-image: url(../img/Icon_arrow_down.svg);
  background-repeat: no-repeat;
}

.link_WithArrow:before {
  left: 150px;
}

.link_WithArrowSecond:before {
  left: 110px;
}

.menu_item-link {
  font-family: RalewaySemiBold;
  text-decoration: none;
  color: #2A394F;
  font-size: 1rem;
}

.header_btn-toTry {
  text-transform: uppercase;
  width: 114px;
  max-height: 35px;
  color: #2A394F;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: RalewayBold;
  font-weight: 800;
  font-size: 0.8125rem;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(42, 57, 79, 0.2);
  box-shadow: 0px 3px 6px 0px rgba(42, 57, 79, 0.2);
  border-radius: 4px;
  margin-top: 1.1875rem;
  margin-left: 2.5rem;
  background-image: url(../img/Icon_signin.svg);
  background-repeat: no-repeat;
  background-position: 15% 43%;
  padding-left: 1.6rem;
}

.header_btn-toTry:hover {
  background-color: #F8F8F8;
  -webkit-transition: .4s;
  transition: .4s;
}

.header_btn-toTry:active {
  background-color: #EFEFEF;
  -webkit-transition: .2s;
  transition: .2s;
}

.default {
  max-width: 100%;
}

.wrapper {
  width: 620px;
  margin: 0 auto;
  padding-right: 40rem;
  min-height: 321px;
}

.wrapperMain-second {
  width: 700px;
  margin: 0 auto;
  padding-right: 35rem;
  min-height: 321px;
}

.wrapperMain-third {
  width: 1170px;
  margin: 0 auto;
  padding-right: 5rem;
  min-height: 385px;
}

.wrapperMain_dots {
  width: 620px;
  margin: 0 auto;
  padding-right: 40rem;
}

.main_slider-titleThird,
.main_slider-titleSecond,
.main_slider-title {
  font-family: MagistralCBold;
  color: #2A394F;
  font-size: 2rem;
  margin-top: 8.0625rem;
  margin-bottom: 1.875rem;
  margin-left: 5rem;
}

.main_slider-title {
  color: #2A394F;
}

.main_slider-titleSecond {
  color: #fff;
}

.main_slider-titleThird {
  color: #2A394F;
}

.main_slider-textThird,
.main_slider-textSecond,
.main_slider-text {
  font-size: 1.125rem;
  font-family: RalewayRegular;
  margin-bottom: 0;
  margin-left: 5rem;
}

.main_slider-text {
  color: #7888A1;
}

.main_slider-textSecond {
  color: #BBC3D0;
}

.main_slider-textThird {
  color: #BBC3D0;
}

.main_slider-link {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: RalewayBold;
  width: 121px;
  height: 35px;
  color: #fff;
  background-color: #FF9801;
  margin-top: 2rem;
  font-size: 0.8125rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 4rem;
  margin-left: 5rem;
}

.main_slider-link:hover {
  background-color: #FCAA31;
  -webkit-transition: .4s;
  transition: .4s;
}

.main_slider-link:active {
  background-color: #DF8500;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider_screen {
  margin-top: 0;
  margin-bottom: 0;
}

.slick-slide {
  outline: none;
}

.main_slider-first,
.main_slider-second,
.main_slider-third,
.main_slider-four {
  background-size: cover;
  background-position: center center !important;
  background-repeat: no-repeat;
  max-height: 450px;
}

.main_slider-first {
  background-image: url(../img/Image_slide_1.png);
  background-color: #F8F9FC;
}

.main_slider-second {
  background-image: url(../img/Image_slide_2.png);
}

.main_slider-third {
  background-image: url(../img/Imahe_slide_3.png);
  padding-bottom: 4rem;
}

.main_slider-four {
  background-image: url(../img/Image_slide_4.png);
}

.prev {
  outline: none;
  border: none;
  position: absolute;
  top: 200px;
  left: 30px;
  width: 30px;
  height: 40px;
  background: transparent;
  background-image: url(../img/2.png);
  background-position: center center !important;
  background-size: auto !important;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 999;
  opacity: 1;
}

.slick-slide {
  outline: none;
}

.next {
  outline: none;
  border: none;
  position: absolute;
  bottom: 210px;
  right: 30px;
  width: 30px;
  height: 40px;
  background: transparent;
  background-image: url(../img/1.png);
  background-position: center center !important;
  background-size: auto !important;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 999;
  opacity: 1;
}

.next:focus {
  outline: none;
  border: none;
}

.next:active {
  outline: none;
  border: none;
}

.controls {
  width: 24px;
  height: 24px;
  background-image: url(../img/Icon_play.svg);
  background-size: 24px 24px;
  background-position: 63% 49%;
  background-repeat: no-repeat;
  background-color: #E0E6F1;
  border-radius: 50%;
  border: none;
  outline: none;
  position: relative;
  bottom: 49px;
  left: 380px;
}

.dots {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dots li.slick-active:after {
  content: '';
  display: block;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  background: #BBC3D0;
  -webkit-animation: anim 5000ms linear;
  animation: anim 5000ms linear;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes anim {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes anim {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.dots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dots li {
  overflow: hidden;
  cursor: pointer;
  margin-left: 5px;
  position: relative;
  list-style: none;
  width: 100px;
  height: 4px;
  background: #E0E6F1;
}

.dots li button {
  display: none;
}

.slick-dots {
  width: 1200%;
  bottom: 58px;
  right: -338px;
}

.good {
  position: relative;
}

.dots {
  position: absolute;
}

.slick-dotted,
.slick-slider {
  margin-bottom: 0 !important;
}

.main_titleWithUs,
.main_titleEscort,
.main_titleTransportation,
.main_titleApplications {
  font-size: 2rem;
  font-family: MagistralCBold;
  color: #2A394F;
  margin-bottom: 2rem;
}

.title_withUs_continue,
.WithUs_title,
.title_escort,
.title_transportation,
.title_applicationsContinue,
.title_applications {
  color: #2A394F;
  font-size: 1.25rem;
  font-family: RalewaySemiBold;
  cursor: pointer;
}

.title_question-calc span,
.title_question-address span {
  font-size: 1rem;
  color: #7888A1;
  font-family: RalewayRegular;
  font-weight: 400;
}

.title_withUs_continue {
  margin-top: 4px;
  margin-bottom: 16px;
  margin-right: 14rem;
}

.withUs_boxContinue {
  width: 400px;
  padding-right: 0rem;
}

.withUs_boxContinue-location {
  padding-right: 0rem;
}

.withUs_boxContinue-flow {
  padding-right: 0;
}

.withUs_boxContinue,
.withUs_continue-box,
.WithUs_box,
.escort_box,
.applecations_continue-box,
.applications_box {
  color: #7888A1;
  font-family: RalewayMedium;
  line-height: 22px;
}

.applications_box-bargain {
  width: 360px;
}

.withUs_linkRight,
.escort_link,
.applications_linkRight,
.applications_link {
  font-size: 1.125rem;
  font-family: RalewayRegular;
  color: #EB8F08;
  padding-bottom: 0.2rem;
  position: relative;
}

.withUs_linkRight:after,
.escort_link:after,
.applications_linkRight:after,
.applications_link:after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon_smallRight.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 2.2px;
  left: 95px;
}

.withUs_linkRight {
  margin-top: 1rem;
  margin-right: 21rem;
}

.applications_linkRight {
  margin-right: 23.3rem;
}

.escort_link {
  margin-right: 23rem;
}

.active {
  display: block;
}

.title_withUs-location,
.title_question-chaffer,
.title_question-counterparty,
.title_question-search,
.title_question-flow,
.title_question-Directory,
.title_question-calc,
.title_question-News,
.title_question-Notifications,
.title_question-Message,
.title_question-countdown,
.title_question-info,
.title_question-connection,
.title_question-change,
.title_question-help,
.title_question-planning,
.title_question-driver,
.title_question-GeoTracking,
.title_question-document,
.title_question-assessment,
.title_question-address,
.title_question-price,
.title_question-bargain,
.title_question-request,
.title_question-multi,
.title_question-transfer,
.title_question-free,
.title_question-ads,
.title_question-create {
  background-image: url(../img/Icon_circle_normal.svg);
  background-repeat: no-repeat;
  background-position: 0% 5%;
  padding-left: 2rem;
  position: relative;
  z-index: 9998;
}

.title_question-search {
  padding-right: 1.8rem;
}

.title_question-counterparty {
  margin-right: 12.7rem;
}

.title_question-chaffer {
  margin-right: 12.84rem;
}

.title_withUs-location {
  margin-right: 18.3rem;
}

.title_question-price,
.title_question-request {
  padding-right: 15rem;
}

.title_question-bargain {
  padding-right: 14.7rem;
}

.title_question-address {
  padding-right: 2.4rem;
}

.title_question-assessment {
  padding-right: 14.77rem;
}

.title_question-document {
  max-width: 400px;
  padding-right: 2.1rem;
}

.applications_box-request {
  padding-right: 4.4rem;
}

.applications_box-bargain {
  padding-right: 4.4rem;
}

.applications_box-price {
  padding-right: 1.1rem;
}

.applications_box-address {
  width: 370px;
  padding-right: 4rem;
}

.applications_box-assessment {
  padding-right: 0.1rem;
}

.img_pressed {
  background-image: url(../img/Icon_arrow_circle_pressed.svg);
  background-repeat: no-repeat;
}

.applications_box-change,
.applications_box-help,
.applications_box-planning,
.applications_box-driver,
.applications_box-GeoTracking,
.applications_box-multi,
.applications_box-transfer,
.applications_box-free,
.applications_box-create,
.applications_box-ads {
  padding-left: 2rem;
}

.applications_box-GeoTracking {
  max-width: 420px;
}

.applications_box-create {
  max-width: 420px;
}

.applications_box-transfer {
  max-width: 382px;
  height: 182px;
}

.applications_box-transfer p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.applications_box-GeoTracking p {
  margin-top: 0;
  margin-bottom: 0rem;
}

.withUs_continue-box,
.escort-box_wrap,
.applecations_continue-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.box-WithUs_menu,
.box-change_menu,
.box-planning_menu,
.box-driver_menu,
.box-multi_menu,
.box-ads_menu,
.box-free_menu {
  padding-left: 0;
}

.box-WithUs_menu,
.box-change_menu,
.box-planning_menu,
.box-driver_menu,
.box-multi_menu,
.box-ads_menu,
.box-free_menu,
.box-request_menu,
.box-applications_menu {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
}

.WithUs_menu-item,
.change_menu-item,
.planning_menu-item,
.driver_menu-item,
.multi_menu-item,
.ads_menu-item,
.free_menu-item {
  max-width: 400px;
  padding-bottom: 1rem;
  padding-left: 0;
}

.request_menu-item {
  width: 360px;
  padding-bottom: 1rem;
}

.applications_menu-item {
  width: 360px;
  padding-right: 5rem;
  padding-bottom: 1rem;
}

.applications_box-transfer p:last-child {
  margin-bottom: 0;
}

.free_menu-item:last-child {
  padding-bottom: 0;
}

.ads_menu-item:last-child {
  padding-bottom: 0;
}

.multi_menu-item:last-child {
  padding-bottom: 1rem;
}

.request_menu-item:last-child {
  padding-bottom: 0;
}

.driver_menu-item:last-child {
  padding-bottom: 0;
}

.planning_menu-item:last-child {
  padding-bottom: 0;
}

.WithUs_menu-item:last-child {
  padding-bottom: 0;
}

.section_withUs,
.section_escort,
.section_transportation,
.applecations_continue,
.section_applications {
  margin-bottom: 4rem;
}

.section_applications {
  margin-top: 2rem;
}

.section_transportation {
  margin-top: 7rem;
}

.section_escort {
  margin-top: 7rem;
}

.withUs_continue {
  padding-top: 10rem;
  padding-bottom: 9rem;
  margin-bottom: 0;
  background-image: url(../img/grey.png);
  background-size: cover;
}

.section_withUs {
  padding-top: 2rem;
  margin-top: 10rem;
  margin-bottom: 0;
  padding-bottom: 4rem;
  background-image: url(../img/grey.png);
  background-size: cover;
}

.main_titleEscort {
  padding-right: 15rem;
}

.title_question-connection {
  padding-right: 14rem;
}

.title_question-info {
  max-width: 420px;
  padding-right: 0.54rem;
}

.title_question-countdown {
  padding-right: 5rem;
}

.escort_box-connection {
  margin-right: 11.8rem;
  margin-bottom: 0.8rem;
}

.escort_box-connection p {
  margin-top: 0;
  margin-bottom: 0;
}

.WithUs_box-Directory p {
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.WithUs_box-calc p {
  margin-top: 0;
  margin-bottom: 0;
}

.escort_box-info {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.escort_box-countdown {
  margin-right: 17.3rem;
  margin-bottom: 1rem;
}

.title_applicationsContinue,
.title_escort {
  margin-bottom: 1rem;
  margin-top: 4px;
}

.applications_boxContinue {
  margin-bottom: 0.8rem;
}

.withUs_box-Message {
  margin-left: 2rem;
}

.withUs_box-Message p {
  width: 400px;
}

.withUs_box-Notifications p,
.withUs_box-Message p {
  margin-top: 0;
  margin-bottom: 0;
}

.withUs_box-Notifications {
  margin-left: 2rem;
}

.WithUs_box-News {
  margin-left: 2rem;
}

.WithUs_box-Directory,
.WithUs_box-calc {
  margin-left: 2rem;
}

.withUs_boxContinue {
  margin-bottom: 10px;
}

.withUs_boxContinue-search {
  width: 400px;
}

.section_tariffs {
  margin-top: 4rem;
  margin-bottom: 0rem;
}

.title_tariffs {
  font-family: RalewayBold;
  font-size: 2.5rem;
  color: #2A394F;
  text-align: center;
}

#tabs .tab {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  z-index: 15;
  margin-bottom: 2rem;
  margin-left: 2rem;
  left: 400px;
}

#tabs .whiteborder {
  border-bottom: 1px solid #FF9801;
  color: #FF9801;
}

#tabs .tabContent {
  z-index: 1;
  border-radius: 0 0 3px 3px;
}

#tabs .hide {
  display: none;
}

#tabs .show {
  display: block;
}

.tab {
  color: #2A394F;
  font-size: 1.125rem;
  font-family: RalewayMedium;
  font-weight: 500;
}

.tab:nth-child(2) span {
  color: #7888A1;
  font-size: 0.875rem;
  font-family: RalewayMedium;
  font-weight: 500;
}

.tariffs_box-title {
  color: #2A394F;
  font-size: 2rem;
  font-family: MagistralCBold;
  font-weight: 800;
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 1.625rem;
}

.tariffs_box {
  height: 471px;
  width: 270px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(120, 136, 161, 0.4);
  box-shadow: 0px 4px 10px 0px rgba(120, 136, 161, 0.4);
}

.tariffs_box:hover {
  -webkit-box-shadow: 0px 6px 20px 0px rgba(120, 136, 161, 0.4);
  box-shadow: 0px 6px 20px 0px rgba(120, 136, 161, 0.4);
  -webkit-transform: translateY(-2%);
  transform: translateY(-2%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tariffs_box-users {
  color: #2A394F;
  font-size: 1rem;
  font-family: MagistralCBold;
  font-weight: 800;
  margin-top: 0;
  text-align: left;
  margin-left: 3.25rem;
  margin-bottom: 0;
}

.conditions_btn {
  width: 221px;
  height: 35px;
  color: #fff;
  font-size: 13px;
  font-family: MagistralCBold;
  font-weight: 800;
  padding: 12px 0 14px 0;
  background-color: #FF9801;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 3.3125rem;
  margin-bottom: 2rem;
  margin-left: 24px;
}

.conditions_btn:hover {
  background-color: #FCAA31;
  -webkit-transition: .4s;
  transition: .4s;
}

.conditions_btn:active {
  background-color: #DF8500;
  -webkit-transition: .4s;
  transition: .4s;
}

.menu_conditions-item {
  color: #2A394F;
  font-size: 1rem;
  font-family: RalewayMedium;
  font-weight: 500;
  margin-bottom: 1rem;
  list-style: none;
  text-align: left;
  margin-left: 0.85rem;
  position: relative;
}

.menu_conditions-item:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 220px;
  top: 4px;
  background-repeat: no-repeat;
  background-image: url(../img/Icon_check.svg);
}

.menu_conditions {
  margin-bottom: 0;
  padding-top: 2rem;
}

.menu_conditions-item:last-child {
  margin-bottom: 0;
}

.box_conditions {
  margin-top: 0.4rem;
  background-color: #F8F9FC;
  padding-bottom: 12px;
}

.wrapper_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.info_text-conditions {
  color: #7888A1;
  font-size: 0.875rem;
  font-family: RalewaySemiBold;
  font-weight: 600;
}

.tariffs_btnBlue {
  background-color: #163464;
  text-transform: uppercase;
}

.tariffs_btnBlue:hover {
  background-color: #2C4771;
  -webkit-transition: .4s;
  transition: .4s;
}

.tariffs_btnBlue:active {
  background-color: #10274B;
  -webkit-transition: .4s;
  transition: .4s;
}

.tariffs_btnBlue-first {
  margin-top: 4.85rem;
}

.tariffs_btnBlue-second {
  margin-top: 2.7rem;
}

.tariffs_btnBlue-third {
  margin-top: 6.9rem;
}

.tariffs-users_infinity,
.tariffs-users_six,
.tariffs-users_four,
.tariffs-users_one {
  position: relative;
}

.tariffs-users_infinity:before,
.tariffs-users_six:before,
.tariffs-users_four:before,
.tariffs-users_one:before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-repeat: no-repeat;
}

.tariffs-users_one:before {
  top: 2px;
  left: -22px;
  background-image: url(../img/Icon_demo.svg);
}

.tariffs-users_four:before {
  top: 4px;
  left: -25px;
  background-image: url(../img/Icon_group.svg);
}

.tariffs-users_six:before {
  top: 4px;
  left: -25px;
  background-image: url(../img/Icon_expert.svg);
}

.tariffs-users_infinity:before {
  top: 6px;
  left: -25px;
  background-image: url(../img/Icon_profiPlan.svg);
}

.conditions-itemPlus:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 220px;
  top: 2px;
  background-repeat: no-repeat;
  background-image: url(../img/Icon_plus.svg);
}

.section_app {
  background-image: url(../img/Bg_mobile.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  padding-bottom: 5.3rem;
}

.app_title {
  color: #000000;
  font-family: MagistralCBold;
  font-weight: 800;
  font-size: 2rem;
  padding-bottom: 1.3875rem;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 7rem;
}

.app_text {
  font-size: 1rem;
  color: #000000;
  opacity: 0.5;
  font-family: RalewayMedium;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
  width: 400px;
  line-height: 22px;
}

.box_partner-support,
.box_partner-help {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

.title_partner {
  font-size: 2rem;
  font-family: MagistralCBold;
  font-weight: 800;
  color: #2A394F;
  text-align: center;
  margin-top: 0rem;
}

.partner_box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.partner_box-img img {
  max-width: 100%;
}

.bollore {
  position: relative;
  bottom: 52px;
}

.bluegrace {
  position: relative;
  top: 32px;
}

.mvlogistics {
  position: relative;
  bottom: 38px;
}

.tabs-wrapper {
  margin: 0 auto;
  text-align: center;
}

.nav-tabs {
  margin-bottom: 0;
}

.nav-tabs li {
  list-style: none;
  display: inline-block;
}

.nav-tabs a {
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  color: #A1ACBD;
  padding: 12px 24px 0px 0px;
  font-size: 1.125rem;
  font-family: RalewayBold;
  font-weight: 800;
}

.tab-pane {
  padding: 20px;
  background: #f7f7f9;
  display: none;
}

.tab-open {
  display: block;
}

.section_partner {
  background-color: #F8F9FC;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.nav-tabs li.select a {
  color: #FF9801 !important;
}

.partner_link {
  color: #EB8F08;
  font-size: 1.125rem;
  font-family: RalewayRegular;
  padding-bottom: 0.5rem;
  position: relative;
}

.partner_link:after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2.6px;
  right: -24px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_smallRight.svg);
}

.main_footer {
  background-color: #0E2D5B;
}

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-top: 2rem;
}

.footer-logo_img {
  padding-top: 1.5rem;
  padding-bottom: 1.125rem;
}

.footer_item {
  list-style: none;
  margin-left: 4.5rem;
  margin-bottom: 0;
  padding-bottom: 1.6875rem;
}

.footer_item-link {
  text-decoration: none;
  color: #fff !important;
  font-size: 1rem;
  font-family: RalewayMedium;
}

.footer_item-link:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #cccccc;
}

.Rights_link-fb,
.Rights_link-vk,
.Rights_link-school {
  color: #fff !important;
  text-decoration: none;
}

.section_Rights {
  background-color: #173561;
}

.text_Rights {
  font-size: 0.8125rem;
  color: #FFFFFF;
  opacity: 0.5;
  font-family: RalewayLight;
  margin: 0;
  padding: 20px 0;
  float: left;
}

.box_Rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 10px 0;
}

.box_Rights a {
  padding-left: 20px;
}

.Rights_link-question {
  text-decoration: none;
  background-color: #2D486F;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff;
  font-family: RalewayBold;
  font-size: 0.8125rem;
  padding: 10px 20px;
}

.svg-third path:first-child:hover,
.svg-second path:first-child:hover,
.svg-first path:first-child:hover {
  fill: #173b72 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main_title-statistics,
.main_title-review {
  color: #2A394F;
}

.main_text-statistics,
.main_text-review {
  width: 470px;
  color: #7888A1;
  font-size: 1rem;
  font-family: RalewayMedium;
  line-height: 130%;
}

.statistics_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistics_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5rem;
  margin-left: 12rem;
}

.otherList {
  margin-left: 3rem;
}

.statistics_menu p {
  color: #2A394F;
  font-family: MagistralCBold;
  font-size: 1.125rem;
  line-height: 128.91%;
  margin-bottom: 0.1rem;
}

.statistics_menu span {
  display: block;
}

.statistics_price {
  font-family: MagistralCBold;
  font-size: 2rem;
  line-height: 40px;
  color: #2A394F;
}

.text_toDay {
  font-family: MagistralC;
  font-size: 1.125rem;
  line-height: 23px;
  color: #7888A1;
}

.box_cargo,
.box_participants {
  padding-right: 67px;
}

.box_participants {
  padding-bottom: 40px;
}

.box {
  display: none;
  position: relative;
}

.window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.window-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  position: relative;
}

.item28,
.item26,
.item25,
.item24,
.item23,
.item22,
.item21,
.item20,
.item19,
.item18,
.item17,
.item16,
.item15,
.item14,
.item13,
.item12,
.item11,
.item10,
.item9,
.item8,
.item7,
.item6,
.item5,
.item4,
.item3,
.item2,
.item {
  position: relative;
}

.item28 img,
.item26 img,
.item25 img,
.item24 img,
.item23 img,
.item22 img,
.item21 img,
.item20 img,
.item19 img,
.item18 img,
.item17 img,
.item16 img,
.item15 img,
.item14 img,
.item13 img,
.item12 img,
.item11 img,
.item10 img,
.item9 img,
.item8 img,
.item7 img,
.item6 img,
.item5 img,
.item4 img,
.item3 img,
.item2 img,
.item img {
  position: absolute;
}

.item img {
  right: 0px;
  bottom: -46px;
}

.item2 img {
  right: 83px;
  bottom: -200px;
}

.item3 img {
  right: 83px;
  bottom: 30px;
}

.item4 img {
  right: 83px;
  bottom: -120px;
}

.item5 img {
  right: 83px;
  bottom: -100px;
}

.item6 img {
  right: 83px;
  bottom: 35px;
}

.item7 img {
  right: 83px;
  bottom: -165px;
}

.item8 img {
  right: 83px;
  bottom: -115px;
}

.item9 img {
  right: 83px;
  bottom: -115px;
}

.item10 img {
  right: 83px;
  bottom: -115px;
}

.item11 img {
  right: 83px;
  bottom: 50px;
}

.item12 img {
  right: 153px;
  bottom: -185px;
}

.item13 img {
  right: 83px;
  bottom: -115px;
}

.item14 img {
  right: 83px;
  bottom: -115px;
}

.item15 img {
  right: 0;
  bottom: -185px;
}

.item16 img {
  right: 0px;
  bottom: -150px;
}

.item17 img {
  right: 0px;
  bottom: -90px;
}

.item18 img {
  right: 0px;
  bottom: -80px;
}

.item19 img {
  right: 0px;
  bottom: -70px;
}

.item20 img {
  right: 170px;
  bottom: -250px;
}

.item21 img {
  right: 170px;
  bottom: -180px;
}

.item22 img {
  right: 170px;
  bottom: -125px;
}

.item23 img {
  right: 170px;
  bottom: -60px;
}

.item24 img {
  right: 170px;
  bottom: -40px;
}

.item25 img {
  right: 0px;
  bottom: -100px;
}

.item26 img {
  right: 0px;
  bottom: -110px;
}

.item28 img {
  right: 0px;
  bottom: 30px;
}

.header_fix {
  width: 100%;
  padding-bottom: 2rem;
  position: static;
  top: 0;
  z-index: 9999 !important;
  background-color: #fff;
}

.header_fix-menu {
  -webkit-box-shadow: 0px 4px 16px rgba(42, 57, 79, 0.1);
  box-shadow: 0px 4px 16px rgba(42, 57, 79, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 4px;
  margin-top: 0;
  padding: 0;
  background-color: #fff;
}

.menu_fix-itemFirst,
.menu_fix-itemSecond,
.menu_fix-itemThird,
.menu_fix-itemFour,
.menu_fix-itemFive {
  list-style: none;
  padding-bottom: 20px;
  padding-top: 30px;
  background-color: #fff !important;
}

.box_default {
  width: 231px;
  height: 78px;
  text-align: center;
  background-color: #fff !important;
  opacity: 1;
}

.box_default:hover {
  background-color: #F9FAFD;
  color: #EB8F08;
}

.box_default:hover .menu_fix-itemLink {
  font-size: 20px;
  color: #EB8F08;
}

.menu_fix-itemLink {
  text-decoration: none;
  font-family: RalewayBold;
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 21px;
  color: #2A394F;
}

.menu_fix-itemLink:hover {
  color: #EB8F08;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.img_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.swim_true {
  display: block;
}

.textCargo {
  position: relative;
}

.textCargo:before {
  background-image: url("../img/Group 3.3.png");
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 150px;
  top: 8px;
}

.textParticipant {
  position: relative;
}

.textParticipant:before {
  background-image: url("../img/Group 3.5.png");
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 150px;
  top: 8px;
}

.textCars {
  position: relative;
}

.textCars:before {
  background-image: url("../img/Ellipse.png");
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 140px;
  top: 8px;
}

.textTander {
  position: relative;
}

.textTander:before {
  background-image: url("../img/Group 3.6.png");
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 140px;
  top: 8px;
}

.answer_boxMobile,
.answer_box6,
.answer_box5,
.answer_box4,
.answer_box3,
.answer_box2,
.answer_box {
  display: none;
}

.answer_active {
  display: block;
  padding-bottom: 1rem;
}

.answer_active-mobile {
  padding-top: 1rem;
}

.your {
  width: 584px !important;
  height: 357px !important;
  position: absolute;
  left: 570px;
  top: -100px;
}

.your2 {
  width: 584px !important;
  height: 357px !important;
  position: absolute;
  right: 570px;
  top: -40px;
}

.your3 {
  width: 584px !important;
  height: 357px !important;
  position: absolute;
  left: 570px;
  top: -100px;
}

.your4 {
  width: 584px !important;
  height: 357px !important;
  position: absolute;
  right: 570px;
  top: -80px;
}

.your5 {
  width: 584px !important;
  height: 357px !important;
  position: absolute;
  left: 570px;
  top: -100px;
}

.your6 {
  width: 584px !important;
  height: 357px !important;
  position: absolute;
  right: 570px;
  top: -80px;
}

.slick-prev {
  background: url(../img/prev_arrow.png) no-repeat;
  height: 40px;
  width: 40px;
  color: #fff;
}

.slick-prev:hover {
  background: url(../img/prev_arrow.png) no-repeat;
}

.slick-prev:active {
  background: url(../img/prev_arrow.png) no-repeat;
}

.slick-prev:focus {
  background: url(../img/prev_arrow.png) no-repeat;
}

.slick-next {
  background: url(../img/next_arrow.png) no-repeat;
  height: 40px;
  width: 52px;
  color: #fff;
  right: -60px;
}

.slick-next:hover {
  background: url(../img/next_arrow.png) no-repeat;
}

.slick-next:active {
  background: url(../img/next_arrow.png) no-repeat;
}

.slick-next:focus {
  background: url(../img/next_arrow.png) no-repeat;
}

.your {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.applications_box-free {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.section_helping_browes {
  background-image: url(../img/textures.png);
  background-size: cover;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.box_browes {
  margin-left: 10rem;
}

.browes_text {
  font-size: 1.25rem;
  color: #7888A1;
  font-family: MagistralC;
  text-align: center;
}

.img_browes {
  margin-left: 3rem;
  margin-top: 1rem;
  max-width: 100%;
  text-align: center;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  bottom: 20px;
}

.hamRotate.active {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #7888A1;
  stroke-width: 4;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
  transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
  transition: transform 400ms, stroke-dashoffset 400ms;
  transition: transform 400ms, stroke-dashoffset 400ms, -webkit-transform 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

.wrapper-gamb {
  display: none;
  position: relative;
  background-color: #fff;
  color: white;
  font-family: 'Arial';
}

.gamb-menu {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.gamb-menu-link {
  display: block;
  width: 100%;
  padding-top: 25px;
  color: #2A394F;
  text-decoration: none;
  background-color: #fff;
}

.gamb-menu-link:last-child {
  padding-bottom: 1rem;
}

.active-gamb {
  max-height: 200px;
  font-size: 20px;
  display: block;
}

.section_partner-mobile {
  display: none;
}

.top_btn {
  position: fixed;
  top: 200px;
  display: none;
  cursor: pointer;
  width: inherit;
}

.section_list-road {
  display: none;
}
/*# sourceMappingURL=main.css.map */