@import "../../../MainPage/scss/main";
@import "../../../MainPage/scss/fonts";
// @import "media";

.MyProfile_btn {
	margin-bottom: 0;
}

.main_item {
	padding-top: 2.375rem;
}

// .section_saveInfo,
.section_EditUser,
.section_header {
	background-image: url(../img/fon.png);
	background-size: cover;
	padding-bottom: 0.5rem;
}

.section_EditUser {
	position: relative;
}

.section_UserPrivacy {
	background-image: url(../img/Fon_blue.png);
	background-repeat: repeat;
	background-size: cover;
	padding-bottom: 3rem;
}

.EditUser_title {
	font-size: 2.5rem;
	font-family: Axiforma;
	font-weight: 700;
	color: #000;
	margin-top: 0;
	margin-bottom: 1rem;
	text-align: center;
	margin-left: 8rem;

	&:after {
		content: "";
		display: inline-block;
		background-image: url(../img/line_number.svg);
		position: relative;
		top: 70px;
		right: 120px;
		width: 114px;
		height: 13px;
	}
}

.EditUser_text-address {
	font-family: Axiforma;
	font-weight: 400;
	color: #000;
	opacity: .54;
	font-size: 1.5rem;
	margin-top: 0;
	text-align: center;
	margin-left: 1rem;
	margin-bottom: 0;
	position: relative;
}

// 	span {
// 		&:after {
// 			content: "";
// 			display: inline-block;
// 			background-image: url(../img/line_number.svg);
// 			position: absolute;
// 			top: 30px;
// 			right: 394px;
// 			width: 114px;
// 			height: 13px;
// 		}
// 	}
// }

.form_settings {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2.875rem;
	overflow: hidden;

	label {
		font-size: 1.5rem;
		font-family: Axiforma;
		font-weight: 700;
		color: #000;
		opacity: .87;
	}
}

.label_nickname,
.label_email {
	text-align: center;
	display: inline-block;
}

.label_nickname {
	position: relative;
	right: 255px;
	top: 43px;
}

.label_email {
	position: relative;
	right: 275px;
	top: 43px;

}

.label_bio {
	position: relative;
	bottom: 0px;
	right: 210px;
	top: 42px;
	padding-right: 0.5rem;
}

.email_text,
.nickname_text {
	text-align: justify;
	font-size: 1rem;
	color: #000;
	opacity: .54;
	font-family: Axiforma;
	font-weight: 400;
	line-height: 160%;
	display: block;
	margin-left: 2.3rem;
}

.email_text {
	margin-left: -1.5rem;
	margin-bottom: 0;
}

.form_nickname,
.form_email {
	margin-left: 1rem;
	font-family: Axiforma;
	font-weight: 400;
	font-size: 1.125rem;
	width: 366px;
	height: 51px;
	padding-top: 2px;
	padding-left: 0.8rem;
	margin-left: 11.5rem;

	&::placeholder {
		padding-top: 0.5rem;
		font-size: 1.125rem;
		color: #000;
		opacity: .32;
	}
}

.form_nickname {
	margin-right: 10rem;
}

.form_email {
	margin-right: 10rem;
}

.form_bio {
	font-family: Axiforma;
	font-weight: 400;
	font-size: 1.125rem;
	text-align: left;
	padding-bottom: 5.5rem;
	width: 366px;
	height: 52px;
	padding-left: 0.8rem;
	margin-left: 1.5rem;

	&::placeholder {
		font-size: 1.125rem;
		color: #000;
		opacity: .32;
	}
}

.setting_btn {
	display: block;
	width: 180px;
	height: 48px;
	background-color: #12141B;
	color: #fff;
	font-size: 1rem;
	font-family: Axiforma;
	font-weight: 700;
	border: none;
	outline: none;
	cursor: pointer;
	margin-bottom: 3.625rem;
	margin-top: 1.5rem;
	margin-right: 11rem;
}

.title_UserPrivacy {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 2.8125rem;
	text-align: right;
	padding-right: 2.9375rem;
}

.text_UserPrivacy {
	font-size: 1rem;
	font-family: Axiforma;
	font-weight: 400;
	padding-top: 3.0625rem;
	color: #000;
	opacity: .7;
	line-height: 160%;
	margin-top: 0;
	margin-bottom: 1.75rem;

	&:nth-child(2),
	&:nth-child(3) {
		padding-top: 0;
	}
}

.box_UserPrivacy {
	display: flex;
	margin-right: 6.8rem;
	justify-content: center;
}

.btn_UserPrivacy {
	font-size: 1rem;
	font-family: ProductSans;
	font-weight: 700;
	width: 321px;
	height: 40px;
	background-color: #fff;
	color: #12141B;
	border: none;
	cursor: pointer;
	outline: 2px solid #12141B;

}


$md-checkbox-border-color-disabled: #333333;
$md-checkbox-checked-color-disabled: #333333;
$md-checkbox-checked-color: #333333;
$md-checkbox-border-color: #333333;
$md-checkbox-margin: 1em 0;
$md-checkbox-size: 1.25em;
$md-checkbox-padding: .25em;
$md-checkbox-border-width: 2px;
$md-checkbox-border-radius: 3px;
$md-checkmark-width: 0.125em;
$md-checkmark-color: #fff;
$md-checkbox-label-padding: .75em;

label:not(:empty),
input[type="checkbox"]:not(:empty),
input[type="checkbox"],
.mdCheck,
label,
label:before,
label:after,
input[type="checkbox"]:checked,
input[type="checkbox"]:disabled {
	box-sizing: border-box;
}

.form_settings {
	.box_wantUpdate {
		width: 384px;
		height: 66px;
		background-color: rgb(247, 247, 247);
		border: 1px solid #BDBDBD !important;
		opacity: 1;
		padding-left: 2.85rem;
		padding-top: 13px;
		margin-top: 2.625rem;
		margin-left: 1.5rem;
		position: relative;
	}
}

.form_settings {
	.wantUpdate_text {
		font-size: 1rem;
		font-family: Axiforma;
		font-weight: 400;
		color: rgb(112, 112, 112);
		opacity: 1;
		margin-top: 0.5rem;
		padding-right: 2rem !important;
		margin-right: 2rem;
	}
}


.mdCheck {
	&.mdCheck-inline {
		display: inline-block;
	}

	.wantUpdate_text {
		cursor: pointer;
		display: inline;
		line-height: 1.45em;
		vertical-align: top;
		clear: both;
		padding-left: 1px;

		&:not(:empty) {
			padding-left: .75em;
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 22px;
			left: 29px;
		}

		&:before {
			width: 1.25em;
			height: 1.25em;
			background: #fff;
			border: $md-checkbox-border-width solid $md-checkbox-border-color;
			border-radius: $md-checkbox-border-radius;
			cursor: pointer;
			transition: background .3s;
		}
	}

	.checkbox_wantUpdate[type="checkbox"] {
		outline: 0;
		visibility: hidden;
		width: $md-checkbox-size;
		margin: 0;
		display: block;
		float: left;
		font-size: inherit;

		&:checked {
			+.wantUpdate_text:before {
				background: $md-checkbox-checked-color;
				border: none;
			}

			+.wantUpdate_text:after {
				$md-checkmark-size: $md-checkbox-size - 2 * $md-checkbox-padding;
				transform: translate($md-checkbox-padding, ($md-checkbox-size / 2) - ($md-checkmark-size / 2.6)) rotate(-45deg);
				width: $md-checkmark-size;
				height: $md-checkmark-size / 2;
				border: $md-checkmark-width solid $md-checkmark-color;
				border-top-style: none;
				border-right-style: none;
			}
		}

		&:disabled {
			+.wantUpdate_text:before {
				border-color: $md-checkbox-border-color-disabled;
			}

			&:checked {
				+.wantUpdate_text:before {
					background: $md-checkbox-checked-color-disabled;
				}
			}
		}
	}
}

.section_saveInfo {
	background: url(../img/fon.png);
	background-size: cover;
	padding-bottom: 5rem;
	text-align: center;

	img {
		width: 100%;
		padding-top: 4.5rem;
	}
}