// @import "../../../MainPage/scss/media";

@media (max-width: 56.25em) {
	.container {
		max-width: 360px;
	}

	.section_header {
		background-size: auto;
	}

	.main_menu,
	.main_nav,
	.main_header {
		display: flex;
		justify-content: center;
	}


	.main_nav {
		margin-left: 2.5rem;
	}

	.main_logo {
		margin-right: 0;
	}

	.logo {
		width: 52px;
		height: 39px;
	}

	.main_item {
		padding-top: 1.5rem;
		padding-left: 1.1rem;
	}

	.main_item-link {
		font-size: 0.75rem;
		margin-top: 2rem;
	}

	.MyProfile_btn {
		width: 40px;
		height: 40px;
		font-size: 0;
		padding-left: 0;
		margin-left: 1.5rem;
		margin-top: 1rem;
		padding-top: 0;
		outline: none;
		background-position: center center;
		background-color: #fff;
		border-radius: 50%;
		border-color: #fff;
		margin-bottom: 0;
	}

	.EditUser_title {
		font-size: 1.5rem;
		text-align-last: left;
		margin-left: 2rem;
		padding-top: 1.5rem;
		padding-bottom: 1.2rem;
		margin-bottom: 0;

		&::after {
			background-image: url(../img/line_number-mobile.svg);
			background-repeat: no-repeat;
			right: 40px;
			top: 60px;
		}

	}

	.EditUser_text-address {
		font-size: 1rem;
		text-align-last: left;
		margin-left: 2rem;
	}

	.section_saveInfo,
	.section_EditUser {
		background-size: auto;
	}


	.label_nickname {
		display: block;
		left: 0;
		top: 0;
		font-size: 0.875rem;
	}

	.label_email {
		top: 0px;
		left: -100px !important;
	}

	.label_bio {
		margin-top: 2rem;
		top: 0px;
		left: -134px !important;
	}



	.form_settings {
		label {
			font-size: 0.875rem;
			text-align-last: left;
			left: -113px;
			margin-bottom: 13px;
		}
	}

	.form_email,
	.form_nickname {
		width: 305px;
		height: 44px;
		font-size: 1rem;
		border-left: 1px solid rgb(196, 196, 196);
		border-top: 1px solid rgb(196, 196, 196);
		border-bottom: 1px solid rgb(196, 196, 196);
		border-right: 1px solid rgb(196, 196, 196);
	}

	input[type="text"]::placeholder {
		font-size: 1rem;

	}

	.email_text,
	.nickname_text {
		margin-left: 2rem;
		font-size: 0.875rem;
		word-wrap: break-word;

		br {
			display: none;
		}

	}

	.form_bio {
		max-width: 310px;
		max-height: 153px;
		margin-left: 1.66rem;
		border-left: 1px solid rgb(196, 196, 196);
		border-top: 1px solid rgb(196, 196, 196);
		border-bottom: 1px solid rgb(196, 196, 196);
		border-right: 1px solid rgb(196, 196, 196);
	}

	.form_settings {
		.box_wantUpdate {
			width: 328px !important;
			max-height: 63px;
			margin-top: 1.3rem;
		}
	}

	.checkbox_wantUpdate {
		position: absolute;
	}


	.mdCheck {
		.wantUpdate_text {
			position: relative;
			left: -20px;
			top: -3px;
			width: 100px;
			font-size: 0.875rem;

			&:not(:empty) {
				padding-left: 2em;
			}
		}

		.wantUpdate_text {

			&:before,
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: -10px;
			}
		}
	}

	.section_UserPrivacy {
		background-size: cover;
	}

	.setting_btn {
		margin-left: 3.3rem;
		margin-bottom: 1.5rem;
		margin-top: 2rem;
	}


	.box_UserPrivacy {
		display: flex;
		margin-right: 0;
		justify-content: center;
	}


	.box_UserPrivacy {
		display: block;
	}

	.title_UserPrivacy {
		display: block;
		font-size: 1.25rem;
		margin-left: 2rem;
		padding-right: 0;
		text-align-last: left;

		br {
			display: none;
		}
	}

	.text_UserPrivacy {
		text-align: none;
		padding-top: 1rem;
		margin-left: 2rem;
		font-size: 0.875rem;
		word-wrap: break-word;

		br {
			display: none;
		}
	}

	.btn_UserPrivacy {
		margin-left: 2rem;
		max-width: 320px;
	}

	.section_saveInfo img {
		padding-top: 1.5rem;

	}

	.section_saveInfo {
		padding-bottom: 0;
	}

	.footer_menuList-box {
		padding-top: 2rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 0 auto;
	}

	.footer_item-link {
		font-size: 1rem;
	}

	.main_footer {
		flex-wrap: wrap;
		display: flex;
		background: url(../img/footer/fon_footer-mobile.png) center repeat-x,
			url(../img/Fon.jpg) no-repeat;
		background-size: contain, auto;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.mobile_menu {
		margin-bottom: 0;
		margin-top: 0;
		padding-bottom: 1rem;
	}

	.mobile_item {
		margin-left: -3rem;
	}

	.mobile_group {
		padding-bottom: 0;
	}

	.footer_item {
		margin-right: 7.125rem;
	}

	.mobile_item {
		margin-right: 0;
	}

	.mobile_item2 {
		width: 96px;
		margin-right: 4rem;
		transform: translateX(40%) translateY(25%);

		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	.mobile_privacy {
		transform: translateX(20%) translateY(15%);
	}

	.footer_group:nth-child(2) {
		margin-left: -2rem;
	}

	.line2,
	.line {
		position: relative;

		&:after {
			position: absolute;
			left: 0px;
			top: 135px;
			display: inline-block;
			content: "";
			height: 1px;
			width: 240px;
			background-image: url(../img/footer/Line2.png);
		}
	}

	.line {
		&:after {
			left: -0px;
			top: 135px;
		}
	}

	.line2 {
		&:after {
			left: 1px;
			top: 135px;
		}
	}

	.mobile_menu {
		display: flex;
	}
}

@media (max-width: 22.375em) {

	.btn_UserPrivacy {
		margin-left: 0.6rem;
		width: 300px;
	}

	.email_text,
	.nickname_text {
		margin-left: 0.5rem;
	}

	.text_UserPrivacy,
	.title_UserPrivacy {
		margin-left: 0.5rem;
	}

	.EditUser_title {
		width: 248px;
		height: 27px;
		margin-left: 0;

		&::after {
			background-image: url(../img/line_number-mobile.svg);
			background-repeat: no-repeat;
			right: -188px;
			top: 40px;
		}
	}

	.EditUser_text-address {
		margin-left: 1.3rem;
	}

	.form_email,
	.form_nickname {
		margin-left: 10rem;
		width: 284px;
	}

	.form_bio {
		width: 284px;
		margin-left: 0;
	}

	.form_settings .box_wantUpdate {
		width: 298px !important;
		margin-left: 0;
	}

	.email_text,
	.nickname_text {
		margin-left: 0;

		br {
			display: none;
		}
	}

	.email_text,
	.nickname_text {
		width: 295px;
		text-align: initial;
	}
}

@media (max-width: 20em) {
	.container {
		max-width: 320px;
		padding: 0;
	}

	.MyProfile_btn {
		padding-right: 0;
		padding-left: 0;
		margin-left: 0.8rem;
		margin-right: 0;
	}

	.main_logo {
		margin-right: 0;
		margin-left: 1rem;
	}

	.main_nav {
		margin-left: 3.1rem;
	}

	.setting_btn {
		margin-left: 3.8rem;
	}

}