@import "../../../MainPage/scss/fonts";
@import "../../../MainPage/scss/main";


.MyProfile_btn {
	margin-bottom: 0;
}

.main_item {
	padding-top: 2.375rem;
}

.section_sell_filtr,
.section_share,
.section_header {
	background-image: url(../img/fon.png);
	background-size: cover;
	padding-bottom: 0.5rem;
}

.section_SellThePainting {
	background-color: #12151E;
}

.title_SellThePainting {
	font-size: 2rem;
	font-family: Anton;
	font-weight: 400;
	color: #fff;
	padding-bottom: 0.7rem;
	padding-top: 0.7rem;
	margin-left: 0rem;
	margin-top: 0;
	margin-bottom: 0;

	&:before {
		background-image: url(../img/arrow_down.svg);
		display: inline-block;
		content: "";
		width: 32px;
		height: 32px;
		position: relative;
		top: 2px;
		right: 6px;
	}
}

.section_share {
	background-image: url(../img/Kamenny_fon.png);
}

.box_img {
	text-align: center;
}

.img_share {
	padding-top: 4.375rem;
	padding-bottom: 4.375rem;
	text-align: center;
	margin-left: 0.4rem;
	max-width: 100%;
}

.title_filtr {
	font-size: 2rem;
	font-family: Axiforma;
	font-weight: 700;
	color: #000;
	margin-bottom: 1.5rem;
	margin-top: 0;
	padding-top: 1.5rem;
}

.section_sell_filtr {
	text-align: center;
	padding-bottom: 5rem;
}

.text_filtr {
	margin-top: 0;
	font-size: 1.125rem;
	font-family: Axiforma;
	font-weight: 400;
	color: #000;
	opacity: .54;
	margin-bottom: 2rem;
}

.filtr_price-text {
	font-size: 1.125rem;
	font-family: Axiforma;
	font-weight: 400;
	color: #000;
	margin-left: 1.5rem;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 2.2rem;
	height: 25px;

	&:last-child {
		padding-bottom: 2.5rem;
	}
}

hr {
	margin: 0;
	color: #000;
	opacity: .4;
}

.box_group {
	width: 732px;
	min-height: 174px;
	background-color: #fff;
	margin: 0 auto;
	margin-bottom: 2.9375rem;
}

.box_filtr {
	display: flex;
	justify-content: space-between;
}

.box_btn {
	margin-right: 1.5rem;
	position: relative;

	span {
		margin-right: 1rem;
		font-size: 1.25rem;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		color: #12141B;
		opacity: .54;
		padding-top: 2rem;
		position: relative;
		top: 3px;
	}
}

.span_days {
	top: 0;
}


.btn_filtr-sell {
	width: 176px;
	height: 56px;
	background-color: #000;
	color: #fff;
	border: none;
	font-size: 1.5rem;
	font-family: Axiforma;
	font-weight: 700;
	cursor: pointer;

	&:focus,
	&:active {
		border: none;
		outline: none;
	}

	&:hover {
		background-color: #1B1E28;
	}

	&:active {
		background-color: #000;
	}
}

.price_input {
	width: 98px;
	height: 43px;
	outline: none;
	border: 1px solid black;
	background-color: #fff;
	font-family: Axiforma;
	font-weight: 600;
	font-size: 1.25rem;
	padding-left: 1rem;
	margin-top: 1.375rem;
	margin-bottom: 1rem;

	&:focus,
	&:active {
		font-family: Axiforma;
		font-weight: 600;
		font-size: 1.25rem;
		outline: none;
	}
}

.btn_down-days,
.btn_up-days,
.btn_down,
.btn_up {
	width: 14px;
	height: 24px;
	border: 1px solid black;
	background-color: #fff;
	outline: none;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;

	&:focus,
	&:active {
		outline: none;
	}

	&:hover {
		background-color: #000;
	}
}

.btn_down-days,
.btn_down {
	background-image: url(../img/down2.png);
	background-size: 8px 6px;
	&:hover {
		background-image: url(../img/down_white.svg);
		background-size: 18px 18px;
	}
}

.btn_up-days,
.btn_up {
	background-image: url(../img/up2.png);
	background-size: 8px 6px;
	&:hover {
		background-image: url(../img/up_white.svg);
		background-size: 18px 18px;
	}
}

.btn_up {
	bottom: 39px;
	right: 0;
	border-bottom: 1px solid #ADADAD;
}

.btn_down {
	bottom: 16px;
	right: 0;
	border-top: 1px solid #ADADAD;
}

.btn_up-days {
	bottom: 62px;
	right: 0;
	border-bottom: 1px solid #ADADAD;
}

.btn_down-days {
	bottom: 39px;
	right: 0;
	border-top: 1px solid #ADADAD;
}

.price_days {
	margin-bottom: 2.4375rem;
}