@font-face {
	font-family: Roboto;
	font-weight: 300;
	font-style: normal;
	src: url(../fonts/RobotoFont/RobotoLight.ttf) format("truetype");
}

@font-face {
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/RobotoFont/RobotoRegular.ttf) format("truetype");
}

@font-face {
	font-family: Roboto;
	font-weight: 500;
	font-style: normal;
	src: url(../fonts/RobotoFont/RobotoMedium.ttf) format("truetype");
}

@font-face {
	font-family: Roboto;
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/RobotoFont/RobotoBold.ttf) format("truetype");
}

@font-face {
	font-family: ProductSans;
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/ProductSansFont/ProductSansRegular.ttf) format("truetype");
}

@font-face {
	font-family: ProductSans;
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/ProductSansFont/ProductSansBold.ttf) format("truetype");
}