//Подключение шрифтов.

@import "fonts";

html {
	font-size: 16px;
	background-color: #2C3060;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.main_header {
	background-color: #161930;
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}



input:focus~.floating-label,
input:not(:focus):valid~.floating-label {
	top: 3408px;
	bottom: 10px;
	left: 20px;
	font-size: 11px;
	opacity: 1;
}

.floating-label {
	position: absolute;
	pointer-events: none;
	left: 20px;
	top: 18px;
	transition: 0.2s ease all;
}


.main_header-box {
	display: flex;
	justify-content: space-between;
	background: url(../img/line.png) 41% 51%,
		url(../img/line.png) 52% 51%;
	background-repeat: no-repeat;
}

.header_statistics {
	display: flex;
	padding-right: 6rem;
}

.statistics_box {
	padding-left: 1rem;
}

.main_logo {
	margin: 1.15rem 0rem;
}

.statistics_title {
	font-size: 1.25rem;
	font-family: ProductSans;
	font-weight: 700;
	color: #fff;
	margin: 0px;
	padding-left: 2.2rem;
	margin-top: 1rem;
}

.rewalded {
	padding-left: 2.45rem;
}

.TokensForBurn {
	padding-left: 3.7rem;
}

.statistics_text {
	font-size: 0.75rem;
	font-family: Roboto;
	font-weight: 300;
	color: #fff;
	opacity: .7;
	margin: 0px;
	padding-left: 2rem;
	margin-top: 0.4rem;
}

.header_btn {
	width: 117px;
	height: 36px;
	font-size: 0.875rem;
}


.footer_btn {
	width: 112px;
	height: 51px;
	font-size: 1.125rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.btn_info,
.btn_SuggestCancel,
.btn_SendSuggest,
.btn_MetaMask,
.suggest_btn,
.footer_btn,
.form_btn-subscribe,
.header_btn {
	font-family: Roboto;
	font-weight: 500;
	margin-top: 1rem;
	background-color: #FDC002;
	color: #212121;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 3px;

	&:hover {
		background-color: #FFD85D;
		transition: 0.3s;
	}

	&:not(:hover) {
		transition: 0.6s;
	}

	&:active {
		border: none;
		outline: none;
		background-color: #D6A200;
		box-shadow: 1px 0px 20px 1px #000000;
		transition: 0s;
	}

	&:focus {
		border: none;
		outline: none;
	}

	&:disabled {
		background-color: #272A54;
		color: #FDC002;
	}
}

.subscribe_box {
	background-image: url(../img/people.svg);
	background-repeat: no-repeat;
	background-position: 90% 100%;
}

.subscribe_title {
	font-size: 2rem;
	color: #fff;
	font-family: ProductSans;
	font-weight: 700;
	line-height: 130%;
	padding-top: 4.9375rem;
	padding-bottom: 3.3125rem;
	margin: 0;
}

.form_subscribe {
	background-color: #fff;
	width: 508px;
	margin-bottom: 5.875rem;
}


input[type="email"] {
	width: 303px;
	height: 73px;
	background-color: #fff;
	padding-left: 1rem;
	font-family: Roboto;
	font-weight: 700;
	font-size: 1.125rem;
	color: #000000;
	border: none;
	padding-right: 2.8rem;

	&:focus {
		border: none;
		outline: none;
	}
}

input[type="email"],
input[type="email"]::placeholder {
	font-family: Roboto;
	font-weight: 700;
	font-size: 1.125rem;
	color: #000000;
}

input[type="email"]::placeholder {
	opacity: .34;
}

.form_btn-subscribe {
	width: 127px;
	height: 51px;
	font-size: 1.125rem;
	margin-top: 0.7rem;
}

.section_table {
	background-color: #1B1E3A;
	padding-top: 4.25rem;
	text-align: center;
}

.main_table {
	text-align: center;
	border-collapse: collapse;
	background-color: #2C3060;
	border-radius: 3px;
	// transform: translateX(20%);
	position: relative;
	left: 145px;
}

.table_title {
	font-size: 1.5rem;
	font-family: Roboto;
	font-weight: 700;
	color: #fff;
	padding-bottom: 0;
	text-align: left;
	padding-bottom: 1.7rem;
	padding-left: 1.5rem;
	padding-top: 2rem;
	border-bottom: 2px solid rgb(131, 131, 131);
}

.table_filtr {
	font-family: Roboto;
	font-weight: 300;
	font-size: 1.125rem;
	color: #fff;
	opacity: .7;
	padding-top: 1rem;
	padding-right: 9.875rem;
	padding-bottom: 2rem;
	cursor: pointer;

	&:first-child {
		padding-left: 6.875rem;
	}

	&:last-child {
		padding-right: 6.875rem;
	}
}

.table_list {
	border-bottom: 2px solid rgb(92, 91, 91);
}

.table_search {
	background-color: #2C3060;
	border: none;
	border-bottom: 1px solid #fff;
	font-size: 1rem;
	font-family: Roboto;
	font-weight: 400;
	color: #fff;
	margin-left: -25.5rem;
	background-image: url(../img/Search.png);
	background-repeat: no-repeat;
	background-position: 100% 65%;

	&:focus {
		border: none;
		border-bottom: 1px solid #fff;
		outline: none;
	}

	&::placeholder {
		color: #fff;
	}
}

.symbol_last {
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}



.symbol,
.name,
.burned_total,
.burned_by_you,
.available,
.burn {
	font-family: Roboto;
	font-weight: 400;
	font-size: 1rem;
	color: #fff;
	opacity: 1;
	padding-bottom: 1rem;
	padding-top: 1rem;

}


.table_btn {
	background-color: #2C3060;
	position: absolute;
	margin-bottom: 2rem;
	transform: translateY(-25%);
	left: 30px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	outline: none;
	border: none;
	cursor: pointer;

	&:hover {
		background: #454B89;
	}

	.img_info {
		transform: translateY(9%);

		&:hover {
			background-color: #454B89;
		}

	}

}

.symbol {
	padding-right: 4.1rem;
}

.name {
	padding-right: 7rem;
}

.burned_total {
	padding-right: 11rem;
	color: #00E886;
	text-align-last: left;
}

.info {
	padding-right: 16rem;
}

.dangerColor {
	color: #FD784F;
}

.NoChange {
	color: #fff;
}

.btn_prev {
	margin-left: 20rem;
}

.btn_next {
	margin-left: -40rem;
}

.other_number {
	margin-left: -22rem;
}

.btn_prev,
.btn_next {
	width: 32px;
	height: 32px;
}

.btn_number {
	width: 35px;
	height: 40px;
	margin-right: 9rem;
	font-size: 1.5rem;
	font-family: ProductSans;
	font-weight: 700;
	color: #fff;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.btn_prev,
.btn_next,
.btn_number {
	box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.32);
	background-color: #2C3060;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 3px;

	&:active {
		border: none;
		outline: none;
		box-shadow: none;
		background-color: rgb(61, 66, 129);
	}

	&:hover {
		background-color: rgb(41, 45, 95);
		color: #fff;
	}

	&:focus {
		border: none;
		outline: none;
	}

	&:disabled {
		background-color: #fff;
		color: #2C3060
	}
}

.active_number {
	background-color: #fff;
	color: #2C3060;
}

.ReadyAndSuggest {
	background-color: #1B1E3A;
}

.ReadyAndSuggest_box {
	display: flex;
	justify-content: space-between;
}

.suggest_box,
.ready_box {
	background-color: #F95928;
	width: 725px;
	height: 283px;
	margin-top: 6.5rem;
}

.ready_box {
	margin-right: 0.5rem;
}

.suggest_box {
	background-color: #2C3060;
}

.ready_title,
.suggest_title {
	font-size: 1.5rem;
	font-family: ProductSans;
	font-weight: 700;
	color: #fff;
	margin: 0;
	padding-top: 4.4375rem;
}

.ready_text,
.ready_title {
	padding-left: 4rem;
}

.ready_text,
.suggest_text {
	font-family: Roboto;
	font-weight: 400;
	font-size: 1rem;
	color: #fff;
	line-height: 145%;
}

.ready_text {
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
}

.suggest_title,
.suggest_text {
	padding-left: 2rem;
}

.suggest_text {
	margin-bottom: 0;
	margin-top: 0.6rem;
}

.btn_SuggestCancel,
.btn_register,
.suggest_btn {
	font-size: 1.125rem;
	background-color: #fff;

	&:hover {
		background-color: #DFDFDF;
		transition: 0.3s;
	}

	&:not(:hover) {
		transition: 0.6s;
	}

	&:active {
		border: none;
		outline: none;
		background-color: #C3C3C3;
		box-shadow: 1px 0px 20px 1px #000000;
		transition: 0s;
	}

	&:focus {
		border: none;
		outline: none;
	}
}

.suggest_btn {
	width: 172px;
	height: 51px;
	margin-top: 1.5rem;
	margin-left: 2rem;
}

.section_question {
	background-color: #1B1E3A;
	padding-top: 8rem;
	padding-bottom: 4.5625rem;
}

.title_question {
	font-size: 1.5rem;
	font-family: ProductSans;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	margin-bottom: 0;
}

.answer_box {
	font-size: 1rem;
	font-family: Roboto;
	font-weight: 400;
	color: #fff;
	opacity: .7;
	line-height: 160%;
	cursor: pointer;
	padding-top: 1.5rem;
	display: none;
}

.title_question-burn,
.title_question-WhitePaper,
.title_question-TokensRecycled {
	background-image: url(../img/plus.svg);
	background-repeat: no-repeat;
	background-position: right 65%;
}

.img_minus-burn,
.img_minus-WhitePaper,
.img_minus-TokensRecycled {
	background-image: url(../img/minus.svg);
	background-repeat: no-repeat;
}

hr {
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: #FFFFFF;
	opacity: .32;

	&:last-child {
		margin-bottom: 0;
	}
}

.main_footer {
	background-color: #2C3060;
	padding-top: 5.875rem;
	padding-bottom: 5.875rem;

}

.footer_box {
	padding-left: 30rem;
	overflow: hidden;
	background-image: url(../img/IconEvelope.svg);
	background-repeat: no-repeat;
	background-position: 15% center;
}

.footer_title {
	font-family: ProductSans;
	font-weight: 700;
	font-size: 1.5rem;
	color: #fff;
	margin-top: 0;
}

.footer_text {
	font-family: Roboto;
	font-weight: 400;
	font-size: 1rem;
	color: #fff;
	margin-bottom: 0;
	line-height: 160%;
	padding-top: 1rem;
}

.footer_btn {
	width: 112px;
	height: 51px;
	font-size: 1.125rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.ripple {
	position: relative;
	overflow: hidden;
}

.ripple-effect {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 5000px;
	animation: ripple 1s ease forwards;
	z-index: 1;
}

@keyframes ripple {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(100);
	}
}