@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/RobotoFont/RobotoLight.ttf) format("truetype");
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/RobotoFont/RobotoRegular.ttf) format("truetype");
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/RobotoFont/RobotoMedium.ttf) format("truetype");
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/RobotoFont/RobotoBold.ttf) format("truetype");
}

@font-face {
  font-family: ProductSans;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ProductSansFont/ProductSansRegular.ttf) format("truetype");
}

@font-face {
  font-family: ProductSans;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ProductSansFont/ProductSansBold.ttf) format("truetype");
}

html {
  font-size: 16px;
  background-color: #2C3060;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.main_header {
  background-color: #161930;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  top: 3408px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.main_header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../img/line.png) 41% 51%, url(../img/line.png) 52% 51%;
  background-repeat: no-repeat;
}

.header_statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 6rem;
}

.statistics_box {
  padding-left: 1rem;
}

.main_logo {
  margin: 1.15rem 0rem;
}

.statistics_title {
  font-size: 1.25rem;
  font-family: ProductSans;
  font-weight: 700;
  color: #fff;
  margin: 0px;
  padding-left: 2.2rem;
  margin-top: 1rem;
}

.rewalded {
  padding-left: 2.45rem;
}

.TokensForBurn {
  padding-left: 3.7rem;
}

.statistics_text {
  font-size: 0.75rem;
  font-family: Roboto;
  font-weight: 300;
  color: #fff;
  opacity: .7;
  margin: 0px;
  padding-left: 2rem;
  margin-top: 0.4rem;
}

.header_btn {
  width: 117px;
  height: 36px;
  font-size: 0.875rem;
}

.footer_btn {
  width: 112px;
  height: 51px;
  font-size: 1.125rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.btn_info,
.btn_SuggestCancel,
.btn_SendSuggest,
.btn_MetaMask,
.suggest_btn,
.footer_btn,
.form_btn-subscribe,
.header_btn {
  font-family: Roboto;
  font-weight: 500;
  margin-top: 1rem;
  background-color: #FDC002;
  color: #212121;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}

.btn_info:hover,
.btn_SuggestCancel:hover,
.btn_SendSuggest:hover,
.btn_MetaMask:hover,
.suggest_btn:hover,
.footer_btn:hover,
.form_btn-subscribe:hover,
.header_btn:hover {
  background-color: #FFD85D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn_info:not(:hover),
.btn_SuggestCancel:not(:hover),
.btn_SendSuggest:not(:hover),
.btn_MetaMask:not(:hover),
.suggest_btn:not(:hover),
.footer_btn:not(:hover),
.form_btn-subscribe:not(:hover),
.header_btn:not(:hover) {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.btn_info:active,
.btn_SuggestCancel:active,
.btn_SendSuggest:active,
.btn_MetaMask:active,
.suggest_btn:active,
.footer_btn:active,
.form_btn-subscribe:active,
.header_btn:active {
  border: none;
  outline: none;
  background-color: #D6A200;
  -webkit-box-shadow: 1px 0px 20px 1px #000000;
          box-shadow: 1px 0px 20px 1px #000000;
  -webkit-transition: 0s;
  transition: 0s;
}

.btn_info:focus,
.btn_SuggestCancel:focus,
.btn_SendSuggest:focus,
.btn_MetaMask:focus,
.suggest_btn:focus,
.footer_btn:focus,
.form_btn-subscribe:focus,
.header_btn:focus {
  border: none;
  outline: none;
}

.btn_info:disabled,
.btn_SuggestCancel:disabled,
.btn_SendSuggest:disabled,
.btn_MetaMask:disabled,
.suggest_btn:disabled,
.footer_btn:disabled,
.form_btn-subscribe:disabled,
.header_btn:disabled {
  background-color: #272A54;
  color: #FDC002;
}

.subscribe_box {
  background-image: url(../img/people.svg);
  background-repeat: no-repeat;
  background-position: 90% 100%;
}

.subscribe_title {
  font-size: 2rem;
  color: #fff;
  font-family: ProductSans;
  font-weight: 700;
  line-height: 130%;
  padding-top: 4.9375rem;
  padding-bottom: 3.3125rem;
  margin: 0;
}

.form_subscribe {
  background-color: #fff;
  width: 508px;
  margin-bottom: 5.875rem;
}

input[type="email"] {
  width: 303px;
  height: 73px;
  background-color: #fff;
  padding-left: 1rem;
  font-family: Roboto;
  font-weight: 700;
  font-size: 1.125rem;
  color: #000000;
  border: none;
  padding-right: 2.8rem;
}

input[type="email"]:focus {
  border: none;
  outline: none;
}

input[type="email"],
input[type="email"]::-webkit-input-placeholder {
  font-family: Roboto;
  font-weight: 700;
  font-size: 1.125rem;
  color: #000000;
}

input[type="email"],
input[type="email"]:-ms-input-placeholder {
  font-family: Roboto;
  font-weight: 700;
  font-size: 1.125rem;
  color: #000000;
}

input[type="email"],
input[type="email"]::-ms-input-placeholder {
  font-family: Roboto;
  font-weight: 700;
  font-size: 1.125rem;
  color: #000000;
}

input[type="email"],
input[type="email"]::placeholder {
  font-family: Roboto;
  font-weight: 700;
  font-size: 1.125rem;
  color: #000000;
}

input[type="email"]::-webkit-input-placeholder {
  opacity: .34;
}

input[type="email"]:-ms-input-placeholder {
  opacity: .34;
}

input[type="email"]::-ms-input-placeholder {
  opacity: .34;
}

input[type="email"]::placeholder {
  opacity: .34;
}

.form_btn-subscribe {
  width: 127px;
  height: 51px;
  font-size: 1.125rem;
  margin-top: 0.7rem;
}

.section_table {
  background-color: #1B1E3A;
  padding-top: 4.25rem;
  text-align: center;
}

.main_table {
  text-align: center;
  border-collapse: collapse;
  background-color: #2C3060;
  border-radius: 3px;
  position: relative;
  left: 145px;
}

.table_title {
  font-size: 1.5rem;
  font-family: Roboto;
  font-weight: 700;
  color: #fff;
  padding-bottom: 0;
  text-align: left;
  padding-bottom: 1.7rem;
  padding-left: 1.5rem;
  padding-top: 2rem;
  border-bottom: 2px solid #838383;
}

.table_filtr {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.125rem;
  color: #fff;
  opacity: .7;
  padding-top: 1rem;
  padding-right: 9.875rem;
  padding-bottom: 2rem;
  cursor: pointer;
}

.table_filtr:first-child {
  padding-left: 6.875rem;
}

.table_filtr:last-child {
  padding-right: 6.875rem;
}

.table_list {
  border-bottom: 2px solid #5c5b5b;
}

.table_search {
  background-color: #2C3060;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 400;
  color: #fff;
  margin-left: -25.5rem;
  background-image: url(../img/Search.png);
  background-repeat: no-repeat;
  background-position: 100% 65%;
}

.table_search:focus {
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
}

.table_search::-webkit-input-placeholder {
  color: #fff;
}

.table_search:-ms-input-placeholder {
  color: #fff;
}

.table_search::-ms-input-placeholder {
  color: #fff;
}

.table_search::placeholder {
  color: #fff;
}

.symbol_last {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.symbol,
.name,
.burned_total,
.burned_by_you,
.available,
.burn {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  opacity: 1;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.table_btn {
  background-color: #2C3060;
  position: absolute;
  margin-bottom: 2rem;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  left: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
}

.table_btn:hover {
  background: #454B89;
}

.table_btn .img_info {
  -webkit-transform: translateY(9%);
          transform: translateY(9%);
}

.table_btn .img_info:hover {
  background-color: #454B89;
}

.symbol {
  padding-right: 4.1rem;
}

.name {
  padding-right: 7rem;
}

.burned_total {
  padding-right: 11rem;
  color: #00E886;
  text-align-last: left;
}

.info {
  padding-right: 16rem;
}

.dangerColor {
  color: #FD784F;
}

.NoChange {
  color: #fff;
}

.btn_prev {
  margin-left: 20rem;
}

.btn_next {
  margin-left: -40rem;
}

.other_number {
  margin-left: -22rem;
}

.btn_prev,
.btn_next {
  width: 32px;
  height: 32px;
}

.btn_number {
  width: 35px;
  height: 40px;
  margin-right: 9rem;
  font-size: 1.5rem;
  font-family: ProductSans;
  font-weight: 700;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn_prev,
.btn_next,
.btn_number {
  -webkit-box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.32);
          box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.32);
  background-color: #2C3060;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}

.btn_prev:active,
.btn_next:active,
.btn_number:active {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #3d4281;
}

.btn_prev:hover,
.btn_next:hover,
.btn_number:hover {
  background-color: #292d5f;
  color: #fff;
}

.btn_prev:focus,
.btn_next:focus,
.btn_number:focus {
  border: none;
  outline: none;
}

.btn_prev:disabled,
.btn_next:disabled,
.btn_number:disabled {
  background-color: #fff;
  color: #2C3060;
}

.active_number {
  background-color: #fff;
  color: #2C3060;
}

.ReadyAndSuggest {
  background-color: #1B1E3A;
}

.ReadyAndSuggest_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.suggest_box,
.ready_box {
  background-color: #F95928;
  width: 725px;
  height: 283px;
  margin-top: 6.5rem;
}

.ready_box {
  margin-right: 0.5rem;
}

.suggest_box {
  background-color: #2C3060;
}

.ready_title,
.suggest_title {
  font-size: 1.5rem;
  font-family: ProductSans;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding-top: 4.4375rem;
}

.ready_text,
.ready_title {
  padding-left: 4rem;
}

.ready_text,
.suggest_text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  line-height: 145%;
}

.ready_text {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.suggest_title,
.suggest_text {
  padding-left: 2rem;
}

.suggest_text {
  margin-bottom: 0;
  margin-top: 0.6rem;
}

.btn_SuggestCancel,
.btn_register,
.suggest_btn {
  font-size: 1.125rem;
  background-color: #fff;
}

.btn_SuggestCancel:hover,
.btn_register:hover,
.suggest_btn:hover {
  background-color: #DFDFDF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn_SuggestCancel:not(:hover),
.btn_register:not(:hover),
.suggest_btn:not(:hover) {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.btn_SuggestCancel:active,
.btn_register:active,
.suggest_btn:active {
  border: none;
  outline: none;
  background-color: #C3C3C3;
  -webkit-box-shadow: 1px 0px 20px 1px #000000;
          box-shadow: 1px 0px 20px 1px #000000;
  -webkit-transition: 0s;
  transition: 0s;
}

.btn_SuggestCancel:focus,
.btn_register:focus,
.suggest_btn:focus {
  border: none;
  outline: none;
}

.suggest_btn {
  width: 172px;
  height: 51px;
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.section_question {
  background-color: #1B1E3A;
  padding-top: 8rem;
  padding-bottom: 4.5625rem;
}

.title_question {
  font-size: 1.5rem;
  font-family: ProductSans;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  margin-bottom: 0;
}

.answer_box {
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 400;
  color: #fff;
  opacity: .7;
  line-height: 160%;
  cursor: pointer;
  padding-top: 1.5rem;
  display: none;
}

.title_question-burn,
.title_question-WhitePaper,
.title_question-TokensRecycled {
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-position: right 65%;
}

.img_minus-burn,
.img_minus-WhitePaper,
.img_minus-TokensRecycled {
  background-image: url(../img/minus.svg);
  background-repeat: no-repeat;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #FFFFFF;
  opacity: .32;
}

hr:last-child {
  margin-bottom: 0;
}

.main_footer {
  background-color: #2C3060;
  padding-top: 5.875rem;
  padding-bottom: 5.875rem;
}

.footer_box {
  padding-left: 30rem;
  overflow: hidden;
  background-image: url(../img/IconEvelope.svg);
  background-repeat: no-repeat;
  background-position: 15% center;
}

.footer_title {
  font-family: ProductSans;
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 0;
}

.footer_text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 0;
  line-height: 160%;
  padding-top: 1rem;
}

.footer_btn {
  width: 112px;
  height: 51px;
  font-size: 1.125rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple-effect {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  -webkit-animation: ripple 1s ease forwards;
          animation: ripple 1s ease forwards;
  z-index: 1;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(100);
            transform: scale(100);
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(100);
            transform: scale(100);
  }
}
/*# sourceMappingURL=main.css.map */