@font-face {
	font-family: Anton;
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/Anton/AntonRegular.ttf) format("truetype");
}

@font-face {
	font-family: ProductSans;
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/ProductSans/ProductSansBold.ttf) format("truetype");
}

@font-face {
	font-family: ProductSans;
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/ProductSans/ProductSansRegular.ttf) format("truetype");
}

@font-face {
	font-family: Plakette;
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/Plakette/PlaketteSerialBold.ttf) format("truetype");
}

@font-face {
	font-family: Axiforma;
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/Axiforma/AxiformaBold.otf) format("opentype");
}

@font-face {
	font-family: Axiforma;
	font-weight: 600;
	font-style: normal;
	src: url(../fonts/Axiforma/AxiformaSemiBold.otf) format("opentype");
}


@font-face {
	font-family: Axiforma;
	font-weight: 500;
	font-style: normal;
	src: url(../fonts/Axiforma/AxiformaMedium.otf) format("opentype");
}

@font-face {
	font-family: Axiforma;
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/Axiforma/AxiformaRegular.otf) format("opentype");
}

@font-face {
	font-family: Axiforma;
	font-weight: 800;
	font-style: normal;
	src: url(../fonts/Axiforma/AxiformaExtraBold.otf) format("opentype");
}