@media (min-width: 81.25em) and (max-width: 312.5em) {
  .create_img-framed-large {
    min-width: 100%;
    position: relative;
    left: 90px;
    display: block;
  }
  .create_img-framed {
    display: none;
  }
  .link_telegram {
    -webkit-transform: translateX(1030%);
            transform: translateX(1030%);
  }
}

@media screen and (max-width: 66.875em) {
  .create-img {
    margin-right: 4rem;
  }
}

@media (max-width: 56.25em) {
  .container {
    max-width: 360px;
  }
  .main_menu,
  .main_nav,
  .main_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main_item-link {
    font-size: 0.75rem;
  }
  .main_logo {
    margin-right: 2rem;
  }
  .logo {
    width: 52px;
    height: 39px;
  }
  .main_item {
    padding-top: 1.5rem;
  }
  .profile_btn {
    width: 72px;
    height: 36px;
    font-size: 0.875rem;
    margin-top: 1.1rem;
  }
  .create_img-framed {
    display: none;
  }
  .create_img-framed-large {
    display: none;
  }
  .create-btn {
    display: none;
  }
  .framed_box {
    position: absolute;
  }
  .link_telegram {
    display: none;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .create-img {
    max-width: 268px;
    height: 120px;
    margin-top: 2.875rem;
    margin-left: 0.5rem;
  }
  .section_start {
    text-align: left;
  }
  .text_cryptopainters {
    margin-left: 0.5rem;
    text-align: left;
    font-size: 0.75rem;
  }
  .text_cryptopainters br {
    display: none;
  }
  .section_create,
  .section_start,
  .section_header {
    background-image: url(../img/Fon.jpg);
    background-size: auto;
  }
  .start_text-anyuser {
    font-size: 1rem;
    line-height: 150%;
    margin-left: 0.5rem;
  }
  .start_text-join {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }
  .img_cryptopainters {
    width: 239px;
    height: 91px;
    text-align: left;
    margin-right: 7.5rem;
    margin-left: 0.5rem;
  }
  .painting_box {
    margin-bottom: 2.8rem;
  }
  .section_cryptopainters {
    padding-bottom: 1.8rem;
  }
  .btn_start {
    width: 97px;
    height: 40px;
    font-size: 0.875rem;
    margin-bottom: 3rem;
    margin-left: 0.5rem;
  }
  .btn_start:after {
    width: 8px;
    height: 8px;
    background-image: url(../img/Vector2.svg);
    background-size: 8px 8px;
    position: absolute;
    right: 22px;
    top: 16px;
  }
  .footer_menuList-box {
    padding-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
  }
  .footer_item-link {
    font-size: 1rem;
  }
  .main_footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(../img/footer/fon_footer-mobile.png) center no-repeat, url(../img/Fon.jpg) no-repeat;
    background-size: contain, auto;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .mobile_menu {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1rem;
  }
  .mobile_item {
    margin-left: -3rem;
  }
  .mobile_group {
    padding-bottom: 0;
  }
  .footer_item {
    margin-right: 7.125rem;
  }
  .mobile_item {
    margin-right: 0;
  }
  .mobile_item2 {
    width: 96px;
    margin-right: 4rem;
    -webkit-transform: translateX(40%) translateY(25%);
            transform: translateX(40%) translateY(25%);
  }
  .mobile_item2:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .mobile_privacy {
    -webkit-transform: translateX(20%) translateY(15%);
            transform: translateX(20%) translateY(15%);
  }
  .footer_group:nth-child(2) {
    margin-left: -2rem;
  }
  .line2,
  .line {
    position: relative;
  }
  .line2:after,
  .line:after {
    position: absolute;
    left: 0px;
    top: 135px;
    display: inline-block;
    content: "";
    height: 1px;
    width: 240px;
    background-image: url(../img/footer/Line2.png);
  }
  .line:after {
    left: -0px;
    top: 135px;
  }
  .line2:after {
    left: 1px;
    top: 135px;
  }
  .mobile_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 20em) {
  .container {
    max-width: 320px;
  }
  .main_item {
    padding-left: 1rem;
  }
  .profile_btn {
    margin-left: 1rem;
  }
  .create_box {
    max-width: 320px;
  }
  .create-img {
    margin-left: 0.5rem;
    margin-right: 0;
  }
  .link_telegram {
    position: relative;
    top: 350px;
    left: 270px;
  }
  .img_cryptopainters {
    margin-right: 4rem;
  }
}

@font-face {
  font-family: Anton;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Anton/AntonRegular.ttf) format("truetype");
}

@font-face {
  font-family: ProductSans;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ProductSans/ProductSansBold.ttf) format("truetype");
}

@font-face {
  font-family: ProductSans;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ProductSans/ProductSansRegular.ttf) format("truetype");
}

@font-face {
  font-family: Plakette;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Plakette/PlaketteSerialBold.ttf) format("truetype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaBold.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaSemiBold.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaMedium.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaRegular.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaExtraBold.otf) format("opentype");
}

html {
  font-size: 16px;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.section_create,
.section_start,
.section_header {
  background-image: url(../img/Fon.jpg);
  background-size: cover;
}

.main_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_logo {
  padding-top: 1rem;
}

.main_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.main_menu li:first-child {
  padding-left: 0;
}

.main_item {
  padding-top: 2.1rem;
  padding-left: 1.75rem;
}

.main_item-link {
  text-decoration: none;
  color: #12141B;
  font-family: Axiforma;
  font-weight: 500;
  font-size: 1.125rem;
}

.btn_start,
.profile_btn,
.create-btn {
  outline: none;
  background-color: #12141B;
  color: #ffffff;
  font-family: Axiforma;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.profile_btn {
  font-size: 1.125rem;
  margin-top: 1.375rem;
  margin-left: 2.5rem;
  width: 92px;
  height: 48px;
}

.profile_btn:hover {
  background-color: #1B1E28;
}

.profile_btn:active {
  background-color: #000;
}

.MyProfile_btn {
  font-size: 1.125rem;
  margin-top: 1.125rem;
  margin-left: 2.5rem;
  width: 156px;
  height: 57px;
  outline: none;
  background-color: #fff;
  border: 1px solid #BDBDBD;
  color: #12141B;
  font-family: Axiforma;
  font-weight: 700;
  cursor: pointer;
  background-image: url(../img/dali.png);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 9% center;
  padding-left: 3rem;
  padding-top: 0.2rem;
  margin-bottom: 2rem;
}

.create-btn {
  font-size: 1.5rem;
  width: 229px;
  height: 56px;
  margin-top: 3rem;
  margin-bottom: 7.25rem;
  display: block;
}

.create-btn:hover {
  background-color: #1B1E28;
}

.create-btn:active {
  background-color: #000;
}

.painting_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create-img {
  margin-top: 6.75rem;
  max-width: 100%;
}

.create_img-framed {
  max-width: 100%;
}

.create_img-framed-large {
  max-width: 100%;
  position: relative;
  left: 90px;
  display: none;
}

.create_img-quote {
  max-width: 100%;
}

.link_telegram {
  display: block;
  text-align: right;
  margin-top: 1rem;
  position: fixed;
  -webkit-transform: translateX(800%);
          transform: translateX(800%);
}

.section_cryptopainters {
  background-image: url(../img/Fon_blue.png);
  background-size: cover;
  padding-bottom: 3.8rem;
}

.cryptopainters_box {
  text-align: center;
}

.img_cryptopainters {
  margin-top: 3rem;
  max-width: 100%;
}

.text_cryptopainters {
  margin: 0;
  margin-top: 1.7rem;
  text-align: center;
  font-size: 1.25rem;
  font-family: Axiforma;
  font-weight: 700;
  line-height: 140%;
  color: #111219;
}

.section_start {
  text-align: center;
}

.start_text-anyuser,
.start_text-join {
  font-size: 1.5rem;
}

.start_text-anyuser {
  font-family: Axiforma;
  font-weight: 400;
  color: #11131A;
  opacity: .5;
  margin: 0;
  padding-top: 4rem;
}

.start_text-anyuser {
  padding-top: 2rem;
}

.start_text-join {
  font-weight: 800;
  color: #12141B;
  margin-bottom: 2rem;
  font-family: Axiforma;
  font-weight: 800;
}

.btn_start {
  text-align: center;
  width: 143px;
  height: 53px;
  font-size: 1.5rem;
  position: relative;
  padding-right: 2rem;
  padding-top: 0.2rem;
  margin-bottom: 7.5rem;
  margin-right: 4rem;
}

.btn_start:hover {
  background-color: #1B1E28;
}

.btn_start:active {
  background-color: #000;
}

.btn_start:after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  position: absolute;
  right: 22px;
  top: 20px;
}

.main_footer {
  padding-bottom: 2.5rem;
  background: url(../img/footer/fon_footer.png) no-repeat, url(../img/Fon.jpg) no-repeat;
  background-size: cover;
}

.footer_menuList-box {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer_group {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_menu {
  padding-left: 0;
}

.footer_item {
  margin-bottom: 1rem;
  margin-right: 4.125rem;
  list-style: none;
}

.footer_item-link {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-family: ProductSans;
  font-weight: 400;
  padding-top: 1.33333333333rem;
}

.line,
.line2 {
  position: relative;
}

.line:after,
.line2:after {
  position: absolute;
  display: inline-block;
  content: "";
  height: 84px;
  width: 1px;
  background-image: url(../img/footer/Line.svg);
}

.line:after {
  left: 310px;
  top: 35px;
}

.line2:after {
  left: 310px;
  top: 35px;
}

@font-face {
  font-family: Anton;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Anton/AntonRegular.ttf) format("truetype");
}

@font-face {
  font-family: ProductSans;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ProductSans/ProductSansBold.ttf) format("truetype");
}

@font-face {
  font-family: ProductSans;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ProductSans/ProductSansRegular.ttf) format("truetype");
}

@font-face {
  font-family: Plakette;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Plakette/PlaketteSerialBold.ttf) format("truetype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaBold.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaSemiBold.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaMedium.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaRegular.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaExtraBold.otf) format("opentype");
}

@media (max-width: 20em) {
  .container {
    max-width: 320px;
    padding: 0 0.5rem;
  }
  .MyProfile_btn {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0.8rem;
    margin-right: 0;
  }
  .main_logo {
    margin-right: 0;
    margin-left: 1rem;
  }
  .main_nav {
    margin-left: 3.1rem;
  }
}

@media (max-width: 56.25em) {
  .container {
    max-width: 360px;
  }
  .section_header {
    background-size: auto;
  }
  .main_menu,
  .main_nav,
  .main_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main_nav {
    margin-left: 2.5rem;
  }
  .main_logo {
    margin-right: 0;
  }
  .logo {
    width: 52px;
    height: 39px;
  }
  .main_item {
    padding-top: 1.5rem;
    padding-left: 1.1rem;
  }
  .main_item-link {
    font-size: 0.75rem;
    margin-top: 2rem;
  }
  .MyProfile_btn {
    width: 40px;
    height: 40px;
    font-size: 0;
    padding-left: 0;
    margin-left: 1.5rem;
    margin-top: 1rem;
    padding-top: 0;
    outline: none;
    background-position: center center;
    background-color: #fff;
    border-radius: 50%;
    border-color: #fff;
    margin-bottom: 0;
  }
  .EditUser_title {
    font-size: 1.5rem;
    text-align-last: left;
    margin-left: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
    margin-bottom: 0;
  }
  .EditUser_title::after {
    background-image: url(../img/line_number-mobile.svg);
    background-repeat: no-repeat;
    right: 40px;
    top: 60px;
  }
  .EditUser_text-address {
    font-size: 1rem;
    text-align-last: left;
    margin-left: 2rem;
  }
  .section_saveInfo,
  .section_EditUser {
    background-size: auto;
  }
  .label_nickname {
    display: block;
    left: 0;
    top: 0;
    font-size: 0.875rem;
  }
  .label_email {
    top: 0px;
    left: -100px !important;
  }
  .label_bio {
    margin-top: 2rem;
    top: 0px;
    left: -134px !important;
  }
  .form_settings label {
    font-size: 0.875rem;
    text-align-last: left;
    left: -113px;
    margin-bottom: 13px;
  }
  .form_email,
  .form_nickname {
    width: 305px;
    height: 44px;
    font-size: 1rem;
    border-left: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
  }
  input[type="text"]::-webkit-input-placeholder {
    font-size: 1rem;
  }
  input[type="text"]:-ms-input-placeholder {
    font-size: 1rem;
  }
  input[type="text"]::-ms-input-placeholder {
    font-size: 1rem;
  }
  input[type="text"]::placeholder {
    font-size: 1rem;
  }
  .email_text,
  .nickname_text {
    margin-left: 2rem;
    font-size: 0.875rem;
    word-wrap: break-word;
  }
  .email_text br,
  .nickname_text br {
    display: none;
  }
  .form_bio {
    max-width: 310px;
    max-height: 153px;
    margin-left: 1.66rem;
    border-left: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
  }
  .form_settings .box_wantUpdate {
    width: 328px !important;
    max-height: 63px;
    margin-top: 1.3rem;
  }
  .checkbox_wantUpdate {
    position: absolute;
  }
  .mdCheck .wantUpdate_text {
    position: relative;
    left: -20px;
    top: -3px;
    width: 100px;
    font-size: 0.875rem;
  }
  .mdCheck .wantUpdate_text:not(:empty) {
    padding-left: 2em;
  }
  .mdCheck .wantUpdate_text:before, .mdCheck .wantUpdate_text:after {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
  }
  .section_UserPrivacy {
    background-size: cover;
  }
  .setting_btn {
    margin-left: 3.3rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }
  .box_UserPrivacy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box_UserPrivacy {
    display: block;
  }
  .title_UserPrivacy {
    display: block;
    font-size: 1.25rem;
    margin-left: 2rem;
    padding-right: 0;
    text-align-last: left;
  }
  .title_UserPrivacy br {
    display: none;
  }
  .text_UserPrivacy {
    text-align: none;
    padding-top: 1rem;
    margin-left: 2rem;
    font-size: 0.875rem;
    word-wrap: break-word;
  }
  .text_UserPrivacy br {
    display: none;
  }
  .btn_UserPrivacy {
    margin-left: 2rem;
    max-width: 320px;
  }
  .section_saveInfo img {
    padding-top: 1.5rem;
  }
  .section_saveInfo {
    padding-bottom: 0;
  }
}

@media (max-width: 20em) {
  .btn_UserPrivacy {
    margin-left: 0;
    width: 300px;
  }
  .email_text,
  .nickname_text {
    margin-left: 0.5rem;
  }
  .text_UserPrivacy,
  .title_UserPrivacy {
    margin-left: 0.5rem;
  }
}

.MyProfile_btn {
  margin-bottom: 0;
}

.main_item {
  padding-top: 2.375rem;
}

.section_EditUser,
.section_header {
  background-image: url(../img/fon.png);
  background-size: cover;
  padding-bottom: 0.5rem;
}

.section_EditUser {
  position: relative;
}

.section_UserPrivacy {
  background-image: url(../img/Fon_blue.png);
  background-repeat: repeat;
  background-size: cover;
  padding-bottom: 3rem;
}

.EditUser_title {
  font-size: 2.5rem;
  font-family: Axiforma;
  font-weight: 700;
  color: #000;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  margin-left: 8rem;
}

.EditUser_title:after {
  content: "";
  display: inline-block;
  background-image: url(../img/line_number.svg);
  position: relative;
  top: 70px;
  right: 120px;
  width: 114px;
  height: 13px;
}

.EditUser_text-address {
  font-family: Axiforma;
  font-weight: 400;
  color: #000;
  opacity: .54;
  font-size: 1.5rem;
  margin-top: 0;
  text-align: center;
  margin-left: 1rem;
  margin-bottom: 0;
  position: relative;
}

.form_settings {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.875rem;
  overflow: hidden;
}

.form_settings label {
  font-size: 1.5rem;
  font-family: Axiforma;
  font-weight: 700;
  color: #000;
  opacity: .87;
}

.label_nickname,
.label_email {
  text-align: center;
  display: inline-block;
}

.label_nickname {
  position: relative;
  right: 255px;
  top: 43px;
}

.label_email {
  position: relative;
  right: 275px;
  top: 43px;
}

.label_bio {
  position: relative;
  bottom: 0px;
  right: 210px;
  top: 42px;
  padding-right: 0.5rem;
}

.email_text,
.nickname_text {
  text-align: justify;
  font-size: 1rem;
  color: #000;
  opacity: .54;
  font-family: Axiforma;
  font-weight: 400;
  line-height: 160%;
  display: block;
  margin-left: 2.3rem;
}

.email_text {
  margin-left: -1.5rem;
  margin-bottom: 0;
}

.form_nickname,
.form_email {
  margin-left: 1rem;
  font-family: Axiforma;
  font-weight: 400;
  font-size: 1.125rem;
  width: 366px;
  height: 51px;
  padding-top: 2px;
  padding-left: 0.8rem;
  margin-left: 11.5rem;
}

.form_nickname::-webkit-input-placeholder,
.form_email::-webkit-input-placeholder {
  padding-top: 0.5rem;
  font-size: 1.125rem;
  color: #000;
  opacity: .32;
}

.form_nickname:-ms-input-placeholder,
.form_email:-ms-input-placeholder {
  padding-top: 0.5rem;
  font-size: 1.125rem;
  color: #000;
  opacity: .32;
}

.form_nickname::-ms-input-placeholder,
.form_email::-ms-input-placeholder {
  padding-top: 0.5rem;
  font-size: 1.125rem;
  color: #000;
  opacity: .32;
}

.form_nickname::placeholder,
.form_email::placeholder {
  padding-top: 0.5rem;
  font-size: 1.125rem;
  color: #000;
  opacity: .32;
}

.form_nickname {
  margin-right: 10rem;
}

.form_email {
  margin-right: 10rem;
}

.form_bio {
  font-family: Axiforma;
  font-weight: 400;
  font-size: 1.125rem;
  text-align: left;
  padding-bottom: 5.5rem;
  width: 366px;
  height: 52px;
  padding-left: 0.8rem;
  margin-left: 1.5rem;
}

.form_bio::-webkit-input-placeholder {
  font-size: 1.125rem;
  color: #000;
  opacity: .32;
}

.form_bio:-ms-input-placeholder {
  font-size: 1.125rem;
  color: #000;
  opacity: .32;
}

.form_bio::-ms-input-placeholder {
  font-size: 1.125rem;
  color: #000;
  opacity: .32;
}

.form_bio::placeholder {
  font-size: 1.125rem;
  color: #000;
  opacity: .32;
}

.setting_btn {
  display: block;
  width: 180px;
  height: 48px;
  background-color: #12141B;
  color: #fff;
  font-size: 1rem;
  font-family: Axiforma;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 3.625rem;
  margin-top: 1.5rem;
  margin-right: 11rem;
}

.title_UserPrivacy {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2.8125rem;
  text-align: right;
  padding-right: 2.9375rem;
}

.text_UserPrivacy {
  font-size: 1rem;
  font-family: Axiforma;
  font-weight: 400;
  padding-top: 3.0625rem;
  color: #000;
  opacity: .7;
  line-height: 160%;
  margin-top: 0;
  margin-bottom: 1.75rem;
}

.text_UserPrivacy:nth-child(2), .text_UserPrivacy:nth-child(3) {
  padding-top: 0;
}

.box_UserPrivacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 6.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn_UserPrivacy {
  font-size: 1rem;
  font-family: ProductSans;
  font-weight: 700;
  width: 321px;
  height: 40px;
  background-color: #fff;
  color: #12141B;
  border: none;
  cursor: pointer;
  outline: 2px solid #12141B;
}

label:not(:empty),
input[type="checkbox"]:not(:empty),
input[type="checkbox"],
.mdCheck,
label,
label:before,
label:after,
input[type="checkbox"]:checked,
input[type="checkbox"]:disabled {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form_settings .box_wantUpdate {
  width: 384px;
  height: 66px;
  background-color: #f7f7f7;
  border: 1px solid #BDBDBD !important;
  opacity: 1;
  padding-left: 2.85rem;
  padding-top: 13px;
  margin-top: 2.625rem;
  margin-left: 1.5rem;
  position: relative;
}

.form_settings .wantUpdate_text {
  font-size: 1rem;
  font-family: Axiforma;
  font-weight: 400;
  color: #707070;
  opacity: 1;
  margin-top: 0.5rem;
  padding-right: 2rem !important;
  margin-right: 2rem;
}

.mdCheck.mdCheck-inline {
  display: inline-block;
}

.mdCheck .wantUpdate_text {
  cursor: pointer;
  display: inline;
  line-height: 1.45em;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
}

.mdCheck .wantUpdate_text:not(:empty) {
  padding-left: .75em;
}

.mdCheck .wantUpdate_text:before, .mdCheck .wantUpdate_text:after {
  content: "";
  position: absolute;
  top: 22px;
  left: 29px;
}

.mdCheck .wantUpdate_text:before {
  width: 1.25em;
  height: 1.25em;
  background: #fff;
  border: 2px solid #333333;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.mdCheck .checkbox_wantUpdate[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}

.mdCheck .checkbox_wantUpdate[type="checkbox"]:checked + .wantUpdate_text:before {
  background: #333333;
  border: none;
}

.mdCheck .checkbox_wantUpdate[type="checkbox"]:checked + .wantUpdate_text:after {
  -webkit-transform: translate(0.25em, 0.33654em) rotate(-45deg);
          transform: translate(0.25em, 0.33654em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}

.mdCheck .checkbox_wantUpdate[type="checkbox"]:disabled + .wantUpdate_text:before {
  border-color: #333333;
}

.mdCheck .checkbox_wantUpdate[type="checkbox"]:disabled:checked + .wantUpdate_text:before {
  background: #333333;
}

.section_saveInfo {
  background: url(../img/fon.png);
  background-size: cover;
  padding-bottom: 5rem;
  text-align: center;
}

.section_saveInfo img {
  width: 100%;
  padding-top: 4.5rem;
}
/*# sourceMappingURL=main.css.map */