@import "../../../MainPage/scss/fonts";
@import "../../../MainPage/scss/main";
// @import "media";

.MyProfile_btn {
	margin-bottom: 0;
}

.main_item {
	padding-top: 2.375rem;
}

.section_ActivityDetails,
.section_TermsList,
.section_header {
	background-image: url(../img/fon.png);
	background-size: cover;
	padding-bottom: 0.5rem;
}

.section_Activity {
	background-color: #12151E;
}

.section_ActivityDetails {
	padding-bottom: 5.5rem;
	min-height: 80vh;
}

.title_Activity {
	font-size: 2rem;
	font-family: Anton;
	font-weight: 400;
	color: #fff;
	padding-bottom: 0.7rem;
	padding-top: 0.7rem;
	margin-left: 0rem;
	margin-top: 0;
	margin-bottom: 0;

	&:before {
		background-image: url(../img/arrow_down.svg);
		display: inline-block;
		content: "";
		width: 32px;
		height: 32px;
		position: relative;
		top: 2px;
		right: 6px;
	}
}

.details_text {
	font-size: 1.5rem;
	font-family: ProductSans;
	font-weight: 400;
	margin-top: 0;
	padding-top: 2.4375rem;
	padding-bottom: 3.25rem;
	margin-bottom: 0;
}

.title_date {
	font-size: 1.5rem;
	font-family: Axiforma;
	font-weight: 700;
	color: #000;
	opacity: .87;
	margin-bottom: 0;
	padding-bottom: 0.7rem;
}

.text_date {
	font-size: 1.5rem;
	font-family: Axiforma;
	font-weight: 400;
	color: #000;
	opacity: .54;
	margin-top: 0;
	line-height: 150%;
}

.wrapper {
	margin-left: 7.8125rem;
}

.box_ActivityDetails {
	max-width: 1170px;
	min-height: 156px;
	background-color: #fff;
	margin-bottom: 0.7rem;
}

.box_DateAndTime {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-image: url(../img/Icon_sold.svg);
	background-repeat: no-repeat;
	background-position: 2% 30%;
}

.other_img {
	background-image: url(../img/Icon_created.svg);
	background-repeat: no-repeat;
	background-position: 2% 30%;
}

.btn_box {
	flex-wrap: wrap;
}

.btn_ViewDetails {
	width: 165px;
	height: 52px;
	font-size: 1.125rem;
	font-family: Axiforma;
	font-weight: 700;
	background-color: #000;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	margin-top: 3.6875rem;
	margin-right: 1.5rem;

	&:active {
		border: none;
		outline: none;
	}

	&:focus {
		border: none;
		outline: none;
	}
}