@media (max-width: 56.25em) {
  .container {
    max-width: 320px;
    padding: 0;
  }
  .main_menu,
  .main_nav,
  .main_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main_nav {
    margin-left: 2.5rem;
  }
  .section_AnyActivities,
  .section_ActivityDetails,
  .section_header {
    background-size: auto;
  }
  .main_logo {
    margin-right: 0;
  }
  .logo {
    width: 52px;
    height: 39px;
  }
  .main_item {
    padding-top: 1.5rem;
    padding-left: 1.1rem;
  }
  .main_item-link {
    font-size: 0.75rem;
    margin-top: 2rem;
  }
  .MyProfile_btn {
    width: 40px;
    height: 40px;
    font-size: 0;
    padding-left: 0;
    margin-left: 1.5rem;
    margin-top: 1rem;
    padding-top: 0;
    outline: none;
    background-position: center center;
    background-color: #fff;
    border-radius: 50%;
    border-color: #fff;
    margin-bottom: 0;
  }
  .title_NoActivity,
  .title_Activity {
    font-size: 1rem;
    margin: 0;
    margin-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .title_NoActivity:before,
  .title_Activity:before {
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center;
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    position: relative;
    top: -2px;
    right: 6px;
  }
  .section_ActivityDetails {
    padding-bottom: 2rem;
  }
  .details_text {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 1rem;
    padding-top: 1.3rem;
    padding-bottom: 1.5rem;
  }
  .details_text br {
    display: none;
  }
  .box_ActivityDetails {
    width: 332px;
    height: 158px;
    margin-bottom: 1rem;
    margin-right: 0;
    margin-left: 0;
  }
  .title_date {
    font-size: 1rem;
    margin-left: 4.375rem;
    margin-bottom: 1.25rem;
    padding-bottom: 0;
  }
  .text_date {
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 0.875rem;
    word-wrap: break-word;
  }
  .text_date br {
    display: none;
  }
  .wrapper {
    margin-left: 0;
  }
  .box_DateAndTime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-image: url(../img/Icon_created-mobile2.svg);
    background-repeat: no-repeat;
    background-position: 3% 0%;
  }
  .btn_ViewDetails {
    width: 125px;
    height: 36px;
    font-size: 0.875rem;
    margin-top: 0;
    margin-left: 1rem;
  }
  .title_AnyActivities {
    font-size: 1.5rem;
    text-align: left;
    padding-top: 1.5rem;
    margin-bottom: 0;
    line-height: 150%;
    margin-left: 1rem;
  }
  .title_AnyActivities br {
    display: none;
  }
  .btn_NoActivity,
  .btn_NoActivity_big {
    width: 203px;
    margin-left: 3.9rem;
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }
  .btn_ViewFAQs {
    width: 199px;
    margin-left: 1rem;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    margin-top: 0;
  }
  .footer_menuList-box {
    padding-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
  }
  .footer_item-link {
    font-size: 1rem;
  }
  .main_footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(../img/footer/fon_footer-mobile.png) center repeat-x, url(../img/Fon.jpg) no-repeat;
    background-size: contain, auto;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .mobile_menu {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1rem;
  }
  .mobile_item {
    margin-left: -3rem;
  }
  .mobile_group {
    padding-bottom: 0;
  }
  .footer_item {
    margin-right: 7.125rem;
  }
  .mobile_item {
    margin-right: 0;
  }
  .mobile_item2 {
    width: 96px;
    margin-right: 4rem;
    -webkit-transform: translateX(40%) translateY(25%);
            transform: translateX(40%) translateY(25%);
  }
  .mobile_item2:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .mobile_privacy {
    -webkit-transform: translateX(20%) translateY(15%);
            transform: translateX(20%) translateY(15%);
  }
  .footer_group:nth-child(2) {
    margin-left: -2rem;
  }
  .line2,
  .line {
    position: relative;
  }
  .line2:after,
  .line:after {
    position: absolute;
    left: 0px;
    top: 135px;
    display: inline-block;
    content: "";
    height: 1px;
    width: 240px;
    background-image: url(../img/footer/Line2.png);
  }
  .line:after {
    left: -0px;
    top: 135px;
  }
  .line2:after {
    left: 1px;
    top: 135px;
  }
  .mobile_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 21em) {
  .container {
    max-width: 320px;
    padding: 0;
  }
  .MyProfile_btn {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0.8rem;
    margin-right: 0;
  }
  .main_logo {
    margin-right: 0;
    margin-left: 1rem;
  }
  .main_nav {
    margin-left: 3.1rem;
  }
  .container {
    max-width: 320px;
    padding: 0;
  }
  .box_ActivityDetails {
    width: 304px;
    height: 158px;
    margin-bottom: 1rem;
    margin-right: 0;
    margin-left: 7px;
  }
  .details_text {
    margin-left: 0.5rem;
  }
  .btn_NoActivity,
  .btn_NoActivity_big {
    width: 203px;
    margin-left: 3rem;
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }
  .btn_ViewFAQs {
    width: 199px;
    margin-left: -0.7rem;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    margin-top: 0;
  }
  .AnyActivities_img {
    margin-right: 1rem;
  }
}
/*# sourceMappingURL=media.css.map */