@font-face {
  font-family: Anton;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Anton/AntonRegular.ttf) format("truetype");
}

@font-face {
  font-family: ProductSans;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ProductSans/ProductSansBold.ttf) format("truetype");
}

@font-face {
  font-family: ProductSans;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ProductSans/ProductSansRegular.ttf) format("truetype");
}

@font-face {
  font-family: Plakette;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Plakette/PlaketteSerialBold.ttf) format("truetype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaBold.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaSemiBold.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaMedium.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaRegular.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaExtraBold.otf) format("opentype");
}

@font-face {
  font-family: Anton;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Anton/AntonRegular.ttf) format("truetype");
}

@font-face {
  font-family: ProductSans;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ProductSans/ProductSansBold.ttf) format("truetype");
}

@font-face {
  font-family: ProductSans;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ProductSans/ProductSansRegular.ttf) format("truetype");
}

@font-face {
  font-family: Plakette;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Plakette/PlaketteSerialBold.ttf) format("truetype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaBold.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaSemiBold.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaMedium.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaRegular.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaExtraBold.otf) format("opentype");
}

html {
  font-size: 16px;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.section_create,
.section_start,
.section_header {
  background-image: url(../img/Fon.jpg);
  background-size: cover;
}

.main_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_logo {
  padding-top: 1rem;
}

.main_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.main_menu li:first-child {
  padding-left: 0;
}

.main_item {
  padding-top: 2.1rem;
  padding-left: 1.75rem;
}

.main_item-link {
  text-decoration: none;
  color: #12141B;
  font-family: Axiforma;
  font-weight: 500;
  font-size: 1.125rem;
}

.btn_start,
.profile_btn,
.create-btn {
  outline: none;
  background-color: #12141B;
  color: #ffffff;
  font-family: Axiforma;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.profile_btn {
  font-size: 1.125rem;
  margin-top: 1.375rem;
  margin-left: 2.5rem;
  width: 92px;
  height: 48px;
}

.profile_btn:hover {
  background-color: #1B1E28;
}

.profile_btn:active {
  background-color: #000;
}

.MyProfile_btn {
  font-size: 1.125rem;
  margin-top: 1.125rem;
  margin-left: 2.5rem;
  width: 156px;
  height: 57px;
  outline: none;
  background-color: #fff;
  border: 1px solid #BDBDBD;
  color: #12141B;
  font-family: Axiforma;
  font-weight: 700;
  cursor: pointer;
  background-image: url(../img/dali.png);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 9% center;
  padding-left: 3rem;
  padding-top: 0.2rem;
  margin-bottom: 2rem;
}

.create-btn {
  font-size: 1.5rem;
  width: 229px;
  height: 56px;
  margin-top: 3rem;
  margin-bottom: 7.25rem;
  display: block;
}

.create-btn:hover {
  background-color: #1B1E28;
}

.create-btn:active {
  background-color: #000;
}

.painting_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create-img {
  margin-top: 6.75rem;
  max-width: 100%;
}

.create_img-framed {
  max-width: 100%;
}

.create_img-framed-large {
  max-width: 100%;
  position: relative;
  left: 90px;
  display: none;
}

.create_img-quote {
  max-width: 100%;
}

.link_telegram {
  display: block;
  text-align: right;
  margin-top: 1rem;
  position: fixed;
  -webkit-transform: translateX(800%);
          transform: translateX(800%);
}

.section_cryptopainters {
  background-image: url(../img/Fon_blue.png);
  background-size: cover;
  padding-bottom: 3.8rem;
}

.cryptopainters_box {
  text-align: center;
}

.img_cryptopainters {
  margin-top: 3rem;
  max-width: 100%;
}

.text_cryptopainters {
  margin: 0;
  margin-top: 1.7rem;
  text-align: center;
  font-size: 1.25rem;
  font-family: Axiforma;
  font-weight: 700;
  line-height: 140%;
  color: #111219;
}

.section_start {
  text-align: center;
}

.start_text-anyuser,
.start_text-join {
  font-size: 1.5rem;
}

.start_text-anyuser {
  font-family: Axiforma;
  font-weight: 400;
  color: #11131A;
  opacity: .5;
  margin: 0;
  padding-top: 4rem;
}

.start_text-anyuser {
  padding-top: 2rem;
}

.start_text-join {
  font-weight: 800;
  color: #12141B;
  margin-bottom: 2rem;
  font-family: Axiforma;
  font-weight: 800;
}

.btn_start {
  text-align: center;
  width: 143px;
  height: 53px;
  font-size: 1.5rem;
  position: relative;
  padding-right: 2rem;
  padding-top: 0.2rem;
  margin-bottom: 7.5rem;
  margin-right: 4rem;
}

.btn_start:hover {
  background-color: #1B1E28;
}

.btn_start:active {
  background-color: #000;
}

.btn_start:after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  position: absolute;
  right: 22px;
  top: 20px;
}

.main_footer {
  padding-bottom: 2.5rem;
  background: url(../img/footer/fon_footer.png) no-repeat, url(../img/Fon.jpg) no-repeat;
  background-size: cover;
}

.footer_menuList-box {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer_group {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_menu {
  padding-left: 0;
}

.footer_item {
  margin-bottom: 1rem;
  margin-right: 4.125rem;
  list-style: none;
}

.footer_item-link {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-family: ProductSans;
  font-weight: 400;
  padding-top: 1.33333333333rem;
}

.line,
.line2 {
  position: relative;
}

.line:after,
.line2:after {
  position: absolute;
  display: inline-block;
  content: "";
  height: 84px;
  width: 1px;
  background-image: url(../img/footer/Line.svg);
}

.line:after {
  left: 310px;
  top: 35px;
}

.line2:after {
  left: 310px;
  top: 35px;
}

.MyProfile_btn {
  margin-bottom: 0;
}

.main_item {
  padding-top: 2.375rem;
}

.section_Author-profile,
.section_header {
  background-image: url(../img/fon.png);
  background-size: cover;
}

.section_Author-profile {
  padding-bottom: 2rem;
}

.Author-profile_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.avatar_Author-profile-img {
  max-width: 100%;
  margin-top: 2rem;
}

.title_Author-profile {
  margin-bottom: 0;
  font-size: 2rem;
  font-family: Axiforma;
  font-weight: 700;
  margin-top: 2.1rem;
  margin-left: 1.5rem;
  position: relative;
}

.text_Author-profile {
  width: 491px;
  word-wrap: break-word;
  font-family: ProductSans;
  font-weight: 400;
  font-size: 1rem;
  color: #000;
  opacity: .87;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.btn_copyAddress,
.btn_copyReport {
  font-family: Axiforma;
  font-weight: 400;
  font-size: 1.125rem;
  color: #000;
  opacity: .54;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn_copyAddress {
  margin-left: 7.5rem;
  margin-right: 1.75rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.btn_copyAddress:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 8px;
  left: 144px;
  background-image: url(../img/Ellipse.svg);
  cursor: auto;
}

.btn_copyReport a {
  text-decoration: none;
  font-family: Axiforma;
  font-weight: 400;
  font-size: 1.125rem;
  color: #000;
  background-color: transparent;
}

.title_paintings-AuthorProfile {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-family: Axiforma;
  font-weight: 700;
  margin-left: 7.5rem;
}

.title_paintings-AuthorProfile .quantity {
  color: #12141B;
  opacity: .32;
}

.profile_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_profile-btnPaint,
.footer_profile-Auction {
  border: none;
  cursor: pointer;
  font-family: Axiforma;
  font-weight: 700;
  font-size: 1.125rem;
}

.footer_profile-btnPaint {
  width: 90px;
  height: 48px;
  background-color: #000;
  color: #fff;
  outline: none;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.footer_profile-btnPaint:hover {
  background-color: #1B1E28;
}

.footer_profile-btnPaint:active {
  background-color: #000;
}

.footer_profile-Auction {
  width: 117px;
  height: 44px;
  background-color: #fff;
  color: #000;
  outline: 2px solid #000;
  margin-left: 1rem;
  margin-right: 0.2rem;
  -webkit-transform: translateY(-42%);
          transform: translateY(-42%);
}

.footer_profile-Auction:hover {
  background-color: #f0f0f0;
}

.footer_profile-Auction:active {
  background-color: #D6D6D6;
}

.section_BrowesAll {
  background-color: #fff;
  position: relative;
}

.form_BrowesAll {
  height: 61px;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.BrowesAll_search {
  width: 642px;
  height: 61px;
  border-bottom: 1px solid #BDBDBD;
  border-top: 1px solid #BDBDBD;
  border-left: 1px solid #BDBDBD;
  outline: none;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 2% 50%;
  font-size: 1.5rem;
  font-family: Axiforma;
  font-weight: 400;
  padding-left: 3rem;
  line-height: 22px !important;
}

.BrowesAll_search:active, .BrowesAll_search:focus {
  outline: none;
}

input[type="search"]::-webkit-input-placeholder {
  opacity: .32;
  line-height: 40px !important;
  font-size: 1.5rem;
}

input[type="search"]:-ms-input-placeholder {
  opacity: .32;
  line-height: 40px !important;
  font-size: 1.5rem;
}

input[type="search"]::-ms-input-placeholder {
  opacity: .32;
  line-height: 40px !important;
  font-size: 1.5rem;
}

input[type="search"]::placeholder {
  opacity: .32;
  line-height: 40px !important;
  font-size: 1.5rem;
}

label:not(:empty),
input[type="checkbox"]:not(:empty),
input[type="checkbox"],
.mdCheck,
label,
label:before,
label:after,
input[type="checkbox"]:checked,
input[type="checkbox"]:disabled {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form_BrowesAll .box_wantUpdate {
  width: 148px;
  height: 61px;
  background-color: #fff;
  border: 1px solid #BDBDBD !important;
  opacity: 1;
  position: relative;
  left: -1px;
}

.form_BrowesAll .wantUpdate_text {
  font-size: 1.125rem;
  font-family: Axiforma;
  font-weight: 400;
  color: #12141B;
  opacity: 1;
}

.mdCheck.mdCheck-inline {
  display: inline-block;
}

.mdCheck .wantUpdate_text {
  cursor: pointer;
  display: inline;
  line-height: 3.40em;
  vertical-align: top;
  clear: both;
}

.mdCheck .wantUpdate_text:not(:empty) {
  padding-left: 40px;
}

.mdCheck .wantUpdate_text:before, .mdCheck .wantUpdate_text:after {
  content: "";
  position: absolute;
  top: 17px;
  left: 20px;
}

.mdCheck .wantUpdate_text:before {
  width: 1.25em;
  height: 1.25em;
  background: #fff;
  border: 2px solid #333333;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.mdCheck .checkbox_wantUpdate[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}

.mdCheck .checkbox_wantUpdate[type="checkbox"]:checked + .wantUpdate_text:before {
  background: #333333;
  border: none;
}

.mdCheck .checkbox_wantUpdate[type="checkbox"]:checked + .wantUpdate_text:after {
  -webkit-transform: translate(0.25em, 0.33654em) rotate(-45deg);
          transform: translate(0.25em, 0.33654em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}

.mdCheck .checkbox_wantUpdate[type="checkbox"]:disabled + .wantUpdate_text:before {
  border-color: #333333;
}

.mdCheck .checkbox_wantUpdate[type="checkbox"]:disabled:checked + .wantUpdate_text:before {
  background: #333333;
}

.sortByPrice {
  width: 12.3125rem;
  height: 61px;
  outline: none;
  text-align: left;
  padding-left: 1rem;
  font-family: Axiforma;
  font-weight: 400;
  font-size: 1.125rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #BDBDBD;
  cursor: pointer;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  left: -2px;
}

.BrowesAll_select {
  width: 11.5rem;
  height: 61px;
  font-family: Axiforma;
  font-weight: 400;
  font-size: 1.125rem;
  position: relative;
  left: -3px;
  padding-left: 1rem;
  outline: none;
  background-color: #fff;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 1px solid #BDBDBD !important;
}

.img_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box_all {
  position: relative;
  margin-bottom: 2rem;
}

.btn_auction-like {
  position: absolute;
  left: 215px;
  top: 35px;
  width: 28px;
  height: 28px;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

svg:hover {
  fill: black;
}

.data_author,
.data_number {
  font-family: Axiforma;
  font-weight: 500;
  font-size: 0.75rem;
  color: #000000;
  opacity: .54;
}

.data_author {
  -webkit-transform: translateY(-130%) translateX(-30%);
          transform: translateY(-130%) translateX(-30%);
}

.data_number {
  -webkit-transform: translateY(-130%) translateX(30%);
          transform: translateY(-130%) translateX(30%);
}

.img_data {
  background-image: url(../img/border_metal/2.png);
  background-repeat: no-repeat;
  width: 284px;
  height: 294px;
  text-align: center;
  padding-top: 2rem;
}

.img_likes {
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

.box_forSale {
  background-color: #fff;
  max-width: 130px;
  height: 33px;
  margin: 0 auto;
  -webkit-transform: translateY(-11%);
          transform: translateY(-11%);
  text-align: center;
}

.text_forSale {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-right: 0.7rem;
  padding-left: 0.2rem;
}

.text_forSale .price_forSale {
  color: #000;
  opacity: .54;
  padding-left: 0.7rem;
}

.btn_nav {
  margin-bottom: 3rem;
  width: 36px;
  height: 36px;
  background-color: #fff;
  color: #333333;
  cursor: pointer;
  font-family: Axiforma;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 7px;
  text-align: center;
  margin-right: 0.5rem;
}

.btn_nav:hover {
  background-color: #E0E0E0;
}

.btn_nav:active {
  color: #fff;
  background-color: #333333;
}

.active_btn-nav {
  color: #fff;
  background-color: #333333;
}

.active_btn-nav:hover {
  background-color: #333333;
}

.btn-nav_box {
  margin-left: 3.6875rem;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 56.25em) {
  .main_footer {
    background-image: url(../img/footer/fon_footer-mobile.png);
    background-size: cover;
  }
}

@media (max-width: 20em) {
  .title_paintings-AuthorProfile {
    margin-left: 0.5rem !important;
  }
}
/*# sourceMappingURL=main.css.map */