@import "../../../MainPage/scss/fonts";
@import "../../../MainPage/scss/main";

.MyProfile_btn {
	margin-bottom: 0;
}

.main_item {
	padding-top: 2.375rem;
}


.section_Author-profile,
.section_header {
	background-image: url(../img/fon.png);
	background-size: cover;
}

.section_Author-profile {
	padding-bottom: 2rem;
}

.Author-profile_box {
	display: flex;
}

.avatar_Author-profile-img {
	max-width: 100%;
	margin-top: 2rem;
}

.title_Author-profile {
	margin-bottom: 0;
	font-size: 2rem;
	font-family: Axiforma;
	font-weight: 700;
	margin-top: 2.1rem;
	margin-left: 1.5rem;
	position: relative;
}

.text_Author-profile {
	width: 491px;
	word-wrap: break-word;
	font-family: ProductSans;
	font-weight: 400;
	font-size: 1rem;
	color: #000;
	opacity: .87;
	margin-bottom: 1rem;
	margin-top: 1rem;
	margin-left: 1.5rem;
}

.btn_copyAddress,
.btn_copyReport {
	font-family: Axiforma;
	font-weight: 400;
	font-size: 1.125rem;
	color: #000;
	opacity: .54;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn_copyAddress {
	margin-left: 7.5rem;
	margin-right: 1.75rem;
	margin-bottom: 1.5rem;
	position: relative;

	&:after {
		content: "";
		display: inline-block;
		width: 4px;
		height: 4px;
		position: absolute;
		top: 8px;
		left: 144px;
		background-image: url(../img/Ellipse.svg);
		cursor: auto;
	}
}

.btn_copyReport a {
	text-decoration: none;
	font-family: Axiforma;
	font-weight: 400;
	font-size: 1.125rem;
	color: #000;
	background-color: transparent;

}


.title_paintings-AuthorProfile {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5rem;
	font-family: Axiforma;
	font-weight: 700;
	margin-left: 7.5rem;

	.quantity {
		color: #12141B;
		opacity: .32;
	}
}

.profile_footer {
	display: flex;
	justify-content: space-between;
}

.footer_profile-btnPaint,
.footer_profile-Auction {
	border: none;
	cursor: pointer;
	font-family: Axiforma;
	font-weight: 700;
	font-size: 1.125rem;
}

.footer_profile-btnPaint {
	width: 90px;
	height: 48px;
	background-color: #000;
	color: #fff;
	outline: none;
	transform: translateY(-40%);

	&:hover {
		background-color: #1B1E28;
	}

	&:active {
		background-color: #000;
	}
}

.footer_profile-Auction {
	width: 117px;
	height: 44px;
	background-color: #fff;
	color: #000;
	outline: 2px solid #000;
	margin-left: 1rem;
	margin-right: 0.2rem;
	transform: translateY(-42%);

	&:hover {
		background-color: rgb(240, 240, 240);
	}

	&:active {
		background-color: #D6D6D6;
	}
}

.section_BrowesAll {
	background-color: #fff;
	position: relative;
}

.form_BrowesAll {
	height: 61px;
	margin-bottom: 2rem;
	display: flex;
}

.BrowesAll_search {
	width: 642px;
	height: 61px;
	border-bottom: 1px solid #BDBDBD;
	border-top: 1px solid #BDBDBD;
	border-left: 1px solid #BDBDBD;
	outline: none;
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: 2% 50%;
	font-size: 1.5rem;
	font-family: Axiforma;
	font-weight: 400;
	padding-left: 3rem;
	line-height: 22px !important;

	&:active,
	&:focus {
		outline: none;
	}
}

input[type="search"]::placeholder {
	opacity: .32;
	line-height: 40px !important;
	font-size: 1.5rem;
}


$md-checkbox-border-color-disabled: #333333;
$md-checkbox-checked-color-disabled: #333333;
$md-checkbox-checked-color: #333333;
$md-checkbox-border-color: #333333;
$md-checkbox-margin: 1em 0;
$md-checkbox-size: 1.25em;
$md-checkbox-padding: .25em;
$md-checkbox-border-width: 2px;
$md-checkbox-border-radius: 3px;
$md-checkmark-width: 0.125em;
$md-checkmark-color: #fff;
$md-checkbox-label-padding: .75em;

label:not(:empty),
input[type="checkbox"]:not(:empty),
input[type="checkbox"],
.mdCheck,
label,
label:before,
label:after,
input[type="checkbox"]:checked,
input[type="checkbox"]:disabled {
	box-sizing: border-box;
}

.form_BrowesAll {
	.box_wantUpdate {
		width: 148px;
		height: 61px;
		background-color: #fff;
		border: 1px solid #BDBDBD !important;
		opacity: 1;
		position: relative;
		left: -1px;
	}

	.wantUpdate_text {
		font-size: 1.125rem;
		font-family: Axiforma;
		font-weight: 400;
		color: #12141B;
		opacity: 1;
	}
}

.mdCheck {
	&.mdCheck-inline {
		display: inline-block;
	}

	.wantUpdate_text {
		cursor: pointer;
		display: inline;
		line-height: 3.40em;
		vertical-align: top;
		clear: both;

		&:not(:empty) {
			padding-left: 40px;
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 17px;
			left: 20px;
		}

		&:before {
			width: 1.25em;
			height: 1.25em;
			background: #fff;
			border: $md-checkbox-border-width solid $md-checkbox-border-color;
			border-radius: $md-checkbox-border-radius;
			cursor: pointer;
			transition: background .3s;
		}
	}

	.checkbox_wantUpdate[type="checkbox"] {
		outline: 0;
		visibility: hidden;
		width: $md-checkbox-size;
		margin: 0;
		display: block;
		float: left;
		font-size: inherit;

		&:checked {
			+.wantUpdate_text:before {
				background: $md-checkbox-checked-color;
				border: none;
			}

			+.wantUpdate_text:after {
				$md-checkmark-size: $md-checkbox-size - 2 * $md-checkbox-padding;
				transform: translate($md-checkbox-padding, ($md-checkbox-size / 2) - ($md-checkmark-size / 2.6)) rotate(-45deg);
				width: $md-checkmark-size;
				height: $md-checkmark-size / 2;
				border: $md-checkmark-width solid $md-checkmark-color;
				border-top-style: none;
				border-right-style: none;
			}
		}

		&:disabled {
			+.wantUpdate_text:before {
				border-color: $md-checkbox-border-color-disabled;
			}

			&:checked {
				+.wantUpdate_text:before {
					background: $md-checkbox-checked-color-disabled;
				}
			}
		}
	}
}

.sortByPrice {
	width: 12.3125rem;
	height: 61px;
	outline: none;
	text-align: left;
	padding-left: 1rem;
	font-family: Axiforma;
	font-weight: 400;
	font-size: 1.125rem;
	background-color: #fff;
	color: #000;
	border: 1px solid #BDBDBD;
	cursor: pointer;
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-position: 85% 50%;
	appearance: none;
	position: relative;
	left: -2px;
	
}



.BrowesAll_select {
	width: 11.5rem;
	height: 61px;
	font-family: Axiforma;
	font-weight: 400;
	font-size: 1.125rem;
	position: relative;
	left: -3px;
	padding-left: 1rem;
	outline: none;
	background-color: #fff;
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-position: 85% 50%;
	appearance: none;
	cursor: pointer;
	border: 1px solid #BDBDBD;
}

.img_group {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer_data {
	display: flex;
	justify-content: space-around;
}

.box_all {
	position: relative;
	margin-bottom: 2rem;
}

.btn_auction-like {
	position: absolute;
	left: 215px;
	top: 35px;
	width: 28px;
	height: 28px;
	opacity: 1;
	z-index: 1;
	cursor: pointer;
	appearance: none;
	border: none;
	outline: none;
	background: transparent;
}

svg {
	&:hover {
		fill: black;
	}
}

.data_author,
.data_number {
	font-family: Axiforma;
	font-weight: 500;
	font-size: 0.75rem;
	color: #000000;
	opacity: .54;
}

.data_author {
	transform: translateY(-130%) translateX(-30%);
}

.data_number {
	transform: translateY(-130%) translateX(30%);
}

.img_data {
	background-image: url(../img/border_metal/2.png);
	background-repeat: no-repeat;
	width: 284px;
	height: 294px;
	text-align: center;
	padding-top: 2rem
}

.img_likes {
	text-align: center;
	margin: 0 auto;
	position: relative;
	z-index: 0;
}

.box_forSale {
	background-color: #fff;
	max-width: 130px;
	height: 33px;
	margin: 0 auto;
	transform: translateY(-11%);
	text-align: center;
}

.text_forSale {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1rem;
	color: #000;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0.5rem;
	padding-right: 0.7rem;
	padding-left: 0.2rem;

	.price_forSale {
		color: #000;
		opacity: .54;
		padding-left: 0.7rem;
	}
}

.btn_nav {
	margin-bottom: 3rem;
	width: 36px;
	height: 36px;
	background-color: #fff;
	color: #333333;
	cursor: pointer;
	font-family: Axiforma;
	font-weight: 700;
	border: none;
	outline: none;
	border-radius: 7px;
	text-align: center;
	margin-right: 0.5rem;

	&:hover {
		background-color: #E0E0E0;
	}

	&:active {
		color: #fff;
		background-color: #333333;
	}
}

.active_btn-nav {
	color: #fff;
	background-color: #333333;

	&:hover {
		background-color: #333333;
	}
}

.btn-nav_box {
	margin-left: 3.6875rem;
	margin-top: 0;
	margin-bottom: 0;
}

@media (max-width: 56.25em) {
	.main_footer {
		background-image: url(../img/footer/fon_footer-mobile.png);
		background-size: cover;
	}
}

@media (max-width: 20em) {
	.title_paintings-AuthorProfile {
		margin-left: 0.5rem !important;
	}
}