@import "../../MainPage/scss/fonts";
@import "modal_media";

html {
	font-size: 16px;
}

//Миксин для заголовков

@mixin AxiformaBold {
	font-family: Axiforma;
	font-weight: 700;
}

//Миксин для текста

@mixin AxiformaRegular {
	font-family: Axiforma;
	font-weight: 400;
}

//одинаковые стили для кнопки скрыть окно (крестик), 
//она везде повторяется, поэтому останется менять только координаты
//тупо иклудится в один и тот же класс

@mixin close_btn {
	cursor: pointer;
	border: none;
	outline: none;
	background-color: #fff;
	position: absolute;

	&focus {
		border: none;
		outline: none;
	}

	&:active {
		border: none;
		outline: none;
	}
}

.btn_close-report,
.btn_close-browser,
.btn_close-WannaPaint,
.btn_close-CreateAccount,
.btn_close-signing,
.btn_close-MetaMask {
	@include close_btn;
}

//позиционирование идёт от самого модального окна

.btn_close-report,
.modal_window-browser,
.modal_window-WannaPaint,
.modal_window-CreateAccount,
.modal_window-signing,
.modal_window-SignInMetaMask {
	position: relative;
}

.btn_close-signing {
	left: 390px;
	top: 30px;
}

.btn_close-MetaMask {
	left: 640px;
	top: 18px;
}

.btn_close-CreateAccount {
	left: 390px;
	top: 25px;
}

.btn_close-WannaPaint {
	left: 530px;
	top: 25px;
}

.btn_close-browser {
	left: 530px;
	top: 25px;
}

.btn_close-report {
	left: 385px;
	top: -56px;
}



//конец кнопки крестика


//стили для окна с входом

.modal_window-signing {
	max-width: 437px;
	min-height: 404px;
	background-color: #fff;
	border: 1px solid black;
}

.signing_title,
.signing_text-check,
.signing_text {
	padding-left: 3.375rem;
}

//одинаковые стили для всех заголовков

.report_title,
.browser_title,
.WannaPaint_title,
.CreateAccount_title,
.MetaMask_title,
.signing_title {
	font-size: 1.5rem;
	padding-top: 2.5625rem;
	margin: 0;
	@include AxiformaBold;
}

//Жёлтые линии под заголовками и текстом


.report_title,
.WannaPaint_title,
.signing_title,
.CreateAccount_title,
.MetaMask_title {
	position: relative;

	&:after {
		content: "";
		display: inline-block;
		position: absolute;
	}
}

.signing_title {
	padding-bottom: 1.75rem;

	&:after {
		width: 80px;
		height: 7px;
		background-image: url(../img/Signin.png);
		top: 75px;
		left: 53px;
	}
}

.CreateAccount_title {
	padding-bottom: 1.5rem;

	&:after {
		width: 193px;
		height: 9px;
		background-image: url(../img/create_account.png);
		top: 75px;
		left: 40px;
	}
}

.MetaMask_title {
	&:after {
		width: 609px;
		height: 13px;
		background-image: url(../img/MetaMask_line.svg);
		top: 96px;
		left: 14px;
	}
}

.WannaPaint_title {
	padding-top: 2.375rem;
	padding-bottom: 2.1rem;
	margin: 0;

	&:after {
		width: 165px;
		height: 13px;
		background-image: url(../img/wanna_paint.png);
		top: 75px;
		left: 40px;
	}
}


.WannaPaint_text-secure,
.WannaPaint_text,
.CreateAccount_text,
.MetaMask_text,
.signing_text-check,
.signing_text {
	font-size: 1rem;
	color: #000000;
	opacity: .54;
	@include AxiformaRegular;
	padding-bottom: 1.6rem;
	margin: 0;
}

.signing_text-check {
	padding-bottom: 3.5rem;
}

.signing_btn,
.sign_btn {
	@include AxiformaBold;
	font-size: 1.125rem;
	margin-left: 3.375rem;
	margin-bottom: 2rem;
	padding-top: 0.2rem;
}

.signing_btn {
	width: 143px;
	height: 48px;
	background-color: #eeeeee;
	color: #C4C4C4;
}

.sign_btn {
	color: #fff;
	background-color: #12141B;
	width: 107px;
	height: 48px;
	&:hover {
		background-color: #1B1E28;
	}

	&:active {
		background-color: #000;
	}
}



.btn_report,
.btn_GetFirefox,
.btn_register,
.sign_btn,
.signing_btn {
	cursor: pointer;
	border: none;
	outline: none;

	&focus {
		border: none;
		outline: none;
	}

	&:active {
		border: none;
		outline: none;
	}
}



//стили для окна с гифкой

.modal_window-SignInMetaMask {
	width: 696px;
	height: 450px;
	background-color: #fff;
	border: 1px solid black;
	margin-top: 2rem;
}

//Общие оступы для заголовков модальных окон


.MetaMask_title,
.MetaMask_text {
	padding-left: 1.25rem;
}

.MetaMask_title {
	padding-bottom: 0.5rem;
	padding-top: 1.5rem;
	margin: 0;
}

.MetaMask_text {
	padding-bottom: 0;
}


.MetaMask_gif {
	width: 500px;
	height: 300px;
	padding-left: 5.5rem;
	margin-top: 2rem;
}

//Стили для create account

.modal_window-CreateAccount {
	width: 447px;
	min-height: 699px;
	background-color: #fff;
	border: 1px solid black;
	margin-top: 2rem;
}


.CreateAccount_text-privacy,
.CreateAccount_text,
.CreateAccount_title {
	padding-left: 2.8125rem;
	margin: 0;
}



.CreateAccount_text {
	padding-bottom: 0.6rem;
}

//Стили для формы 

.form_email,
.form_text {
	width: 347px;
	height: 38px;
	@include AxiformaRegular;
	font-size: 1.125rem;
	margin-left: 2.8125rem;
	padding-top: 0.8rem;
	padding-left: 0.9rem;
}

.form_email {
	margin-bottom: 0.7rem;
}

.CreateAccount_text-privacy {
	@include AxiformaBold;
	font-size: 1rem;
	padding-top: 1rem;
	color: #757575;
	padding-bottom: 1rem;

	a {
		text-decoration: none;
		opacity: 1;
		color: #2F80ED;
	}
}

//чекбоксы

.CreateAccount_rules,
.CreateAccount_updates {
	width: 347px;
	height: 74px;
	background-color: rgb(247, 247, 247);
	margin-left: 2.8125rem;
	text-align: left;
	border: 1px solid #E0E0E0;
}

.CreateAccount_rules {
	margin-bottom: 0.6rem;
}

.rules_text,
.updates_text {
	@include AxiformaRegular;
	line-height: 80%;
	padding-top: 0.9rem;
	margin: 0;
	color: #6F6F6F;
	position: relative;
	top: 16px;
	left: 20px;
}


//переменные для чекбоксов

$md-checkbox-border-color-disabled: #333333;
$md-checkbox-checked-color-disabled: #333333;
$md-checkbox-checked-color: #333333;
$md-checkbox-border-color: #333333;
$md-checkbox-margin: 1em 0;
$md-checkbox-size: 1.25em;
$md-checkbox-padding: .25em;
$md-checkbox-border-width: 2px;
$md-checkbox-border-radius: 3px;
$md-checkmark-width: 0.125em;
$md-checkmark-color: #fff;
$md-checkbox-label-padding: .75em;

label:not(:empty),
input[type="checkbox"]:not(:empty),
input[type="checkbox"],
.md-checkbox,
label,
label:before,
label:after,
input[type="checkbox"]:checked,
input[type="checkbox"]:disabled {
	box-sizing: border-box;
}


.md-checkbox {
	&.md-checkbox-inline {
		display: inline-block;
	}

	.rules_text {
		cursor: pointer;
		display: inline;
		line-height: 1.45em;
		vertical-align: top;
		clear: both;
		padding-left: 1px;

		&:not(:empty) {
			padding-left: .75em;
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 20px;
			left: -20px;
		}

		&:before {
			width: 1.25em;
			height: 1.25em;
			background: #fff;
			border: $md-checkbox-border-width solid $md-checkbox-border-color;
			border-radius: $md-checkbox-border-radius;
			cursor: pointer;
			transition: background .3s;
		}
	}

	.checkbox_rules[type="checkbox"] {
		outline: 0;
		visibility: hidden;
		width: $md-checkbox-size;
		margin: 0;
		display: block;
		float: left;
		font-size: inherit;

		&:checked {
			+.rules_text:before {
				background: $md-checkbox-checked-color;
				border: none;
			}

			+.rules_text:after {
				$md-checkmark-size: $md-checkbox-size - 2 * $md-checkbox-padding;
				transform: translate($md-checkbox-padding, ($md-checkbox-size / 2) - ($md-checkmark-size / 2.6)) rotate(-45deg) translateX(1%) translateY(0%);
				width: $md-checkmark-size;
				height: $md-checkmark-size / 2;
				border: $md-checkmark-width solid $md-checkmark-color;
				border-top-style: none;
				border-right-style: none;
			}
		}

		&:disabled {
			+.rules_text:before {
				border-color: $md-checkbox-border-color-disabled;
			}

			&:checked {
				+.rules_text:before {
					background: $md-checkbox-checked-color-disabled;
				}
			}
		}
	}
}

.md-checkbox2 {
	&.md-checkbox-inline {
		display: inline-block;
	}

	.updates_text {
		cursor: pointer;
		display: inline;
		line-height: 1.45em;
		vertical-align: top;
		clear: both;
		padding-left: 1px;

		&:not(:empty) {
			padding-left: $md-checkbox-label-padding;
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 20px;
			left: -20px;
		}

		&:before {
			width: $md-checkbox-size;
			height: $md-checkbox-size;
			background: #fff;
			border: $md-checkbox-border-width solid $md-checkbox-border-color;
			border-radius: $md-checkbox-border-radius;
			cursor: pointer;
			transition: background .3s;
		}
	}

	.checkbox_updates[type="checkbox"] {
		outline: 0;
		visibility: hidden;
		width: $md-checkbox-size;
		margin: 0;
		display: block;
		float: left;
		font-size: inherit;

		&:checked {
			+.updates_text:before {
				background: $md-checkbox-checked-color;
				border: none;
			}

			+.updates_text:after {
				$md-checkmark-size: $md-checkbox-size - 2 * $md-checkbox-padding;
				transform: translate($md-checkbox-padding, ($md-checkbox-size / 2) - ($md-checkmark-size / 2.6)) rotate(-45deg) translateX(1%) translateY(0%);
				width: $md-checkmark-size;
				height: $md-checkmark-size / 2;
				border: $md-checkmark-width solid $md-checkmark-color;
				border-top-style: none;
				border-right-style: none;
			}
		}

		&:disabled {
			+.updates_text:before {
				border-color: $md-checkbox-border-color-disabled;
			}

			&:checked {
				+.updates_text:before {
					background: $md-checkbox-checked-color-disabled;
				}
			}
		}
	}

}

//конец стилей чекбоксов



//плейсхолдеры инпутов

.form_email:focus~.floating-label,
.form_email:not(:focus):valid~.floating-label {
	top: 217px;
	font-size: 12px;
	color: #000000;
	opacity: .5;
}

.form_text:focus~.floating-label2,
.form_text:not(:focus):valid~.floating-label2 {
	top: 285px;
	font-size: 12px;
	color: #000000;
	opacity: .5;
}


.floating-label2,
.floating-label {
	@include AxiformaRegular;
	font-size: 1rem;
	color: #ADADAD;
	// opacity: .8;
	position: absolute;
	pointer-events: none;
	transition: 0.2s ease all;
}

.floating-label {
	left: 60px;
	top: 230px;
}

.floating-label2 {
	left: 60px;
	top: 297px;
}


//Кнопка регистрации


.btn_register {
	@include AxiformaBold;
	font-size: 1.125rem;
	width: 127px;
	height: 48px;
	color: #fff;
	background-color: #12141B;
	margin-top: 2rem;
	margin-bottom: 2rem;
	transform: translateX(210%);
	&:hover {
		background-color: #1B1E28;
	}

	&:active {
		background-color: #000;
	}
}

//стили для модального окна Wanna Paint

.modal_window-WannaPaint {
	width: 581px;
	height: 505px;
	border: 1px solid black;
	margin-top: 2rem;
	background-image: url(../img/Icon_paint.svg);
	background-position: 49% center;
	background-repeat: no-repeat;
}



.WannaPaint_text-secure,
.WannaPaint_text,
.WannaPaint_title {
	padding-left: 2.375rem;
}

.WannaPaint_text {
	padding-bottom: 0.5rem;
}

.WannaPaint_text-secure {
	padding-bottom: 0;
	padding-top: 11.5rem;
}

.btn_GetFirefox {
	@include AxiformaBold;
	font-size: 1.125rem;
	width: 378px;
	height: 48px;
	background-color: #12141B;
	color: #fff;
	margin-top: 2.5rem;
	margin-left: 6.2rem;
	margin-bottom: 2rem;
	&:hover {
		background-color: #1B1E28;
	}

	&:active {
		background-color: #000;
	}
}

// стили для модального окна c браузерами

.modal_window-browser {
	width: 580px;
	height: 510px;
	margin-top: 2rem;
	border: 1px solid black;
	background-image: url(../img/painting.svg);
	background-position: 50% 63%;
	background-repeat: no-repeat;

	hr {
		margin: 0;
	}
}

.browser_title {
	padding-left: 2.3125rem;
	padding-bottom: 1rem;
	opacity: .9;
}

.btn_downloadChrome {
	margin-left: 2.5rem;
	margin-right: 1.125rem;
}

.btn_downloadChrome,
.btn_downloadFirefox {
	@include AxiformaBold;
	font-size: 1.125rem;
	width: 241px;
	height: 48px;
	border: 2px solid #12141B;
	background-color: #fff;
	color: #12141B;
	cursor: pointer;
	margin-top: 15.33rem;
	&:hover {
		background-color: rgb(240, 240, 240);
	}
	&:active {
		background-color: #D6D6D6;
		outline: none;
		border: 2px solid #12141B;
	}
	&:focus {
		border: 2px solid #12141B;
		outline: none;
	}

}

//Стили для модального окна Report Page 

.modal_window-report {
	width: 437px;
	height: 595px;
	border: 1px solid #000;
	margin-top: 1rem;
}

.report_title {
	margin-left: 2.8125rem;
	margin-top: 2.875rem;
	margin-bottom: 0;
	padding-top: 0;
}

.report_text {
	font-size: 1rem;
	@include AxiformaRegular;
	color: #000;
	opacity: .54;
	margin-left: 2.8125rem;
	margin-top: 0;
	line-height: 140%;
}

.report_form {

	.report_select,
	option {
		background-color: #fff;
		font-size: 0.85rem;
		@include AxiformaRegular;
		cursor: pointer;
	}

	option:checked {
		color: #000;
		outline: none;
		border: none;
		background-color: #fff;
		cursor: pointer;
	}

	option:not(:checked) {
		color: #000;
		outline: none;
		border: none;
		background-color: #fff;
		cursor: pointer;
	}
	
}

select:checked {
	background-color: #fff;
	padding-top: 1rem;
	cursor: pointer;
}


.report_select {
	margin-left: 2.8125rem;
	width: 360px;
	height: 50px;
	padding-left: 0.6rem;
	border: 1px solid #C4C4C4;
	outline: none;
	background-color: #fff;
	margin-bottom: 1.5rem;
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-position: 95% 50%;
	appearance: none;
	cursor: poiner;
}

.label_reason {
	display: block;
	margin-left: 2.8125rem;
	font-family: Axiforma;
	font-weight: 600;
	padding-bottom: 0.3rem;
	font-size: 14px;
}

.input_comments {
	margin-bottom: 1.5rem;
}

.input_url {
	margin-bottom: 2rem;
}

.input_comments,
.input_url {
	width: 347px;
	height: 50px;
	margin-left: 2.8125rem;
	padding-left: 0.6rem;
	@include AxiformaRegular;
	font-size: 1.125rem;
}

.report_form {
	input[type="text"]::placeholder {
		color: rgb(185, 184, 184);
		@include AxiformaRegular;
		font-size: 14px;
	}
}


.btn_report {
	@include AxiformaBold;
	font-size: 1.125rem;
	width: 183px;
	height: 48px;
	color: #fff;
	background-color: #12141B;
	margin-bottom: 2rem;
	float: right;
	clear: both;
	margin-right: 2.8125rem;
	&:hover {
		background-color: #1B1E28;
	}

	&:active {
		background-color: #000;
	}
}

.report_title {
	&:after {
		width: 156px;
		height: 7px;
		background-image: url(../img/report.svg);
		top: 35px;
		left: 1px;
	}
}