*,
*::after,
*::before {
	box-sizing: border-box;
}

@font-face {
	font-family: "SegoeUISemiBold";
	src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
	src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIBold";
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIRegular";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

html {
	font-size: 18px;
	background-color: #fff;
}

body {
	font-family: 'SegoeUIRegular', sans-serif;
	font-style: normal;
	font-weight: normal;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.header {
	background-image: url(../img/header/main_photo.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	max-width: 100%;
	max-height: 100%;
	padding-bottom: 3rem;
}

.main_header {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 5.5rem;
}

.menu_header {
	display: flex;
	flex-wrap: wrap;
	padding-top: 2.8rem;
	padding-left: 3.666666666666667rem;
}

.nav_item {
	list-style: none;
	padding-right: 1.666666666666667rem;
	padding-left: 0;
	margin-bottom: 0;
}

.nav_link {
	font-weight: normal;
	color: #dee7f8;
	text-decoration: none;
	&:hover {
		color: #fee773;
		transition: .4s;
		cursor: pointer;
	}
}

.header_logo {
	padding-top: 2.15rem;
	padding-bottom: 0;
	margin-bottom: 0;
}

.header_title {
	font-size: 3rem;
	color: #fff;
	font-weight: bold;
	font-family: "SegoeUIBold";
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 4.166666666666667rem;
	line-height: 3.444444444444444rem;
}

.header_btn {
	font-family: "SegoeUISemiBold";
	color: #2251a5;
	font-size: 1.333333333333333rem;
	background-color: #fee773;
	height: 3.444444444444444rem;
	width: 13.61111111111111rem;
	border-radius: 3px;
	border: none;
	text-decoration: none;
	margin-bottom: 11rem;
	padding-bottom: 0.2rem;
	&:hover {
		cursor: pointer;
		background-color: #ffee96;
	}
	&:focus {
		outline: none;
	}
	&:active {
		font-size: 1.277777777777778rem;
		width: 13.33333333333333rem;
	}
}

.header_address {
	font-style: normal;
	font-family: "SegoeUISemiBold";
	font-size: 1.333333333333333rem;
	color: #838383;
	line-height: 1.8888888888888894rem;
}

.header_photo {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 6rem;
}

.header_photo-item {
	margin-right: 1.777777777777778rem;
}

.section_about-company {
	background-image: url(../img/about_company/layer.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	max-height: 100%;
	max-width: 100%;
	z-index: -1;
}

.about_company {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

.about_company-title {
	color: #ffffff;
	font-size: 2.222222222222222rem;
	font-family: "SegoeUISemiBold";
	margin-bottom: 1.722222222222222rem;
	margin-top: 5rem;
}

.about_company-text {
	line-height: 34px;
	color: #d8e1f6;
	font-size: 1.333333333333333rem;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 4rem;
	font-family: "SegoeUIRegular";
}

.about_company-boxPros {
	background-color: #ffffff;
	height: 13rem;
	width: 37rem;
	margin-top: 3.888888888888889rem;
	position: absolute;
	left: 475px;
	top: 20px;
	box-shadow: 5px 5px 10px rgba(99, 99, 99, 0.3);
}

.about_company-titlePros {
	color: #424b57;
	background-color: #ffffff;
	font-size: 1.666666666666667rem;
	font-family: "SegoeUISemiBold";
	position: relative;
	padding-left: 10rem;
	&::before {
		content: "";
		background-image: url(../img/about_company/builder.png);
		background-repeat: no-repeat;
		width: 5.6rem;
		height: 5.6rem;
		display: inline-block;
		position: absolute;
		z-index: 1;
		top: 28px;
		left: 37px;
	}
}

.about_company-textPros {
	padding-left: 10rem;
	font-size: 1.111111111111111rem;
	line-height: 30px;
	color: #84898f;
	font-family: "SegoeUIRegular";
}

.about_company-card {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 9rem;
}

.about_company-item {
	position: relative;
	height: 23rem;
	width: 17rem;
	background-color: white;
	text-align: center;
	&:first-child {
		left: 0px;
	}
	&:nth-child(2) {
		left: 40px;
	}
	&:nth-child(3) {
		left: 80px;
		box-shadow: 5px 5px 10px rgba(99, 99, 99, 0.3);
	}
}

.about_company-itemTitle {
	color: #424b57;
	background-color: #ffffff;
	font-size: 1.777777777777778rem;
	font-family: "SegoeUISemiBold";
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0.8rem;
}

.about_company-itemText {
	font-size: 1.111111111111111rem;
	line-height: 30px;
	color: #84898f;
	margin-top: 0;
	margin-bottom: 0;
	font-family: "SegoeUIRegular";
}

.about_company-img {
	padding-top: 2.444444444444444rem;
}

.review {
	margin-top: 3rem;
}

.review_title {
	font-size: 2.222222222222222rem;
	line-height: 2.17rem;
	color: #424b57;
	margin-top: 0;
	margin-bottom: 0;
	font-family: "SegoeUISemiBold";
	padding-top: 3.5rem;
	padding-bottom: 1.7rem;
}

.review_text {
	line-height: 1.888888888888889rem;
	font-size: 1.333333333333333rem;
	color: #757a82;
	font-family: "SegoeUIRegular";
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 1.388888888888889rem;
	strong {
		font-family: "SegoeUISemiBold";
	}
}

.review_text-small {
	color: #84898f;
	font-size: 0.8888888888888889rem;
	line-height: 1.444444444444444rem;
	font-family: "SegoeUISemiBold";
}

.review_btn {
	font-family: "SegoeUISemiBold";
	color: #fff;
	background-color: #618ee0;
	font-size: 1.333333333333333rem;
	height: 3.388888888888889rem;
	width: 8.666666666666667rem;
	border-radius: 3px;
	border: none;
	text-decoration: none;
	padding-bottom: 0.3rem;
	margin-top: 4.8rem;
	&:hover {
		cursor: pointer;
		background-color: #769bde;
	}
	&:focus {
		outline: none;
	}
	&:active {
		font-size: 1.277777777777778rem;
		background-color: #4776cd;
		width: 8.333333333333333rem;
	}
}

.review_info {
	float: left;
	padding-left: 0.5rem;
}

.fotorama {
	float: right;
	padding-right: 2rem;
}

.prev {
	outline: none;
	border: none;
	position: relative;
	top: 264px;
	right: 55px;
	width: 30px;
	height: 40px;
	background-color: #fff;
	background-image: url(../img/review/arrow_prev.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}

.next {
	outline: none;
	border: none;
	position: relative;
	left: 1140px;
	bottom: 474px;
	width: 30px;
	height: 40px;
	background-color: #fff;
	background-image: url(../img/review/arrow_next.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
	&:focus {
		outline: none;
		border: none;
	}
	&:active {
		outline: none;
		border: none;
	}
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.header_review-people {
	display: flex;
	justify-content: space-between;
}

.review_people-title {
	font-size: 2.333333333333333rem;
	padding-top: 0;
	margin-top: 0;
	color: #424b57;
	margin-bottom: 0;
	font-family: "SegoeUISemiBold";
}

.review_people-text {
	font-size: 1.333333333333333rem;
	color: #757a82;
	line-height: 1.888888888888889rem;
	margin-bottom: 2.555555555555556rem;
	font-family: "SegoeUISemiBold";
}

.review_people-link {
	color: #618ee0;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.review_people-btn {
	font-family: "SegoeUISemiBold";
	color: #fff;
	background-color: #618ee0;
	font-size: 1.333333333333333rem;
	height: 3.4rem;
	width: 16.94444444444444rem;
	border-radius: 3px;
	border: none;
	text-decoration: none;
	padding-bottom: 0.3rem;
	&:hover {
		cursor: pointer;
		background-color: #769bde;
	}
	&:focus {
		outline: none;
	}
	&:active {
		font-size: 1.277777777777778rem;
		background-color: #4776cd;
		width: 16.66666666666667rem;
	}
}

.review_first-name,
.review_second-name,
.review_three-name,
.review_four-name {
	font-size: 1.111111111111111rem;
	color: #243347;
	font-family: "SegoeUIRegular";
	position: relative;
}

.review_second-text,
.review_three-text,
.review_four-text {
	font-family: "SegoeUIRegular";
	color: #445263;
	font-size: 0.8888888888888889rem;
	line-height: 1.444444444444444rem;
}

.review_people-second,
.review_people-three,
.review_people-four {
	width: 17.44444444444444rem;
	height: 24.44444444444444rem;
	background-color: #fff;
}

.review_people-second {
	margin-left: 6.7rem;
}

.review_first-name {
	margin-bottom: 0.7777777777777778rem;
	padding-top: 1.444444444444444rem;
	padding-left: 0.8888888888888889rem;
	&:before {
		content: "";
		display: inline-block;
		background-image: url(../img/review_people/1.png);
		background-repeat: no-repeat;
		background-position: center center;
		width: 2.777777777777778rem;
		height: 2.777777777777778rem;
		position: absolute;
		z-index: 5;
		top: 1.5rem;
		left: -2.888888888888889rem;
	}
}

.review_second-name {
	margin-bottom: 0.7777777777777778rem;
	padding-top: 0.6rem;
	padding-left: 5rem;
	&:before {
		content: "";
		display: inline-block;
		background-image: url(../img/review_people/4.png);
		background-repeat: no-repeat;
		background-position: center center;
		width: 2.777777777777778rem;
		height: 2.777777777777778rem;
		position: absolute;
		z-index: 5;
		top: 0;
		left: 28px;
	}
}

.review_second-text {
	padding-left: 1.5rem;
	padding-top: 0.5rem;
}

.review_data-second {
	padding-left: 6rem;
	line-height: 0px;
	color: #243347;
	img {
		position: relative;
		bottom: -3px;
		margin-right: 0.4rem;
	}
}

.review_data-second {
	padding-left: 6rem;
	line-height: 0px;
	color: #243347;
	img {
		position: relative;
		bottom: -3px;
		margin-right: 0.4rem;
	}
}

.review_data-three {
	padding-left: 6rem;
	line-height: 0px;
	color: #243347;
	img {
		position: relative;
		bottom: -3px;
		margin-right: 0.4rem;
	}
}

.review_data-four {
	padding-left: 6rem;
	line-height: 0px;
	color: #243347;
	img {
		position: relative;
		bottom: -3px;
		margin-right: 0.4rem;
	}
}

.review_people-second {
	box-shadow: 0px 0px 18px rgba(104, 104, 104, 0.3);
}

.review_three-name {
	margin-bottom: 0.7777777777777778rem;
	padding-top: 0.6rem;
	padding-left: 5rem;
	&:before {
		content: "";
		display: inline-block;
		background-image: url(../img/review_people/3.png);
		background-repeat: no-repeat;
		background-position: center center;
		width: 2.777777777777778rem;
		height: 2.777777777777778rem;
		position: absolute;
		z-index: 5;
		top: 0;
		left: 28px;
	}
}

.review_three-text {
	padding-left: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 1.3rem;
	color: #445263;
}

.review_data-three {
	margin-top: 4rem;
	padding-left: 5.7rem;
}

.review_people-three {
	box-shadow: 0px 0px 18px rgba(104, 104, 104, 0.3);
}

.review_four-name {
	margin-bottom: 0.7777777777777778rem;
	padding-top: 0.6rem;
	padding-left: 5rem;
	&:before {
		content: "";
		display: inline-block;
		background-image: url(../img/review_people/2.png);
		background-repeat: no-repeat;
		background-position: center center;
		width: 2.777777777777778rem;
		height: 2.777777777777778rem;
		position: absolute;
		z-index: 5;
		top: 0;
		left: 28px;
	}
}

.review_four-text {
	padding-left: 1.5rem;
	padding-top: 0.5rem;
}

.review_data-four {
	padding-left: 6rem;
}

.review_people-four {
	box-shadow: 0px 0px 18px rgba(104, 104, 104, 0.3);
}

.review_first-text {
	font-family: "SegoeUIRegular";
	color: #6a7078;
	font-size: 0.8888888888888889rem;
	line-height: 1.444444444444444rem;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 4rem;
	padding-left: 0.8888888888888889rem;
}

.review_people {
	background-image: url(../img/review_people/yellow_layer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	max-width: 100%;
	max-height: 100%;
	padding-top: 6rem;
	padding-bottom: 5rem;
}

.review_people-first {
	background-color: #fff;
	width: 37rem;
	height: 16rem;
	box-shadow: -3px 0px 18px rgba(131, 131, 131, 0.3);
	padding-left: 5rem;
	padding-bottom: 14rem;
	position: relative;
	bottom: 40px;
}

.review_text-data {
	font-size: 0.8888888888888889rem;
	padding-left: 23.3rem;
}

.other_review-people {
	display: flex;
	justify-content: space-between;
	margin-top: 1.7rem;
}

.title_work-box,
.title_DistanceWork-box,
.title_free-box,
.title_payment-box {
	color: #03152c;
	font-size: 1.333333333333333rem;
	font-family: "SegoeUIRegular";
	margin-bottom: 1rem;
	padding-bottom: 0;
}

.text_work-box,
.text_DistanceWork-box,
.text_free-box,
.text_payment-box {
	color: #424b57;
	font-size: 1rem;
	line-height: 1.555555555555556rem;
	font-family: "SegoeUIRegular";
	margin-top: 0;
	padding-top: 0;
}

.tabs_work-box {
	margin-bottom: 6.888888888888889rem;
	strong {
		font-family: "SegoeUISemiBold";
	}
}

.tabs_DistanceWork-box {
	margin-bottom: 3.333333333333333rem;
	strong {
		font-family: "SegoeUISemiBold";
	}
}

.tabs_free-box {
	margin-bottom: 6.888888888888889rem;
	strong {
		font-family: "SegoeUISemiBold";
	}
}

.tabs_payment-box {
	margin-bottom: 2.222222222222222rem;
	strong {
		font-family: "SegoeUISemiBold";
	}
}

.advantages_box-img {
	margin-top: 3.833333333333333rem;
	margin-right: 9.333333333333332rem;
}

.advantages_box {
	margin-top: 6.3rem;
}

.advantages_tool {
	position: relative;
}

.advantages-img-distanceWork,
.advantages-img-free,
.advantages-img-payment {
	display: none;
	position: absolute;
}

.advantages-img-work {
	position: absolute;
	top: -200px;
	left: 330px;
}

.advantages-img-payment {
	top: -250px;
	left: 395px;
}

.advantages-img-distanceWork {
	top: -230px;
	left: 370px;
}

.advantages-img-free {
	top: -300px;
	left: 360px;
}

.advantages {
	display: flex;
	justify-content: space-between;
}

.wrap_tabs {
	position: relative;
}

.tabs-box {
	position: absolute;
	bottom: 0;
	right: 290px;
}

.price_header {
	display: flex;
	justify-content: space-between;
}

.price_title {
	font-size: 2.222222222222222rem;
	color: #424b57;
	font-family: "SegoeUISemiBold";
	margin-bottom: 1.611111111111111rem;
	padding-bottom: 0;
}

.price_text {
	line-height: 1.888888888888889rem;
	font-size: 1.333333333333333rem;
	color: #757a82;
	font-family: "SegoeUIRegular";
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 2.277777777777778rem;
}

.price_btn {
	font-family: "SegoeUISemiBold";
	color: #fff;
	background-color: #618ee0;
	font-size: 1.333333333333333rem;
	height: 3.444444444444444rem;
	width: 8.722222222222222rem;
	border-radius: 3px;
	border: none;
	text-decoration: none;
	padding-bottom: 0.3rem;
	&:hover {
		cursor: pointer;
		background-color: #769bde;
	}
	&:focus {
		outline: none;
	}
	&:active {
		font-size: 1.277777777777778rem;
		background-color: #4776cd;
		width: 8.333333333333333rem;
	}
}

.redecorating {
	margin-top: 2.5rem;
}

.redecorating,
.roughing {
	width: 40rem;
	height: 25.83333333333333rem;
	background-color: #fff;
	box-shadow: 0px 0px 20px 0px rgba(99, 99, 99, 0.3);
}

.roughing {
	background-image: url(../img/price/1.jpg);
	background-position: center left;
	background-repeat: no-repeat;
}

.redecorating {
	background-image: url(../img/price/2.jpg);
	background-position: center left;
	background-repeat: no-repeat;
}

.redecorating_box {
	margin-left: 16.83333333333333rem;
}

.roughing_box {
	margin-left: 17.88888888888889rem;
}

.title_redecorating,
.title_roughing {
	font-size: 1.777777777777778rem;
	color: #424b57;
	font-family: "SegoeUISemiBold";
	padding-bottom: 0;
}

.title_roughing {
	margin-bottom: 1.333333333333333rem;
	margin-top: 2.111111111111111rem;
}

.title_redecorating {
	padding-top: 4.611111111111111rem;
	margin-bottom: 1.2rem;
}

.redecorating_item,
.roughing_item {
	line-height: 1.555555555555556rem;
	font-size: 1rem;
	color: #757a82;
	font-family: "SegoeUIRegular";
	margin-top: 0;
	padding-top: 0;
	&:last-child {
		margin-bottom: 1.333333333333333rem;
	}
}

.redecorating_price,
.roughing_price {
	font-size: 2.222222222222222rem;
	color: #7997e6;
	font-family: "SegoeUISemiBold";
	padding-left: 1rem;
}

.redecorating_price {
	padding-left: 0;
}

.menu_redecorating {
	padding-left: 22px;
}

.section_price {
	margin-top: 5.888888888888889rem;
	margin-bottom: 7rem;
}

.brush {
	background-image: url(../img/price/layer.png);
	background-repeat: no-repeat;
	background-position: 102% 94%;
}

.title_question-year,
.title_question-materials,
.title_question-new,
.title_question-balcony {
	padding-top: 2rem;
	height: 82px;
	margin-bottom: 0;
}

.title_question-balcony {
	margin-left: 0.7rem;
}

.title_question-new {
	margin-left: 10rem;
}

.title_question-materials {
	margin-left: 11.4rem;
}

.title_question-year {
	margin-left: 11.3rem;
}

.title_question {
	cursor: pointer;
	color: #4e5b6b;
	font-size: 1.333333333333333rem;
	font-family: "SegoeUISemiBold";
	text-align: center;
	position: relative;
	right: 180px;
}

.title_question:hover {
	color: #618ee0;
}

.active {
	color: #618ee0;
}

.answer_box-year,
.answer_box-materials,
.answer_box-new,
.answer_box-balcony {
	margin: 0 auto;
	display: none;
	background-color: #eff4fd;
	color: #424b57;
	padding: 10px;
	width: 48rem;
	line-height: 1.555555555555556rem;
	font-size: 1rem;
	padding-top: 0.7rem;
	padding-left: 6.4rem;
	padding-bottom: 0;
	padding-right: 0;
	span {
		color: #0c5abe;
	}
}

.answer_box-balcony {
	height: 11.5rem;
}

.answer_box-new {
	height: 7.5rem;
}

.answer_box-materials {
	height: 7.5rem;
}

.answer_box-year {
	height: 6rem;
}

.question {
	margin-bottom: 7rem;
}

.title_question-year,
.title_question-materials,
.title_question-new,
.title_question-balcony {
	background-image: url(../img/question/arrow.png);
	background-repeat: no-repeat;
	&:hover {
		background-image: url(../img/question/arrow_blue.png);
		background-repeat: no-repeat;
	}
}

.title_question-balcony {
	background-position: 70% 65%;
	&:hover {
		background-position: 70% 65%;
	}
}

.title_question-new {
	background-position: 80% 65%;
	&:hover {
		background-position: 80% 65%;
	}
}

.title_question-materials {
	background-position: 82% 65%;
	&:hover {
		background-position: 82% 65%;
	}
}

.title_question-year {
	background-position: 82% 65%;
	&:hover {
		background-position: 82% 65%;
	}
}

.img_arrow-year,
.img_arrow-materials,
.img_arrow-new,
.img_arrow-balcony {
	background-image: url(../img/question/arrow_blue2.png);
	background-repeat: no-repeat;
	&:hover {
		background-image: url(../img/question/arrow_blue2.png);
		background-repeat: no-repeat;
	}
}

.img_arrow-balcony {
	background-position: 70% 65%;
	&:hover {
		background-position: 70% 65%;
	}
}

.img_arrow-new {
	background-position: 80% 65%;
	&:hover {
		background-position: 80% 65%;
	}
}

.img_arrow-materials {
	background-position: 82% 65%;
	&:hover {
		background-position: 82% 65%;
	}
}

.img_arrow-year {
	background-position: 82% 65%;
	&:hover {
		background-position: 82% 65%;
	}
}

.footer {
	background-color: #618ee0;
}

.footer_header {
	display: flex;
	justify-content: space-between;
}

.footer_map {
	width: 40rem;
	height: 20.22222222222222rem;
	margin-top: 5.666666666666667rem;
	margin-bottom: 5.666666666666667rem;
	margin-left: 8.055555555555556rem;
}

.footer_address {
	margin-top: 11.22222222222222rem;
}

.footer_text {
	line-height: 1.888888888888889rem;
	color: #c9d6f3;
	font-size: 1.333333333333333rem;
	font-family: "SegoeUISemiBold";
	margin-bottom: 1.333333333333333rem;
	padding-bottom: 0;
}

.sprite {
	background-image: url(../img/footer/social_sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
}

.sprite-facebook {
	width: 43px;
	height: 43px;
	background-position: -5px -5px;
}

.sprite-twitter {
	width: 43px;
	height: 43px;
	background-position: -5px -58px;
}

.sprite-vk {
	width: 42px;
	height: 42px;
	background-position: -5px -111px;
}

.footer_contacts {
	display: flex;
	justify-content: space-between;
}

.social_text {
	font-size: 1.333333333333333rem;
	font-family: "SegoeUISemiBold";
	color: #c9d6f3;
}

.social_box a {
	text-decoration: none;
	padding-right: 1rem;
	opacity: 0.7;
	filter: alpha(opacity=60);
	&:hover {
		opacity: 1;
		filter: alpha(opacity=100);
		transition: .6s;
	}
}

.footer_btn {
	display: inline-block;
	font-family: "SegoeUISemiBold";
	color: #2251a5;
	font-size: 1.333333333333333rem;
	background-color: #fee773;
	height: 3.444444444444444rem;
	width: 13.7rem;
	border-radius: 3px;
	border: none;
	text-decoration: none;
	margin-top: 3.555555555555556rem;
	padding-bottom: 0.4rem;
	&:hover {
		cursor: pointer;
		background-color: #ffee96;
	}
	&:focus {
		outline: none;
	}
	&:active {
		font-size: 1.277777777777778rem;
		width: 13.33333333333333rem;
	}
}

.footer_small-number {
	color: #92aee8;
	font-size: 1rem;
	margin-top: 1.5rem;
	margin-bottom: 5.5rem;
	display: block;
}

.call_submit,
.input_tel {
	display: block;
}

input[type="tel"] {
	font-size: 1rem;
	color: #fff; // padding-left: 15px;
	background-color: #618ee0;
	outline: none;
	border: none;
	border-bottom: 2px solid #ffefa3;
	width: 200px;
	height: 30px;
	margin-top: 1.3rem;
	margin-right: 14.3rem;
	position: relative;
	right: 16px;
	&:focus {
		border: none;
		outline: none;
		border-bottom: 2px solid #ffefa3;
	}
}

.call_submit {
	resize: none;
	color: #fff;
	background-color: #618ee0;
	outline: none;
	width: 200px;
	height: 30px;
	margin-top: 2rem; // padding-left: 10px;
	position: relative;
	left: 40px;
	font-size: 1rem;
	border: none;
	border-bottom: 2px solid #ffefa3;
	&:focus {
		border: none;
		outline: none;
		border-bottom: 2px solid #ffefa3;
	}
}

.label_email,
.label_text {
	position: relative;
	top: 0;
	left: 0;
}

.label_email::before,
.label_text::before {
	content: "";
	color: #fff;
	font-size: 1.222222222222222rem;
	width: 18rem;
	height: 1.388888888888889rem;
	display: inline-block;
	position: absolute;
	z-index: 1;
	font-family: "SegoeUISemiBold";
}

.label_email::before {
	content: "Ваш номер телефона:";
	margin-right: 1rem;
	right: 6px;
	bottom: -24px;
	width: 13rem;
	height: 1.388888888888889rem;
}

.label_text::before {
	content: "Удобное время для звонка:";
	right: -66px;
	bottom: -88px;
}

.callback {
	position: relative;
	right: 260px;
}

.site_development {
	margin-left: 10rem;
	display: block;
	color: #c9d6f3;
	font-size: 1rem;
	padding-bottom: 0.5rem;
	&:last-child {
		margin-bottom: 0.5rem;
	}
}