@media screen and (max-width: 812px) {
  .container {
    max-width: 320px;
  }
  .main_header {
    display: none;
  }
  .wrapper-gamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(42, 57, 79, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(42, 57, 79, 0.1);
  }
  .wrapper-gamb .container {
    margin: 0;
  }
  .ham {
    bottom: 12px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .line {
    fill: none;
    -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #7888A1;
    stroke-width: 4;
    stroke-linecap: round;
  }
  .gamb-menu {
    bottom: -5px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(42, 57, 79, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(42, 57, 79, 0.1);
  }
  .gamb-menu-link {
    padding-left: 10px;
    font-size: 20px;
    color: #2A394F;
    font-family: RalewaySemiBold;
  }
  .box-gamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
  }
  .active-gamb {
    max-height: 290px;
  }
  .header_btn-toTry {
    display: block;
    background-image: none;
    text-transform: none;
    margin-top: 0;
    margin-left: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    width: 47px;
    color: #7888A1;
    font-size: 1rem;
    font-family: RalewayMedium;
    font-weight: 500;
    margin-right: 35px;
    margin-top: 10px;
    position: relative;
  }
  .header_btn-toTry:after {
    display: inline-block;
    content: '';
    width: 1.5px;
    height: 35px;
    position: absolute;
    left: 88px;
    background-image: url(../img/mobile/Line.png);
    background-repeat: repeat-x;
    top: 0px;
  }
  .box_logo {
    padding-top: 7px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 0;
    height: 45px;
  }
  .movie {
    max-width: 250px;
    height: 250px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .howWork_box,
  .history_box {
    display: block;
  }
  .howWork_box img {
    display: none;
  }
  .history_small-title {
    font-size: 1rem;
    font-family: RalewaySemiBold;
    padding-left: 10px;
    padding-right: 10px;
  }
  .history_text {
    width: auto;
    font-size: 14px;
    line-height: 130%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .history_small-title {
    width: auto;
    margin-top: 1rem;
    line-height: 130%;
  }
  .howWork_small-title {
    font-size: 1rem;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 130%;
  }
  .history_box-text img {
    display: none;
  }
  .text_security {
    width: auto;
    padding-left: 10px;
    line-height: 130%;
  }
  .howWork_title,
  .title_history {
    font-size: 20px;
    padding-left: 10px;
  }
  .section_movie {
    margin-bottom: 0;
    background-image: url(../img/mobile/Mac.png);
    background-position: center 55%;
    margin-bottom: 1.5rem;
  }
  .section_howWork {
    margin-bottom: 3rem;
  }
  .box_awards-review {
    padding-left: 10px;
    padding-right: 10px;
  }
  .text_awardsReview-first {
    padding-left: 0px;
    padding-right: 10px;
  }
  .title_awards {
    font-family: MagistralCBold;
    font-size: 20px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 10px;
  }
  .title_awards-review {
    font-size: 1rem;
    padding-top: 1.3rem;
  }
  .text_awards-review {
    font-size: 14px;
    width: 100%;
    line-height: 130%;
  }
  .text_awards-reviewBox {
    display: block;
  }
  .title_awards-review:before {
    display: none;
  }
  .text_reviewPerson {
    font-size: 14px;
    color: #2A394F;
    position: relative;
    padding-left: 4rem;
  }
  .text_reviewPerson:before {
    display: inline-block;
    content: '';
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0px;
    background-image: url(../img/mobile/Avatar_review.png);
    background-repeat: no-repeat;
    top: -4px;
  }
  .text_reviewProf {
    margin-top: 0.5rem;
    padding-left: 4rem;
    font-size: 12px;
  }
  .swiper-pagination-fraction {
    left: 100px;
    bottom: 16px;
  }
  .swiper-button-next {
    right: 8px;
    top: 656px;
  }
  .swiper-button-prev {
    top: 657px;
    left: 204px;
  }
  .section_viewDocuments {
    margin-bottom: 2rem;
  }
  .viewDocuments_title {
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 10px;
  }
  .box_viewDocuments {
    display: block;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .box_viewDocuments img {
    display: none;
  }
  .text_license {
    margin-left: 10px;
    padding-top: 1rem;
  }
  .text_license-first,
  .text_other-first,
  .text_certificate-second,
  .text_certificate-first,
  .text__institution-first,
  .text__institution-second,
  .text__institution-third {
    padding-left: 3.4rem;
  }
  .text_license-first:before,
  .text_other-first:before,
  .text_certificate-second:before,
  .text_certificate-first:before,
  .text__institution-first:before,
  .text__institution-second:before,
  .text__institution-third:before {
    left: 8px;
  }
  .footer_nav {
    display: block;
  }
  .footer_menu {
    display: block;
    padding-top: 0;
    padding-left: 10px;
  }
  .footer_item {
    margin-left: 0;
    padding-bottom: 1rem;
  }
  .footer_item-link {
    font-size: 14px;
  }
  .text_Rights {
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  .box_Rights {
    display: block;
    padding-bottom: 30px;
  }
  .box_Rights svg {
    position: relative;
    bottom: -10px;
  }
  .box_Rights a {
    padding-left: 15px;
  }
  .Rights_link-question {
    font-size: 13px;
    margin-left: 10px;
    padding-left: 20px !important;
  }
  .Rights_link-school {
    margin-right: 10px;
  }
}
/*# sourceMappingURL=media.css.map */