@font-face {
	font-family: RalewayLight;
	font-weight: 300;
	font-style: normal;
	src: url(../fonts/RalewayLight.ttf) format("truetype");
}

@font-face {
	font-family: RalewayRegular;
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/RalewayRegular.ttf) format("truetype");
}

@font-face {
	font-family: RalewayMedium;
	font-weight: 500;
	font-style: normal;
	src: url(../fonts/RalewayMedium.ttf) format("truetype");
}

@font-face {
	font-family: RalewaySemiBold;
	font-weight: 600;
	font-style: normal;
	src: url(../fonts/RalewaySemiBold.ttf) format("truetype");
}

@font-face {
	font-family: RalewayBold;
	font-weight: 800;
	font-style: normal;
	src: url(../fonts/RalewayBold.ttf) format("truetype");
}

@font-face {
	font-family: MagistralC;
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/MagistralC.otf) format("opentype");
}

@font-face {
	font-family: MagistralCBold;
	font-weight: 800;
	font-style: normal;
	src: url(../fonts/MagistralCBold.otf) format("opentype");
}

@font-face {
	font-family: materialdesignicons;
	font-weight: 800;
	font-style: normal;
	src: url(../fonts/materialdesignicons-webfont.ttf) format("opentype");
}
