@font-face {
  font-family: RalewayLight;
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/RalewayLight.ttf) format("truetype");
}

@font-face {
  font-family: RalewayRegular;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/RalewayRegular.ttf) format("truetype");
}

@font-face {
  font-family: RalewayMedium;
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/RalewayMedium.ttf) format("truetype");
}

@font-face {
  font-family: RalewaySemiBold;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/RalewaySemiBold.ttf) format("truetype");
}

@font-face {
  font-family: RalewayBold;
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/RalewayBold.ttf) format("truetype");
}

@font-face {
  font-family: MagistralC;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/MagistralC.otf) format("opentype");
}

@font-face {
  font-family: MagistralCBold;
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/MagistralCBold.otf) format("opentype");
}

@font-face {
  font-family: materialdesignicons;
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/materialdesignicons-webfont.ttf) format("opentype");
}

html {
  font-size: 16px;
}

.main_header {
  margin-bottom: 0rem;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(42, 57, 79, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(42, 57, 79, 0.1);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.box_logo {
  padding-top: 15px;
  padding-bottom: 9px;
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu_list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu_item {
  list-style: none;
  font-size: 1rem;
  padding-left: 2rem;
  padding-top: 1.5625rem;
}

.menu_item :hover {
  color: #EB8F08;
}

.link_WithArrowSecond,
.link_WithArrow {
  position: relative;
  padding-right: 1.5rem;
}

.link_WithArrowSecond:before,
.link_WithArrow:before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  background-image: url(../img/Icon_arrow_down.svg);
  background-repeat: no-repeat;
}

.link_WithArrow:before {
  left: 150px;
}

.link_WithArrowSecond:before {
  left: 110px;
}

.menu_item-link {
  font-family: RalewaySemiBold;
  text-decoration: none;
  color: #2A394F;
  font-size: 1rem;
}

.header_btn-toTry {
  text-transform: uppercase;
  width: 114px;
  max-height: 35px;
  color: #2A394F;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: RalewayBold;
  font-weight: 800;
  font-size: 0.8125rem;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(42, 57, 79, 0.2);
  box-shadow: 0px 3px 6px 0px rgba(42, 57, 79, 0.2);
  border-radius: 4px;
  margin-top: 1.1875rem;
  margin-left: 2.5rem;
  background-image: url(../img/Icon_signin.svg);
  background-repeat: no-repeat;
  background-position: 15% 43%;
  padding-left: 1.6rem;
}

.header_btn-toTry:hover {
  background-color: #F8F8F8;
  -webkit-transition: .4s;
  transition: .4s;
}

.header_btn-toTry:active {
  background-color: #EFEFEF;
  -webkit-transition: .2s;
  transition: .2s;
}

.acticle_main {
  padding-bottom: 0.7rem;
}

.date_text {
  font-family: MagistralC;
  font-size: 14px;
  line-height: 15px;
  color: #7888A1;
  margin-bottom: 0;
  margin-top: 45px;
}

.article_img {
  max-width: 100%;
  margin-bottom: 0.7rem;
}

.aside_img {
  margin-top: 1.2rem;
  margin-bottom: 1.4rem;
}

.article_title {
  font-family: RalewayBold;
  font-size: 2rem;
  line-height: 38px;
  color: #2A394F;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.avatar_author {
  font-family: RalewayRegular;
  font-size: 14px;
  line-height: 16px;
  color: #7888A1;
  padding-left: 3.8125rem;
  margin-bottom: 0.3rem;
}

.avatar_info {
  font-family: RalewayMedium;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2A394F;
  padding-left: 3.8125rem;
  padding-bottom: 2rem;
  margin-top: 0;
  position: relative;
  margin-bottom: 0;
}

.avatar_info:before {
  position: absolute;
  left: 0px;
  bottom: 26px;
  display: inline-block;
  content: '';
  width: 50px;
  height: 50px;
  background-image: url(../img/avatar.png);
}

.acticle_text {
  width: 654px;
  font-family: RalewayMedium;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: #2A394F;
}

.comments_button {
  padding-left: 0px;
  font-family: MagistralCBold;
  font-size: 12px;
  line-height: 14px;
  color: #2A394F;
  padding-bottom: 1rem;
}

.likes_button {
  position: relative;
}

.likes_button:before {
  position: absolute;
  left: -2px;
  top: 1px;
  display: inline-block;
  content: '';
  background-image: url(../img/f1a7.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 17px;
}

.comments_button {
  margin-left: 20px;
  position: relative;
}

.comments_button:before {
  position: absolute;
  left: -22px;
  top: 2px;
  display: inline-block;
  content: '';
  background-image: url(../img/mobile/eyes.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 17px;
}

.comments_button span {
  font-family: RalewayRegular;
  font-size: 12px;
  line-height: 14px;
  color: #7888A1;
  padding-left: 6px;
}

.title_allComents {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: RalewaySemiBold;
  font-size: 18px;
  line-height: 21px;
  color: #2A394F;
}

.link_allComents {
  font-family: RalewayRegular;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #7888A1;
}

.box_allComents {
  background: #EEF1F7;
  width: 574px;
  margin-left: 4rem;
  border-radius: 5px;
  padding-bottom: 0.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: relative;
}

.box_allComents:before {
  position: absolute;
  left: -64px;
  top: 2px;
  display: inline-block;
  content: '';
  background-image: url(../img/NoPath3.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.box_allComents2 {
  background: #EEF1F7;
  width: 574px;
  margin-left: 4rem;
  border-radius: 5px;
  padding-bottom: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  position: relative;
}

.box_allComents2:before {
  position: absolute;
  left: -64px;
  top: 2px;
  display: inline-block;
  content: '';
  background-image: url(../img/NoPath3.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.allComents_author {
  font-family: RalewayBold;
  font-size: 12px;
  line-height: 14px;
  color: #2A394F;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-top: 13px;
}

.allComents_message {
  font-family: RalewayMedium;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #2A394F;
  padding-left: 20px;
  margin-top: 10px;
  width: 531px;
}

.box_viewPopular {
  padding-left: 20px;
}

.view_likes {
  font-family: MagistralCBold;
  font-size: 12px;
  line-height: 14px;
  color: #2A394F;
  position: relative;
}

.view_likes:after {
  position: absolute;
  left: 20px;
  top: -2px;
  display: inline-block;
  content: '';
  background-image: url(../img/1.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 17px;
}

.view_dislikes {
  font-family: MagistralCBold;
  font-size: 12px;
  line-height: 14px;
  color: #2A394F;
  margin-left: 13px;
  position: relative;
}

.view_dislikes:before {
  position: absolute;
  left: 14px;
  top: 1px;
  display: inline-block;
  content: '';
  background-image: url(../img/2.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 17px;
}

.middle_arrow {
  margin-left: 28px;
  position: relative;
  top: 3px;
}

.main_newsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

aside {
  max-width: 270px;
  margin-top: 15.75rem;
}

.all_acticle {
  background: #EEF1F7;
  padding-bottom: 1px;
  border-radius: 6px;
}

.important_now {
  font-family: RalewayRegular;
  font-size: 14px;
  line-height: 16px;
  color: #7888A1;
  padding-left: 1rem;
  padding-top: 1rem;
}

.article_oneOf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 10px;
}

.article_oneOf-last {
  padding-bottom: 1rem;
}

.theMostImportant_news-date {
  font-size: 12px;
  font-family: MagistralC;
  color: #d8d8d8;
  padding-left: 12px;
  padding-top: 56px;
  margin-bottom: 0.3rem;
}

.text_oneOf {
  font-family: RalewaySemiBold;
  font-size: 14px;
  line-height: 16px;
  color: #2A394F;
  width: 135px;
  padding-left: 13px;
  margin: 0;
  margin-top: 3px;
}

.img_oneOf {
  padding-left: 1rem;
}

.theMostImportant_news {
  background-image: url(../img/NoPath2.png);
  background-size: auto;
  background-repeat: no-repeat;
  height: 140px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #fff;
}

.theMostImportant_text {
  font-family: RalewaySemiBold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-top: 0;
  margin-top: 0.3rem;
  padding-left: 12px;
}

.main_footer {
  background-color: #0E2D5B;
}

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-top: 2rem;
}

.footer-logo_img {
  padding-top: 1.5rem;
  padding-bottom: 1.125rem;
}

.footer_item {
  list-style: none;
  margin-left: 4.5rem;
  margin-bottom: 0;
  padding-bottom: 1.6875rem;
}

.footer_item-link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-family: RalewayMedium;
}

.footer_item-link:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #cccccc;
}

.section_Rights {
  background-color: #173561;
}

.text_Rights {
  font-size: 0.8125rem;
  color: #FFFFFF;
  opacity: 0.5;
  font-family: RalewayLight;
  margin: 0;
  padding: 20px 0;
  float: left;
}

.box_Rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 10px 0;
}

.box_Rights a {
  padding-left: 20px;
}

.Rights_link-question {
  text-decoration: none;
  background-color: #2D486F;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff;
  font-family: RalewayBold;
  font-size: 0.8125rem;
  padding: 10px 20px;
}

.svg-third path:first-child:hover,
.svg-second path:first-child:hover,
.svg-first path:first-child:hover {
  fill: #173b72 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  bottom: 20px;
}

.hamRotate.active {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #7888A1;
  stroke-width: 4;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
  transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
  transition: transform 400ms, stroke-dashoffset 400ms;
  transition: transform 400ms, stroke-dashoffset 400ms, -webkit-transform 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

.wrapper-gamb {
  display: none;
  position: relative;
  background-color: #fff;
  color: white;
  font-family: 'Arial';
}

.gamb-menu {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.gamb-menu-link {
  display: block;
  width: 100%;
  padding-top: 25px;
  color: #2A394F;
  text-decoration: none;
  background-color: #fff;
}

.gamb-menu-link:last-child {
  padding-bottom: 1rem;
}

.active-gamb {
  max-height: 200px;
  font-size: 20px;
  display: block;
}

.article_img-line {
  max-width: 100%;
}
/*# sourceMappingURL=main.css.map */