@import "../../../MainPage/scss/main";
@import "../../../MainPage/scss/fonts";
// @import "../../FAQs/scss/media";

.MyProfile_btn {
	margin-bottom: 0;
}

.main_item {
	padding-top: 2.375rem;
}

.section_PrivacyPolicyList,
.section_TermsList,
.section_header {
	background-image: url(../img/fon.png);
	background-size: cover;
	padding-bottom: 0.5rem;
}

.section_PrivacyPolicyList,
.section_TermsList {
	padding-bottom: 5rem;
}

.section_PrivacyPolicy,
.section_TermsOfUse {
	background-color: #12151E;
}

.title_PrivacyPolicy,
.title_TermsOfUse {
	font-size: 2rem;
	font-family: Anton;
	font-weight: 400;
	color: #fff;
	padding-bottom: 0.7rem;
	padding-top: 0.7rem;
	margin-left: 0rem;
	margin-top: 0;
	margin-bottom: 0;

	&:before {
		background-repeat: no-repeat;
		background-image: url(../img/arrow_down.svg);
		display: inline-block;
		content: "";
		width: 32px;
		height: 32px;
		position: relative;
		top: 2px;
		right: 6px;
	}
}

.last_update-PrivacyPolicy,
.text_PrivacyPolicy,
.text_TermsOfUse,
.last_update {
	font-size: 1.125rem;
	font-family: Axiforma;
	font-weight: 400;
}

.title_text-TermsOfUse {
	margin-bottom: 0;
}

.last_update-PrivacyPolicy,
.last_update {
	margin-top: 0;
	padding-top: 2rem;
	color: #000;
}

.text_PrivacyPolicy,
.text_TermsOfUse {
	color: #000;
	opacity: .54;
	line-height: 150%;
}

.text_list {
	padding-left: 0;
}

.section_PrivacyPolicyList {
	min-height: 70vh;
}