// @import "../../../MainPage/scss/media";

@media (max-width: 56.25em) {
	.container {
		max-width: 360px;
	}

	.main_menu,
	.main_nav,
	.main_header {
		display: flex;
		justify-content: center;
	}

	.main_nav {
		// margin-left: 4.0625rem;
		margin-left: 2.5rem;
	}

	.section_BuyNow,
	.section_AnyActivities,
	.section_ActivityDetails,
	.section_header {
		background-size: auto;
	}

	.main_logo {
		margin-right: 0;
	}

	.logo {
		width: 52px;
		height: 39px;
	}

	.main_item {
		padding-top: 1.5rem;
		padding-left: 1.1rem;
	}

	.main_item-link {
		font-size: 0.75rem;
		margin-top: 2rem;
	}

	.MyProfile_btn {
		width: 40px;
		height: 40px;
		font-size: 0;
		padding-left: 0;
		margin-left: 1.5rem;
		margin-top: 1rem;
		padding-top: 0;
		outline: none;
		background-position: center center;
		background-color: #fff;
		border-radius: 50%;
		border-color: #fff;
		margin-bottom: 0;
	}

	.title_painting {
		font-size: 1rem;
		margin: 0;
		margin-left: 2rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;

		&:before {
			background-repeat: no-repeat;
			background-size: 15px 15px;
			background-position: center;
			display: inline-block;
			content: "";
			width: 8px;
			height: 8px;
			position: relative;
			top: -2px;
			right: 6px;
		}
	}

	.section_description,
	.section_SellAndGift {
		background-size: auto;
	}

	.img_share {
		padding-top: 1.5rem;
		margin-left: 0 !important;
		padding-bottom: 0;
	}

	.box_data {
		display: block;
		justify-content: flex-start;
		position: relative;
	}

	.section_SellAndGift {
		padding-bottom: 2rem;
	}


	.title_nameAuthor {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	.btn_share {
		float: none;
		width: 108px;
		height: 40px;
		margin-bottom: 2rem;
		margin-left: 9.3rem;
		font-size: 0.875rem;
	}

	.btn_share-icon {
		float: none;
		margin-bottom: 0.5rem;
		margin-left: 4.6rem;
		font-size: 0.875rem;

	}

	.icon_link-vk {
		padding-top: 1.3rem;
	}

	.icon_link-facebook {
		padding-top: 1.1rem;
		padding-left: 4px;
	}

	.icon_link-twitter {
		padding-top: 1rem;
	}

	.icon_link-share {
		padding-top: 1rem;
		padding-right: 4px;
	}

	// .icon-share-item {
	// 	padding-top: 1rem;
	// }

	.btn_share-icon_link {
		margin-top: 1rem;
		padding-top: 1rem;
	}

	.description_text {
		width: 332px;
		margin-right: 0;
	}

	.btn_sell {
		margin-left: 5.5rem;
		transform: translateY(-30%);
		display: none;
	}

	.btn_gift {
		margin-left: 1rem;
		transform: translateY(-30%);
		display: none;
	}

	.btn_sale-cancel2 {
		display: none;
		width: 164px;
	}

	.btn_sale-cancel {
		display: block;
		width: 164px;
	}

	.text_buyNow {
		margin-top: 6rem;
		font-size: 1rem;
	}

	.text_by {
		font-size: 1rem;
	}

	.price_buyNow {
		font-size: 1.25rem;
	}

	.number_Author {
		font-size: 1rem;
	}

	.avatar_img-sell {
		width: 40px;
		height: 40px;
	}

	.name_avatar {
		font-size: 1rem;
		margin-top: 0.5rem;
		font-family: Axiforma;
		font-weight: 700;
	}

	.ouwner_avatar {
		font-size: 0.875rem;
	}

	.box_avatar {
		position: absolute;
		bottom: 100px;
	}

	.btn_buyNow {
		transform: translateY(-40%);
	}

	.section_BuyNow {
		padding-bottom: 2rem;
	}

	.footer_menuList-box {
		padding-top: 2rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 0 auto;
	}

	.footer_item-link {
		font-size: 1rem;
	}

	.main_footer {
		flex-wrap: wrap;
		display: flex;
		background: url(../img/footer/fon_footer-mobile.png) center repeat-x,
			url(../img/Fon.jpg) no-repeat;
		background-size: contain, auto;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.mobile_menu {
		margin-bottom: 0;
		margin-top: 0;
		padding-bottom: 1rem;
	}

	.mobile_item {
		margin-left: -3rem;
	}

	.mobile_group {
		padding-bottom: 0;
	}

	.footer_item {
		margin-right: 7.125rem;
	}

	.mobile_item {
		margin-right: 0;
	}

	.mobile_item2 {
		width: 96px;
		margin-right: 4rem;
		transform: translateX(40%) translateY(25%);

		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	.mobile_privacy {
		transform: translateX(20%) translateY(15%);
	}

	.footer_group:nth-child(2) {
		margin-left: -2rem;
	}

	.line2,
	.line {
		position: relative;

		&:after {
			position: absolute;
			left: 0px;
			top: 135px;
			display: inline-block;
			content: "";
			height: 1px;
			width: 240px;
			background-image: url(../img/footer/Line2.png);
		}
	}

	.line {
		&:after {
			left: -0px;
			top: 135px;
		}
	}

	.line2 {
		&:after {
			left: 1px;
			top: 135px;
		}
	}

	.mobile_menu {
		display: flex;
	}

	.btn_report {
		transform: translateY(-2.1%);
	}

}

@media (max-width: 21em) {

	.container {
		max-width: 320px;
	}

	.MyProfile_btn {
		padding-right: 0;
		padding-left: 0;
		margin-left: 0.8rem;
		margin-right: 0;
	}

	.main_logo {
		margin-right: 0;
		margin-left: 1rem;
	}

	.main_nav {
		margin-left: 3.1rem;
	}

	.btn_sell {
		width: 75px;
		margin-left: 5rem;
	}

	.btn_gift {
		margin-left: 0.5rem;
	}

	.description_text {
		width: 312px;
		margin-right: 0;
	}

	.btn_report {
		margin-top: 1rem;
		margin-left: 0.5rem;
	}

	.btn_report,
	.btn_likes {
		min-width: 130px;
	}

	.btn_likes {
		background-position: 9% center;
	}


	.btn_likes,
	.description_text,
	.title_description,
	.text_buyNow,
	.price_buyNow,
	.box_avatar,
	.text_by,
	.title_nameAuthor {
		margin-left: 0.5rem;
	}

	.btn_gift {
		transform: translateY(-32.5%);
	}

}