@font-face {
  font-family: Anton;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Anton/AntonRegular.ttf) format("truetype");
}

@font-face {
  font-family: ProductSans;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ProductSans/ProductSansBold.ttf) format("truetype");
}

@font-face {
  font-family: ProductSans;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ProductSans/ProductSansRegular.ttf) format("truetype");
}

@font-face {
  font-family: Plakette;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Plakette/PlaketteSerialBold.ttf) format("truetype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaBold.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaSemiBold.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaMedium.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaRegular.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaExtraBold.otf) format("opentype");
}

@font-face {
  font-family: Anton;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Anton/AntonRegular.ttf) format("truetype");
}

@font-face {
  font-family: ProductSans;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ProductSans/ProductSansBold.ttf) format("truetype");
}

@font-face {
  font-family: ProductSans;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ProductSans/ProductSansRegular.ttf) format("truetype");
}

@font-face {
  font-family: Plakette;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Plakette/PlaketteSerialBold.ttf) format("truetype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaBold.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaSemiBold.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaMedium.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaRegular.otf) format("opentype");
}

@font-face {
  font-family: Axiforma;
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/Axiforma/AxiformaExtraBold.otf) format("opentype");
}

html {
  font-size: 16px;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.section_create,
.section_start,
.section_header {
  background-image: url(../img/Fon.jpg);
  background-size: cover;
}

.main_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main_logo {
  padding-top: 1rem;
}

.main_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.main_menu li:first-child {
  padding-left: 0;
}

.main_item {
  padding-top: 2.1rem;
  padding-left: 1.75rem;
}

.main_item-link {
  text-decoration: none;
  color: #12141B;
  font-family: Axiforma;
  font-weight: 500;
  font-size: 1.125rem;
}

.btn_start,
.profile_btn,
.create-btn {
  outline: none;
  background-color: #12141B;
  color: #ffffff;
  font-family: Axiforma;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.profile_btn {
  font-size: 1.125rem;
  margin-top: 1.375rem;
  margin-left: 2.5rem;
  width: 92px;
  height: 48px;
}

.profile_btn:hover {
  background-color: #1B1E28;
}

.profile_btn:active {
  background-color: #000;
}

.MyProfile_btn {
  font-size: 1.125rem;
  margin-top: 1.125rem;
  margin-left: 2.5rem;
  width: 156px;
  height: 57px;
  outline: none;
  background-color: #fff;
  border: 1px solid #BDBDBD;
  color: #12141B;
  font-family: Axiforma;
  font-weight: 700;
  cursor: pointer;
  background-image: url(../img/dali.png);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 9% center;
  padding-left: 3rem;
  padding-top: 0.2rem;
  margin-bottom: 2rem;
}

.create-btn {
  font-size: 1.5rem;
  width: 229px;
  height: 56px;
  margin-top: 3rem;
  margin-bottom: 7.25rem;
  display: block;
}

.create-btn:hover {
  background-color: #1B1E28;
}

.create-btn:active {
  background-color: #000;
}

.painting_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.create-img {
  margin-top: 6.75rem;
  max-width: 100%;
}

.create_img-framed {
  max-width: 100%;
}

.create_img-framed-large {
  max-width: 100%;
  position: relative;
  left: 90px;
  display: none;
}

.create_img-quote {
  max-width: 100%;
}

.link_telegram {
  display: block;
  text-align: right;
  margin-top: 1rem;
  position: fixed;
  -webkit-transform: translateX(800%);
  transform: translateX(800%);
}

.section_cryptopainters {
  background-image: url(../img/Fon_blue.png);
  background-size: cover;
  padding-bottom: 3.8rem;
}

.cryptopainters_box {
  text-align: center;
}

.img_cryptopainters {
  margin-top: 3rem;
  max-width: 100%;
}

.text_cryptopainters {
  margin: 0;
  margin-top: 1.7rem;
  text-align: center;
  font-size: 1.25rem;
  font-family: Axiforma;
  font-weight: 700;
  line-height: 140%;
  color: #111219;
}

.section_start {
  text-align: center;
}

.start_text-anyuser,
.start_text-join {
  font-size: 1.5rem;
}

.start_text-anyuser {
  font-family: Axiforma;
  font-weight: 400;
  color: #11131A;
  opacity: .5;
  margin: 0;
  padding-top: 4rem;
}

.start_text-anyuser {
  padding-top: 2rem;
}

.start_text-join {
  font-weight: 800;
  color: #12141B;
  margin-bottom: 2rem;
  font-family: Axiforma;
  font-weight: 800;
}

.btn_start {
  text-align: center;
  width: 143px;
  height: 53px;
  font-size: 1.5rem;
  position: relative;
  padding-right: 2rem;
  padding-top: 0.2rem;
  margin-bottom: 7.5rem;
  margin-right: 4rem;
}

.btn_start:hover {
  background-color: #1B1E28;
}

.btn_start:active {
  background-color: #000;
}

.btn_start:after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  position: absolute;
  right: 22px;
  top: 20px;
}

.main_footer {
  padding-bottom: 2.5rem;
  background: url(../img/footer/fon_footer.png) no-repeat, url(../img/Fon.jpg) no-repeat;
  background-size: cover;
}

.footer_menuList-box {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.footer_group {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_menu {
  padding-left: 0;
}

.footer_item {
  margin-bottom: 1rem;
  margin-right: 4.125rem;
  list-style: none;
}

.footer_item-link {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-family: ProductSans;
  font-weight: 400;
  padding-top: 1.33333333333rem;
}

.line,
.line2 {
  position: relative;
}

.line:after,
.line2:after {
  position: absolute;
  display: inline-block;
  content: "";
  height: 84px;
  width: 1px;
  background-image: url(../img/footer/Line.svg);
}

.line:after {
  left: 310px;
  top: 35px;
}

.line2:after {
  left: 310px;
  top: 35px;
}

.MyProfile_btn {
  margin-bottom: 0;
}

.main_item {
  padding-top: 2.375rem;
}

.section_AddTheFrame,
.section_ArtStudio,
.section_header {
  background-image: url(../img/fon.png);
  background-size: cover;
  padding-bottom: 0.5rem;
}

.section_ArtStudio {
  padding-top: 1rem;
}

.section_ArtStudio_header {
  background-color: #12151E;
}

.title_ArtStudio-header {
  font-size: 2rem;
  font-family: Anton;
  font-weight: 400;
  color: #fff;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  margin-left: 0rem;
  margin-top: 0;
  margin-bottom: 0;
}

.title_ArtStudio-header:before {
  background-image: url(../img/arrow_down.svg);
  display: inline-block;
  content: "";
  width: 32px;
  height: 32px;
  position: relative;
  top: 2px;
  right: 6px;
}

.slider_ArtStudio {
  padding-bottom: 2rem;
}

.slider_ArtStudio div {
  text-align: center;
}

.ArtStudio_content img {
  margin: 0 auto;
}

.my-dots {
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}

.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
}

.my-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url("../img/Ellipse_grey.svg");
  text-align: center;
  color: grey;
}

.my-dots li.slick-active button:before {
  opacity: 1;
  color: yellow;
  content: url("../img/Ellipse_yellow.svg");
}

.label_description-create,
.label_name-create {
  font-size: 1.5rem;
  font-family: Axiforma;
  font-weight: 400;
  color: #000000;
  opacity: .87;
  display: block;
  margin-bottom: 0.7rem;
}

.label_description-create {
  margin-top: 2rem;
}

.input_description-create,
.input_name-create {
  font-family: Axiforma;
  font-weight: 400;
  font-size: 1.125rem;
  color: #000000;
  opacity: .87;
  display: block;
  padding-left: 1rem;
}

.input_description-create:active,
.input_description-create:focus,
.input_name-create:active,
.input_name-create:focus {
  outline: none;
}

.input_name-create {
  width: 367px;
  height: 51px;
}

.input_description-create {
  width: 760px;
  height: 151px;
  padding-top: 1rem;
  padding-bottom: 0;
  margin-bottom: 4rem;
  resize: none;
}

.title_AddTheFrame {
  font-size: 1.5rem;
  font-family: Axiforma;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 3rem;
  position: relative;
}

.title_AddTheFrame:after {
  content: "";
  display: inline-block;
  width: 303px;
  height: 13px;
  background-image: url(../img/AddTheFrame_img.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 430px;
}

.img_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.box_all {
  position: relative;
  margin-bottom: 2rem;
}

.img_data {
  background-image: url(../img/border_metal/2.png);
  background-repeat: no-repeat;
  width: 284px;
  height: 294px;
  text-align: center;
  padding-top: 2rem;
}

.img_likes {
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

.box_forSale {
  background-color: #fff;
  max-width: 130px;
  height: 33px;
  margin: 0 auto;
  -webkit-transform: translateY(-11%);
  transform: translateY(-11%);
  text-align: center;
}

.text_forSale {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-right: 0.7rem;
  padding-left: 0.2rem;
}

.text_forSale .price_forSale {
  color: #000;
  opacity: .54;
  padding-left: 0.6rem;
}

.footer_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.data_author,
.data_number {
  font-family: Axiforma;
  font-weight: 500;
  font-size: 0.75rem;
  color: #000000;
  opacity: .54;
}

.data_author {
  -webkit-transform: translateY(-130%) translateX(-30%);
  transform: translateY(-130%) translateX(-30%);
  margin-left: 2rem;
}

.data_number {
  -webkit-transform: translateY(-130%) translateX(30%);
  transform: translateY(-130%) translateX(30%);
}

.btn_DoneCreate {
  width: 220px;
  height: 56px;
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  font-family: Axiforma;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn_DoneCreate:active,
.btn_DoneCreate:focus {
  border: none;
  outline: none;
}

.btn_DoneCreate:hover {
  background-color: #1B1E28;
}

.btn_DoneCreate:active {
  background-color: #000;
}

.footer_box-btn {
  text-align: center;
  margin-bottom: 5.5rem;
}

/*# sourceMappingURL=main.css.map */



@media (min-width: 81.25em) and (max-width: 312.5em) {
  .create_img-framed-large {
    min-width: 100%;
    position: relative;
    left: 90px;
    display: block;
  }

  .create_img-framed {
    display: none;
  }

  .link_telegram {
    -webkit-transform: translateX(1030%);
    transform: translateX(1030%);
  }
}

@media screen and (max-width: 66.875em) {
  .create-img {
    margin-right: 4rem;
  }

  .section_AddTheFrame,
  .section_ArtStudio,
  .section_header {
    background-size: auto !important;
  }
}

@media (max-width: 56.25em) {
  .container {
    max-width: 360px;
  }

  .main_menu,
  .main_nav,
  .main_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .main_item-link {
    font-size: 0.75rem;
  }

  .main_logo {
    margin-right: 2rem;
  }

  .logo {
    width: 52px;
    height: 39px;
  }

  .main_item {
    padding-top: 1.5rem;
  }

  .profile_btn {
    width: 72px;
    height: 36px;
    font-size: 0.875rem;
    margin-top: 1.1rem;
  }

  .create_img-framed {
    display: none;
  }

  .create_img-framed-large {
    display: none;
  }

  .create-btn {
    display: none;
  }

  .framed_box {
    position: absolute;
  }

  .link_telegram {
    display: none;
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
  }

  .create-img {
    max-width: 268px;
    height: 120px;
    margin-top: 2.875rem;
    margin-left: 0.5rem;
  }

  .section_start {
    text-align: left;
  }

  .text_cryptopainters {
    margin-left: 0.5rem;
    text-align: left;
    font-size: 0.75rem;
  }

  .text_cryptopainters br {
    display: none;
  }

  .section_create,
  .section_start,
  .section_header {
    background-image: url(../img/Fon.jpg);
    background-size: auto;
  }

  .section_AddTheFrame {
    background-size: cover;
  }

  .start_text-anyuser {
    font-size: 1rem;
    line-height: 150%;
    margin-left: 0.5rem;
  }

  .start_text-join {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }

  .img_cryptopainters {
    width: 239px;
    height: 91px;
    text-align: left;
    margin-right: 7.5rem;
    margin-left: 0.5rem;
  }

  .painting_box {
    margin-bottom: 2.8rem;
  }

  .section_cryptopainters {
    padding-bottom: 1.8rem;
  }

  .btn_start {
    width: 97px;
    height: 40px;
    font-size: 0.875rem;
    margin-bottom: 3rem;
    margin-left: 0.5rem;
  }

  .btn_start:after {
    width: 8px;
    height: 8px;
    background-image: url(../img/Vector2.svg);
    background-size: 8px 8px;
    position: absolute;
    right: 22px;
    top: 16px;
  }

  .footer_menuList-box {
    padding-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }

  .footer_item-link {
    font-size: 1rem;
  }

  .main_footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(../img/footer/fon_footer-mobile.png) center no-repeat, url(../img/Fon.jpg) no-repeat;
    background-size: contain, auto;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .mobile_menu {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1rem;
  }

  .mobile_item {
    margin-left: -3rem;
  }

  .mobile_group {
    padding-bottom: 0;
  }

  .footer_item {
    margin-right: 7.125rem;
  }

  .mobile_item {
    margin-right: 0;
  }

  .mobile_item2 {
    width: 96px;
    margin-right: 4rem;
    -webkit-transform: translateX(40%) translateY(25%);
    transform: translateX(40%) translateY(25%);
  }

  .mobile_item2:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .mobile_privacy {
    -webkit-transform: translateX(20%) translateY(15%);
    transform: translateX(20%) translateY(15%);
  }

  .footer_group:nth-child(2) {
    margin-left: -2rem;
  }

  .line2,
  .line {
    position: relative;
  }

  .line2:after,
  .line:after {
    position: absolute;
    left: 0px;
    top: 135px;
    display: inline-block;
    content: "";
    height: 1px;
    width: 240px;
    background-image: url(../img/footer/Line2.png);
  }

  .line:after {
    left: -0px;
    top: 135px;
  }

  .line2:after {
    left: 1px;
    top: 135px;
  }

  .mobile_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 20em) {
  .container {
    max-width: 320px;
  }

  .main_item {
    padding-left: 1rem;
  }

  .profile_btn {
    margin-left: 1rem;
  }

  .create_box {
    max-width: 320px;
  }

  .create-img {
    margin-left: 0.5rem;
    margin-right: 0;
  }

  .link_telegram {
    position: relative;
    top: 350px;
    left: 270px;
  }

  .img_cryptopainters {
    margin-right: 4rem;
  }
}