@import "../../../MainPage/scss/fonts";
@import "../../../MainPage/scss/main";


.section_question,
.section_header,
.section_FAQs {
	background-image: url(../img/fon.png);
	background-size: cover;
}

.section_FAQs {
	padding-bottom: 2rem;
	margin-bottom: 0;
	padding-top: 1.5rem;
}

.section_question {
	padding-bottom: 4rem;
}

.MyProfile_btn {
	margin-bottom: 0;
}

.main_item {
	padding-top: 2.375rem;
}


// .active {
// 	position: relative;
// 	&:after {
// 		content: "";
// 		display: inline-block;
// 		background-image: url(../img/painting.png);
// 		background-repeat: no-repeat;
// 		background-size: 69px 7px;
// 		position: absolute;
// 		right: 0;
// 		top: 19px;
// 		bottom: 0;
// 		width: 69px;
// 		height: 7px;
// 	}
// }

.img_FAQs {
	text-align: center;
	width: 100%;
}

.title_question {
	font-size: 2rem;
	font-family: Axiforma;
	font-weight: 700;
	color: #000;
	cursor: pointer;
	padding-top: 2rem;
	margin-top: 0;
}

.text_question {
	font-family: Axiforma;
	font-weight: 400;
	font-size: 1.125rem;
	color: #000;
	opacity: .54;
	line-height: 150%;
	margin-bottom: 1.5rem;
}

.title_text {
	margin-bottom: 0;
	margin-top: 0;
}

hr {
	color: #000000;
	opacity: .6;
}

.answer_box {
	display: none;
}

.titleWhatIsCP,
.titleCreating,
.titleTransactions,
.titleTechnical {
	background-image: url(../img/close.svg);
	background-repeat: no-repeat;
	background-position: right 65%;
}

.img_minus {
	background-image: url(../img/minus.svg);
	background-repeat: no-repeat;
}